# Importacion y carga de datos

In [1]:
import pandas as pd
import numpy as np

In [138]:
common_player_info = pd.read_csv('common_player_info.csv')
draft_combine_stats = pd.read_csv('draft_combine_stats.csv')
draft_history = pd.read_csv('draft_history.csv')
game_info = pd.read_csv('game_info.csv')
game_summary = pd.read_csv('game_summary.csv')
game = pd.read_csv('game.csv')
inactive_players = pd.read_csv('inactive_players.csv')
line_score = pd.read_csv('line_score.csv')
officials = pd.read_csv('officials.csv')
other_stats = pd.read_csv('other_stats.csv')
play_by_play = pd.read_csv('play_by_play.csv')
player = pd.read_csv('player.csv')
team_details = pd.read_csv('team_details.csv')
team_history = pd.read_csv('team_history.csv')
team_info_common = pd.read_csv('team_info_common.csv')
team = pd.read_csv('team.csv')

# Limpieza de datos

## Tabla common_player_info

In [96]:
common_player_info.isnull().sum(), common_player_info.shape

(person_id                             0
 first_name                            0
 last_name                             0
 display_first_last                    0
 display_last_comma_first              0
 display_fi_last                       0
 player_slug                           0
 birthdate                             0
 school                               15
 country                               1
 last_affiliation                      0
 height                               96
 weight                              100
 season_exp                            0
 jersey                              980
 position                             63
 rosterstatus                          0
 games_played_current_season_flag      0
 team_id                               0
 team_name                           702
 team_abbreviation                   702
 team_code                           702
 team_city                           702
 playercode                            1
 from_year                            15
 to_year                              15
 dleague_flag                          0
 nba_flag                              0
 games_played_flag                     0
 draft_year                            0
 draft_round                         164
 draft_number                        223
 greatest_75_flag                      0
 dtype: int64,
 (4171, 33))

In [ ]:
common_player_info

In [97]:
null_common_player_info = common_player_info.isnull().sum()
total_register = len(common_player_info)
null_result = null_common_player_info[null_common_player_info > 0]

df_null_common_player_info = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_common_player_info

                   Valores nulos  Total registros  Porcentaje
school                        15             4171        0.36
country                        1             4171        0.02
height                        96             4171        2.30
weight                       100             4171        2.40
jersey                       980             4171       23.50
position                      63             4171        1.51
team_name                    702             4171       16.83
team_abbreviation            702             4171       16.83
team_code                    702             4171       16.83
team_city                    702             4171       16.83
playercode                     1             4171        0.02
from_year                     15             4171        0.36
to_year                       15             4171        0.36
draft_round                  164             4171        3.93
draft_number                 223             4171        5.35

## Tabla draft_combine_stats

In [21]:
draft_combine_stats.isnull().sum(), draft_combine_stats.shape

(season                             0
 player_id                          0
 first_name                         0
 last_name                          0
 player_name                        0
 position                           5
 height_wo_shoes                   49
 height_wo_shoes_ft_in             49
 height_w_shoes                   194
 height_w_shoes_ft_in             194
 weight                            50
 wingspan                          49
 wingspan_ft_in                    49
 standing_reach                    50
 standing_reach_ft_in              50
 body_fat_pct                     199
 hand_length                      483
 hand_width                       483
 standing_vertical_leap           185
 max_vertical_leap                185
 lane_agility_time                194
 modified_lane_agility_time       791
 three_quarter_sprint             190
 bench_press                      394
 spot_fifteen_corner_left        1128
 spot_fifteen_break_left         1126
 spot_fifteen_top_key            1126
 spot_fifteen_break_right        1126
 spot_fifteen_corner_right       1126
 spot_college_corner_left         957
 spot_college_break_left         1036
 spot_college_top_key            1036
 spot_college_break_right        1036
 spot_college_corner_right       1036
 spot_nba_corner_left             985
 spot_nba_break_left              985
 spot_nba_top_key                 985
 spot_nba_break_right             985
 spot_nba_corner_right            985
 off_drib_fifteen_break_left     1036
 off_drib_fifteen_top_key        1036
 off_drib_fifteen_break_right    1036
 off_drib_college_break_left     1092
 off_drib_college_top_key        1171
 off_drib_college_break_right    1171
 on_move_fifteen                 1054
 on_move_college                 1086
 dtype: int64,
 (1202, 47))

In [23]:
null_draft_combine_stats = draft_combine_stats.isnull().sum()
total_register = len(draft_combine_stats)
null_result = null_draft_combine_stats[null_draft_combine_stats > 0]

df_null_draft_combine_stats = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_draft_combine_stats

                              Valores nulos  Total registros  Porcentaje
position                                  5             1202        0.42
height_wo_shoes                          49             1202        4.08
height_wo_shoes_ft_in                    49             1202        4.08
height_w_shoes                          194             1202       16.14
height_w_shoes_ft_in                    194             1202       16.14
weight                                   50             1202        4.16
wingspan                                 49             1202        4.08
wingspan_ft_in                           49             1202        4.08
standing_reach                           50             1202        4.16
standing_reach_ft_in                     50             1202        4.16
body_fat_pct                            199             1202       16.56
hand_length                             483             1202       40.18
hand_width                              483             1202       40.18
standing_vertical_leap                  185             1202       15.39
max_vertical_leap                       185             1202       15.39
lane_agility_time                       194             1202       16.14
modified_lane_agility_time              791             1202       65.81
three_quarter_sprint                    190             1202       15.81
bench_press                             394             1202       32.78
spot_fifteen_corner_left               1128             1202       93.84
spot_fifteen_break_left                1126             1202       93.68
spot_fifteen_top_key                   1126             1202       93.68
spot_fifteen_break_right               1126             1202       93.68
spot_fifteen_corner_right              1126             1202       93.68
spot_college_corner_left                957             1202       79.62
spot_college_break_left                1036             1202       86.19
spot_college_top_key                   1036             1202       86.19
spot_college_break_right               1036             1202       86.19
spot_college_corner_right              1036             1202       86.19
spot_nba_corner_left                    985             1202       81.95
spot_nba_break_left                     985             1202       81.95
spot_nba_top_key                        985             1202       81.95
spot_nba_break_right                    985             1202       81.95
spot_nba_corner_right                   985             1202       81.95
off_drib_fifteen_break_left            1036             1202       86.19
off_drib_fifteen_top_key               1036             1202       86.19
off_drib_fifteen_break_right           1036             1202       86.19
off_drib_college_break_left            1092             1202       90.85
off_drib_college_top_key               1171             1202       97.42
off_drib_college_break_right           1171             1202       97.42
on_move_fifteen                        1054             1202       87.69
on_move_college                        1086             1202       90.35

Eliminacion de columnas con un porcentaje mayor al 75% de nulos

In [ ]:
null_75 = df_null_draft_combine_stats[df_null_draft_combine_stats["Porcentaje"] > 75]
null_75

                              Valores nulos  Total registros  Porcentaje
spot_fifteen_corner_left               1128             1202       93.84
spot_fifteen_break_left                1126             1202       93.68
spot_fifteen_top_key                   1126             1202       93.68
spot_fifteen_break_right               1126             1202       93.68
spot_fifteen_corner_right              1126             1202       93.68
spot_college_corner_left                957             1202       79.62
spot_college_break_left                1036             1202       86.19
spot_college_top_key                   1036             1202       86.19
spot_college_break_right               1036             1202       86.19
spot_college_corner_right              1036             1202       86.19
spot_nba_corner_left                    985             1202       81.95
spot_nba_break_left                     985             1202       81.95
spot_nba_top_key                        985             1202       81.95
spot_nba_break_right                    985             1202       81.95
spot_nba_corner_right                   985             1202       81.95
off_drib_fifteen_break_left            1036             1202       86.19
off_drib_fifteen_top_key               1036             1202       86.19
off_drib_fifteen_break_right           1036             1202       86.19
off_drib_college_break_left            1092             1202       90.85
off_drib_college_top_key               1171             1202       97.42
off_drib_college_break_right           1171             1202       97.42
on_move_fifteen                        1054             1202       87.69
on_move_college                        1086             1202       90.35

In [ ]:
delete_columns = list(null_75.index)
draft_combine_stats.drop(columns=delete_columns, inplace=True)

draft_combine_stats

,season,player_id,first_name,last_name,player_name,position,height_wo_shoes,height_wo_shoes_ft_in,height_w_shoes,height_w_shoes_ft_in,...,standing_reach_ft_in,body_fat_pct,hand_length,hand_width,standing_vertical_leap,max_vertical_leap,lane_agility_time,modified_lane_agility_time,three_quarter_sprint,bench_press
0,2001,12033,Adam,Allenspach,Adam Allenspach,C,83.50,6' 11.5'',NaN,NaN,...,8' 11'',12.4,NaN,NaN,28.5,31.0,11.90,NaN,3.40,16.0
1,2001,2240,Gilbert,Arenas,Gilbert Arenas,SG,74.25,6' 2.25'',NaN,NaN,...,8' 3.5'',5.3,NaN,NaN,31.5,36.0,NaN,NaN,3.25,12.0
2,2001,2220,Brandon,Armstrong,Brandon Armstrong,SG,75.50,6' 3.5'',NaN,NaN,...,8' 3.5'',9.3,NaN,NaN,30.0,37.0,10.91,NaN,3.20,6.0
3,2001,2203,Shane,Battier,Shane Battier,SF-PF,80.25,6' 8.25'',NaN,NaN,...,8' 9'',9.3,NaN,NaN,29.5,33.0,10.95,NaN,3.30,12.0
4,2001,12034,Cookie,Belcher,Cookie Belcher,SG-PG,75.00,6' 3'',NaN,NaN,...,8' 3'',5.3,NaN,NaN,35.0,41.5,11.26,NaN,2.91,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,2023,1641705,Victor,Wembanyama,Victor Wembanyama,C,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1198,2023,1641727,Dariq,Whitehead,Dariq Whitehead,SG,77.75,6' 5.75'',NaN,NaN,...,8' 7.50'',NaN,8.50,10.00,NaN,NaN,NaN,NaN,NaN,NaN
1199,2023,1641715,Cam,Whitmore,Cam Whitmore,SF,77.75,6' 5.75'',NaN,NaN,...,8' 7.50'',NaN,8.00,8.25,31.5,40.5,10.82,3.33,3.20,NaN
1200,2023,1630592,Jalen,Wilson,Jalen Wilson,SF,77.50,6' 5.50'',NaN,NaN,...,8' 3.50'',NaN,8.25,9.00,31.5,35.0,11.26,3.15,3.20,NaN
1201,2023,1631209,Isaiah,Wong,Isaiah Wong,SG,74.50,6' 2.50'',NaN,NaN,...,8' 1.50'',NaN,8.25,9.50,32.5,37.0,10.93,NaN,3.22,NaN

## Tabla draft_history

In [35]:
draft_history.isnull().sum(), draft_history.shape

(person_id               0
 player_name             0
 season                  0
 round_number            0
 round_pick              0
 overall_pick            0
 draft_type              0
 team_id                 0
 team_city               0
 team_name               0
 team_abbreviation       0
 organization           19
 organization_type      19
 player_profile_flag     0
 dtype: int64,
 (7990, 14))

In [94]:
draft_history = draft_history[draft_history["season"] >= 2000]
draft_history.isnull().sum(), draft_history.shape

(person_id              0
 player_name            0
 season                 0
 round_number           0
 round_pick             0
 overall_pick           0
 draft_type             0
 team_id                0
 team_city              0
 team_name              0
 team_abbreviation      0
 organization           2
 organization_type      2
 player_profile_flag    0
 dtype: int64,
 (1365, 14))

In [95]:
null_draft_history = draft_history.isnull().sum()
total_register = len(draft_history)
null_result = null_draft_history[null_draft_history > 0]

df_null_draft_history = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_draft_history

                   Valores nulos  Total registros  Porcentaje
organization                   2             1365        0.15
organization_type              2             1365        0.15

## Tabla game_info

In [39]:
game_info.isnull().sum(), game_info.shape

(game_id           0
 game_date         0
 attendance     5380
 game_time     28111
 dtype: int64,
 (58053, 4))

In [40]:
game_info

        game_id            game_date  attendance game_time
0      24600001  1946-11-01 00:00:00         NaN       NaN
1      24600003  1946-11-02 00:00:00         NaN       NaN
2      24600002  1946-11-02 00:00:00         NaN       NaN
3      24600004  1946-11-02 00:00:00         NaN       NaN
4      24600005  1946-11-02 00:00:00         NaN       NaN
...         ...                  ...         ...       ...
58048  42200403  2023-06-07 00:00:00     20019.0      2:24
58049  42200404  2023-06-09 00:00:00     20184.0      2:29
58050  42200405  2023-06-12 00:00:00     19537.0      2:22
58051  32200001  2023-02-19 00:00:00     17886.0      0:00
58052  32200001  2023-02-19 00:00:00     17886.0      0:00

[58053 rows x 4 columns]

In [52]:
null_game_info = game_info.isnull().sum()
total_register = len(game_info)
null_result = null_game_info[null_game_info > 0]

df_null_game_info = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_info

            Valores nulos  Total registros  Porcentaje
attendance           5380            58053        9.27
game_time           28111            58053       48.42

Filtro por fechas del año del 2000 en adelante

In [ ]:
game_info_2000_plus = game_info[game_info["game_date"] >= "2000-01-01"]
game_info_2000_plus

        game_id            game_date  attendance game_time
30596  29900423  2000-01-02 00:00:00     19600.0      2:46
30597  29900426  2000-01-03 00:00:00     11107.0      2:06
30598  29900429  2000-01-03 00:00:00     19196.0      2:06
30599  29900428  2000-01-03 00:00:00     22353.0      2:06
30600  29900425  2000-01-03 00:00:00     14886.0      2:49
...         ...                  ...         ...       ...
58048  42200403  2023-06-07 00:00:00     20019.0      2:24
58049  42200404  2023-06-09 00:00:00     20184.0      2:29
58050  42200405  2023-06-12 00:00:00     19537.0      2:22
58051  32200001  2023-02-19 00:00:00     17886.0      0:00
58052  32200001  2023-02-19 00:00:00     17886.0      0:00

[27457 rows x 4 columns]

In [ ]:
null_game_info_2000_plus = game_info_2000_plus.isnull().sum()
total_register = len(game_info_2000_plus)
null_result = null_game_info_2000_plus[null_game_info_2000_plus > 0]

df_null_game_info_2000_plus = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_info_2000_plus

            Valores nulos  Total registros  Porcentaje
attendance            876            27457        3.19
game_time             843            27457        3.07

## Tabla game_summary

In [77]:
game_summary.isnull().sum(), game_summary.shape

(game_date_est                           0
 game_sequence                       25532
 game_id                                 0
 game_status_id                          0
 game_status_text                    25986
 gamecode                                0
 home_team_id                            0
 visitor_team_id                         0
 season                                  0
 live_period                             0
 live_pc_time                        56086
 natl_tv_broadcaster_abbreviation    51907
 live_period_time_bcast                  0
 wh_status                               0
 dtype: int64,
 (58110, 14))

In [78]:
null_game_summary = game_summary.isnull().sum()
total_register = len(game_summary)
null_result = null_game_summary[null_game_summary > 0]

df_null_game_summary = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_summary

                                  Valores nulos  Total registros  Porcentaje
game_sequence                             25532            58110       43.94
game_status_text                          25986            58110       44.72
live_pc_time                              56086            58110       96.52
natl_tv_broadcaster_abbreviation          51907            58110       89.33

Filtro por el año 2000 en adealte

In [79]:
game_summary = game_summary[game_summary["game_date_est"] >= "2000-01-01"]
game_summary

,game_date_est,game_sequence,game_id,game_status_id,game_status_text,gamecode,home_team_id,visitor_team_id,season,live_period,live_pc_time,natl_tv_broadcaster_abbreviation,live_period_time_bcast,wh_status
30596,2000-01-02 00:00:00,1.0,29900423,3,Final,20000102/ORLMIA,1610612748,1610612753,1999,5,NaN,NaN,Q5 -,1
30597,2000-01-03 00:00:00,3.0,29900426,3,Final,20000103/GSWWAS,1610612764,1610612744,1999,4,NaN,NaN,Q4 -,1
30598,2000-01-03 00:00:00,6.0,29900429,3,Final,20000103/DENUTA,1610612762,1610612743,1999,4,NaN,NaN,Q4 -,1
30599,2000-01-03 00:00:00,5.0,29900428,3,Final,20000103/PORCHI,1610612741,1610612757,1999,4,NaN,NaN,Q4 -,1
30600,2000-01-03 00:00:00,2.0,29900425,3,Final,20000103/MILPHI,1610612755,1610612749,1999,5,NaN,NaN,Q5 -,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58105,2023-06-07 00:00:00,1.0,42200403,3,Final,20230607/DENMIA,1610612748,1610612743,2022,4,,ABC,Q4 - ABC,1
58106,2023-06-09 00:00:00,1.0,42200404,3,Final,20230609/DENMIA,1610612748,1610612743,2022,4,,ABC,Q4 - ABC,1
58107,2023-06-12 00:00:00,1.0,42200405,3,Final,20230612/MIADEN,1610612743,1610612748,2022,4,,ABC,Q4 - ABC,1
58108,2023-02-19 00:00:00,1.0,32200001,3,Final,20230219/GNSLBN,1610616834,1610616833,2022,4,,TNT/TBS,Q4 - TNT/TBS,1
58109,2023-02-19 00:00:00,1.0,32200001,3,Final,20230219/GNSLBN,1610616834,1610616833,2022,4,,TNT/TBS,Q4 - TNT/TBS,1

In [81]:
null_game_summary = game_summary.isnull().sum()
total_register = len(game_summary)
null_result = null_game_summary[null_game_summary > 0]

df_null_game_summary = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_summary

                                  Valores nulos  Total registros  Porcentaje
live_pc_time                              25490            27514       92.64
natl_tv_broadcaster_abbreviation          21311            27514       77.46

Eliminacion de nullos mayores al 75%

In [84]:
null_75 = df_null_game_summary[df_null_game_summary["Porcentaje"] > 75]
null_75

                                  Valores nulos  Total registros  Porcentaje
live_pc_time                              25490            27514       92.64
natl_tv_broadcaster_abbreviation          21311            27514       77.46

In [85]:
delete_columns = list(null_75.index)
game_summary.drop(columns=delete_columns, inplace=True)

game_summary

,game_date_est,game_sequence,game_id,game_status_id,game_status_text,gamecode,home_team_id,visitor_team_id,season,live_period,live_period_time_bcast,wh_status
30596,2000-01-02 00:00:00,1.0,29900423,3,Final,20000102/ORLMIA,1610612748,1610612753,1999,5,Q5 -,1
30597,2000-01-03 00:00:00,3.0,29900426,3,Final,20000103/GSWWAS,1610612764,1610612744,1999,4,Q4 -,1
30598,2000-01-03 00:00:00,6.0,29900429,3,Final,20000103/DENUTA,1610612762,1610612743,1999,4,Q4 -,1
30599,2000-01-03 00:00:00,5.0,29900428,3,Final,20000103/PORCHI,1610612741,1610612757,1999,4,Q4 -,1
30600,2000-01-03 00:00:00,2.0,29900425,3,Final,20000103/MILPHI,1610612755,1610612749,1999,5,Q5 -,1
...,...,...,...,...,...,...,...,...,...,...,...,...
58105,2023-06-07 00:00:00,1.0,42200403,3,Final,20230607/DENMIA,1610612748,1610612743,2022,4,Q4 - ABC,1
58106,2023-06-09 00:00:00,1.0,42200404,3,Final,20230609/DENMIA,1610612748,1610612743,2022,4,Q4 - ABC,1
58107,2023-06-12 00:00:00,1.0,42200405,3,Final,20230612/MIADEN,1610612743,1610612748,2022,4,Q4 - ABC,1
58108,2023-02-19 00:00:00,1.0,32200001,3,Final,20230219/GNSLBN,1610616834,1610616833,2022,4,Q4 - TNT/TBS,1
58109,2023-02-19 00:00:00,1.0,32200001,3,Final,20230219/GNSLBN,1610616834,1610616833,2022,4,Q4 - TNT/TBS,1

## Tabla game

In [90]:
game.isnull().sum(), game.shape

(season_id                     0
 team_id_home                  0
 team_abbreviation_home        0
 team_name_home                0
 game_id                       0
 game_date                     0
 matchup_home                  0
 wl_home                       2
 min                           0
 fgm_home                     13
 fga_home                  15447
 fg_pct_home               15490
 fg3m_home                 13218
 fg3a_home                 18683
 fg3_pct_home              19074
 ftm_home                     16
 fta_home                   3004
 ft_pct_home                3009
 oreb_home                 18936
 dreb_home                 18999
 reb_home                  15729
 ast_home                  15805
 stl_home                  18849
 blk_home                  18626
 tov_home                  18684
 pf_home                    2856
 pts_home                      0
 plus_minus_home               0
 video_available_home          0
 team_id_away                  0
 team_abbreviation_away        0
 team_name_away                0
 matchup_away                  0
 wl_away                       2
 fgm_away                     13
 fga_away                  15447
 fg_pct_away               15489
 fg3m_away                 13218
 fg3a_away                 18683
 fg3_pct_away              18962
 ftm_away                     13
 fta_away                   3004
 ft_pct_away                3006
 oreb_away                 18936
 dreb_away                 18998
 reb_away                  15725
 ast_away                  15801
 stl_away                  18849
 blk_away                  18625
 tov_away                  18685
 pf_away                    2851
 pts_away                      0
 plus_minus_away               0
 video_available_away          0
 season_type                   0
 dtype: int64,
 (65698, 55))

Filtro del año 2000 en adelante

In [92]:
game = game[game['game_date'] >= "2000-01-01"]
game

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
35272,21999,1610612748,MIA,Miami Heat,29900423,2000-01-02 00:00:00,MIA vs. ORL,W,265,38.0,...,63.0,17.0,6.0,5.0,21.0,32.0,103.0,-8,0,Regular Season
35273,21999,1610612753,ORL,Orlando Magic,29900427,2000-01-03 00:00:00,ORL vs. DET,L,240,40.0,...,48.0,30.0,13.0,5.0,14.0,27.0,118.0,12,0,Regular Season
35274,21999,1610612764,WAS,Washington Wizards,29900426,2000-01-03 00:00:00,WAS vs. GSW,W,240,40.0,...,35.0,25.0,9.0,4.0,20.0,24.0,87.0,-12,0,Regular Season
35275,21999,1610612762,UTA,Utah Jazz,29900429,2000-01-03 00:00:00,UTA vs. DEN,W,240,44.0,...,38.0,21.0,5.0,6.0,18.0,22.0,89.0,-20,0,Regular Season
35276,21999,1610612741,CHI,Chicago Bulls,29900428,2000-01-03 00:00:00,CHI vs. POR,L,240,26.0,...,39.0,30.0,20.0,9.0,23.0,22.0,88.0,25,0,Regular Season
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65693,42022,1610612748,MIA,Miami Heat,42200403,2023-06-07 00:00:00,MIA vs. DEN,L,240,34.0,...,58.0,28.0,3.0,5.0,14.0,18.0,109.0,15,1,Playoffs
65694,42022,1610612748,MIA,Miami Heat,42200404,2023-06-09 00:00:00,MIA vs. DEN,L,240,35.0,...,34.0,26.0,11.0,7.0,8.0,18.0,108.0,13,1,Playoffs
65695,42022,1610612743,DEN,Denver Nuggets,42200405,2023-06-12 00:00:00,DEN vs. MIA,W,240,38.0,...,44.0,18.0,9.0,7.0,8.0,21.0,89.0,-5,1,Playoffs
65696,32022,1610616834,LBN,Team LeBron,32200001,2023-02-19 00:00:00,LBN vs. GNS,L,221,79.0,...,46.0,43.0,8.0,1.0,12.0,2.0,184.0,9,1,All-Star
65697,32022,1610616834,LBN,Team LeBron,32200001,2023-02-19 00:00:00,LBN vs. GNS,L,221,79.0,...,46.0,43.0,8.0,1.0,12.0,2.0,184.0,9,1,All Star

In [93]:
null_game = game.isnull().sum()
total_register = len(game)
null_result = null_game[null_game > 0]

df_null_game= pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game

             Valores nulos  Total registros  Porcentaje
wl_home                  2            30426        0.01
ft_pct_home              2            30426        0.01
wl_away                  2            30426        0.01
ft_pct_away              1            30426        0.00

## Tabla inactive_players

In [57]:
inactive_players.isnull().sum(), inactive_players.shape

(game_id               0
 player_id             0
 first_name            1
 last_name             1
 jersey_num           43
 team_id               0
 team_city             0
 team_name             0
 team_abbreviation     0
 dtype: int64,
 (110191, 9))

Filtro por los juegos filtrados de la tabla game

In [107]:
inactive_players = inactive_players[inactive_players['game_id'].isin(game['game_id'])]
inactive_players

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
150,29900450,168,Chris,Mills,51.0,1610612744,Golden State,Warriors,GSW
151,29900450,317,John,Starks,32.0,1610612744,Golden State,Warriors,GSW
152,29900473,969,Travis,Knight,52.0,1610612747,Los Angeles,Lakers,LAL
153,29900588,445,Wesley,Person,32.0,1610612739,Cleveland,Cavaliers,CLE
154,29900588,255,Grant,Hill,51.0,1610612765,Detroit,Pistons,DET
...,...,...,...,...,...,...,...,...,...
110186,32200001,1629627,Zion,Williamson,1.0,1610616834,Team,LeBron,LBN
110187,32200001,201939,Stephen,Curry,30.0,1610616834,Team,LeBron,LBN
110188,32200001,201142,Kevin,Durant,35.0,1610616833,Team,Giannis,GNS
110189,32200001,1629627,Zion,Williamson,1.0,1610616834,Team,LeBron,LBN
110190,32200001,201939,Stephen,Curry,30.0,1610616834,Team,LeBron,LBN

In [58]:
null_inactive_players = inactive_players.isnull().sum()
total_register = len(inactive_players)
null_result = null_inactive_players[null_inactive_players > 0]

df_null_inactive_players = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_inactive_players

            Valores nulos  Total registros  Porcentaje
first_name              1           110191        0.00
last_name               1           110191        0.00
jersey_num             43           110191        0.04

## Tabla line_score

In [59]:
line_score.isnull().sum(), line_score.shape

(game_date_est                 0
 game_sequence             25532
 game_id                       0
 team_id_home                  0
 team_abbreviation_home        0
 team_city_name_home           0
 team_nickname_home            0
 team_wins_losses_home         0
 pts_qtr1_home              1004
 pts_qtr2_home              1013
 pts_qtr3_home              1045
 pts_qtr4_home              1044
 pts_ot1_home              25759
 pts_ot2_home              27051
 pts_ot3_home              27243
 pts_ot4_home              27270
 pts_ot5_home              45577
 pts_ot6_home              45578
 pts_ot7_home              45578
 pts_ot8_home              45578
 pts_ot9_home              45578
 pts_ot10_home             45578
 pts_home                      0
 team_id_away                  0
 team_abbreviation_away        0
 team_city_name_away           0
 team_nickname_away            0
 team_wins_losses_away         0
 pts_qtr1_away              1010
 pts_qtr2_away              1013
 pts_qtr3_away              1046
 pts_qtr4_away              1046
 pts_ot1_away              25759
 pts_ot2_away              27051
 pts_ot3_away              27243
 pts_ot4_away              27270
 pts_ot5_away              45577
 pts_ot6_away              45578
 pts_ot7_away              45578
 pts_ot8_away              45578
 pts_ot9_away              45578
 pts_ot10_away             45578
 pts_away                      0
 dtype: int64,
 (58053, 43))

Filtro por el año 2000 en adelante

In [99]:
line_score = line_score[line_score['game_date_est'] >= "2000-01-01"]
line_score

,game_date_est,game_sequence,game_id,team_id_home,team_abbreviation_home,team_city_name_home,team_nickname_home,team_wins_losses_home,pts_qtr1_home,pts_qtr2_home,...,pts_ot2_away,pts_ot3_away,pts_ot4_away,pts_ot5_away,pts_ot6_away,pts_ot7_away,pts_ot8_away,pts_ot9_away,pts_ot10_away,pts_away
30596,2000-01-02 00:00:00,1.0,29900423,1610612753,ORL,Orlando,Magic,-,24.0,32.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,111.0
30597,2000-01-03 00:00:00,3.0,29900426,1610612764,WAS,Washington,Wizards,-,28.0,28.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,87.0
30598,2000-01-03 00:00:00,6.0,29900429,1610612743,DEN,Denver,Nuggets,-,16.0,31.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,109.0
30599,2000-01-03 00:00:00,5.0,29900428,1610612757,POR,Portland,Trail Blazers,-,24.0,23.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,63.0
30600,2000-01-03 00:00:00,2.0,29900425,1610612755,PHI,Philadelphia,76ers,-,27.0,25.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,120.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58048,2023-06-07 00:00:00,1.0,42200403,1610612748,MIA,Miami,Heat,1-2,24.0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.0
58049,2023-06-09 00:00:00,1.0,42200404,1610612748,MIA,Miami,Heat,1-3,21.0,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108.0
58050,2023-06-12 00:00:00,1.0,42200405,1610612743,DEN,Denver,Nuggets,4-1,22.0,22.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89.0
58051,2023-02-19 00:00:00,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0
58052,2023-02-19 00:00:00,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0

In [100]:
null_line_score = line_score.isnull().sum()
total_register = len(line_score)
null_result = null_line_score[null_line_score > 0]

df_null_line_score = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_line_score

               Valores nulos  Total registros  Porcentaje
pts_ot1_home               1            27457        0.00
pts_ot2_home               2            27457        0.01
pts_ot3_home               2            27457        0.01
pts_ot4_home               2            27457        0.01
pts_ot5_home           14984            27457       54.57
pts_ot6_home           14984            27457       54.57
pts_ot7_home           14984            27457       54.57
pts_ot8_home           14984            27457       54.57
pts_ot9_home           14984            27457       54.57
pts_ot10_home          14984            27457       54.57
pts_ot1_away               1            27457        0.00
pts_ot2_away               2            27457        0.01
pts_ot3_away               2            27457        0.01
pts_ot4_away               2            27457        0.01
pts_ot5_away           14984            27457       54.57
pts_ot6_away           14984            27457       54.57
pts_ot7_away           14984            27457       54.57
pts_ot8_away           14984            27457       54.57
pts_ot9_away           14984            27457       54.57
pts_ot10_away          14984            27457       54.57

Filtro por nulos mayores al 50%

In [101]:
null_50 = df_null_line_score[df_null_line_score["Porcentaje"] > 50]
null_50

               Valores nulos  Total registros  Porcentaje
pts_ot5_home           14984            27457       54.57
pts_ot6_home           14984            27457       54.57
pts_ot7_home           14984            27457       54.57
pts_ot8_home           14984            27457       54.57
pts_ot9_home           14984            27457       54.57
pts_ot10_home          14984            27457       54.57
pts_ot5_away           14984            27457       54.57
pts_ot6_away           14984            27457       54.57
pts_ot7_away           14984            27457       54.57
pts_ot8_away           14984            27457       54.57
pts_ot9_away           14984            27457       54.57
pts_ot10_away          14984            27457       54.57

In [103]:
delete_columns = list(null_50.index)
line_score.drop(columns=delete_columns, inplace=True)
line_score

,game_date_est,game_sequence,game_id,team_id_home,team_abbreviation_home,team_city_name_home,team_nickname_home,team_wins_losses_home,pts_qtr1_home,pts_qtr2_home,...,team_wins_losses_away,pts_qtr1_away,pts_qtr2_away,pts_qtr3_away,pts_qtr4_away,pts_ot1_away,pts_ot2_away,pts_ot3_away,pts_ot4_away,pts_away
30596,2000-01-02 00:00:00,1.0,29900423,1610612753,ORL,Orlando,Magic,-,24.0,32.0,...,-,18.0,31.0,15.0,32.0,15.0,0.0,0.0,0.0,111.0
30597,2000-01-03 00:00:00,3.0,29900426,1610612764,WAS,Washington,Wizards,-,28.0,28.0,...,-,27.0,24.0,20.0,16.0,0.0,0.0,0.0,0.0,87.0
30598,2000-01-03 00:00:00,6.0,29900429,1610612743,DEN,Denver,Nuggets,-,16.0,31.0,...,-,27.0,29.0,26.0,27.0,0.0,0.0,0.0,0.0,109.0
30599,2000-01-03 00:00:00,5.0,29900428,1610612757,POR,Portland,Trail Blazers,-,24.0,23.0,...,-,12.0,16.0,13.0,22.0,0.0,0.0,0.0,0.0,63.0
30600,2000-01-03 00:00:00,2.0,29900425,1610612755,PHI,Philadelphia,76ers,-,27.0,25.0,...,-,29.0,29.0,31.0,26.0,5.0,0.0,0.0,0.0,120.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58048,2023-06-07 00:00:00,1.0,42200403,1610612748,MIA,Miami,Heat,1-2,24.0,24.0,...,2-1,24.0,29.0,29.0,27.0,0.0,0.0,0.0,0.0,109.0
58049,2023-06-09 00:00:00,1.0,42200404,1610612748,MIA,Miami,Heat,1-3,21.0,30.0,...,3-1,20.0,35.0,31.0,22.0,0.0,0.0,0.0,0.0,108.0
58050,2023-06-12 00:00:00,1.0,42200405,1610612743,DEN,Denver,Nuggets,4-1,22.0,22.0,...,1-4,24.0,27.0,20.0,18.0,0.0,0.0,0.0,0.0,89.0
58051,2023-02-19 00:00:00,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,...,1-0,46.0,53.0,59.0,26.0,0.0,0.0,0.0,0.0,184.0
58052,2023-02-19 00:00:00,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,...,1-0,46.0,53.0,59.0,26.0,0.0,0.0,0.0,0.0,184.0

In [104]:
line_score.isnull().sum(), line_score.shape

(game_date_est             0
 game_sequence             0
 game_id                   0
 team_id_home              0
 team_abbreviation_home    0
 team_city_name_home       0
 team_nickname_home        0
 team_wins_losses_home     0
 pts_qtr1_home             0
 pts_qtr2_home             0
 pts_qtr3_home             0
 pts_qtr4_home             0
 pts_ot1_home              1
 pts_ot2_home              2
 pts_ot3_home              2
 pts_ot4_home              2
 pts_home                  0
 team_id_away              0
 team_abbreviation_away    0
 team_city_name_away       0
 team_nickname_away        0
 team_wins_losses_away     0
 pts_qtr1_away             0
 pts_qtr2_away             0
 pts_qtr3_away             0
 pts_qtr4_away             0
 pts_ot1_away              1
 pts_ot2_away              2
 pts_ot3_away              2
 pts_ot4_away              2
 pts_away                  0
 dtype: int64,
 (27457, 31))

Agregado de 0 a los nulos restantes

In [105]:
line_score = line_score.fillna(0)
line_score.isnull().sum(), line_score.shape

(game_date_est             0
 game_sequence             0
 game_id                   0
 team_id_home              0
 team_abbreviation_home    0
 team_city_name_home       0
 team_nickname_home        0
 team_wins_losses_home     0
 pts_qtr1_home             0
 pts_qtr2_home             0
 pts_qtr3_home             0
 pts_qtr4_home             0
 pts_ot1_home              0
 pts_ot2_home              0
 pts_ot3_home              0
 pts_ot4_home              0
 pts_home                  0
 team_id_away              0
 team_abbreviation_away    0
 team_city_name_away       0
 team_nickname_away        0
 team_wins_losses_away     0
 pts_qtr1_away             0
 pts_qtr2_away             0
 pts_qtr3_away             0
 pts_qtr4_away             0
 pts_ot1_away              0
 pts_ot2_away              0
 pts_ot3_away              0
 pts_ot4_away              0
 pts_away                  0
 dtype: int64,
 (27457, 31))

## Tabla officials

In [108]:
officials.isnull().sum(), officials.shape

(game_id          0
 official_id      0
 first_name       0
 last_name        0
 jersey_num     190
 dtype: int64,
 (70971, 5))

In [110]:
officials

        game_id  official_id first_name  last_name  jersey_num
0      29600059         1140      Bruce  Alexander         9.0
1      29600059         1165       Luis     Grillo         8.0
2      29600059         1153        Joe   Crawford        17.0
3      29600114         1147       Mike   Callahan        24.0
4      29600114         1142       Dick    Bavetta        27.0
...         ...          ...        ...        ...         ...
70966  32200001       200834       Mark    Lindsay        29.0
70967  32200001         1193    Michael      Smith        38.0
70968  32200001       101284       John      Goble        10.0
70969  32200001       200834       Mark    Lindsay        29.0
70970  32200001         1193    Michael      Smith        38.0

[70971 rows x 5 columns]

In [109]:
null_officials = officials.isnull().sum()
total_register = len(officials)
null_result = null_officials[null_officials > 0]

df_null_officials = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_officials

            Valores nulos  Total registros  Porcentaje
jersey_num            190            70971        0.27

## Tabla other_stats

In [111]:
other_stats.isnull().sum(), other_stats.shape

(game_id                      0
 league_id                    0
 team_id_home                 0
 team_abbreviation_home       0
 team_city_home               0
 pts_paint_home               0
 pts_2nd_chance_home          0
 pts_fb_home                  0
 largest_lead_home            0
 lead_changes                 0
 times_tied                   0
 team_turnovers_home          2
 total_turnovers_home       316
 team_rebounds_home        1998
 pts_off_to_home           2123
 team_id_away                 0
 team_abbreviation_away       0
 team_city_away               0
 pts_paint_away               0
 pts_2nd_chance_away          0
 pts_fb_away                  0
 largest_lead_away            0
 team_turnovers_away          2
 total_turnovers_away       316
 team_rebounds_away        1998
 pts_off_to_away           2123
 dtype: int64,
 (28271, 26))

In [ ]:
other_stats

In [112]:
null_other_stats = other_stats.isnull().sum()
total_register = len(other_stats)
null_result = null_other_stats[null_other_stats > 0]

df_null_other_stats = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_other_stats

                      Valores nulos  Total registros  Porcentaje
team_turnovers_home               2            28271        0.01
total_turnovers_home            316            28271        1.12
team_rebounds_home             1998            28271        7.07
pts_off_to_home                2123            28271        7.51
team_turnovers_away               2            28271        0.01
total_turnovers_away            316            28271        1.12
team_rebounds_away             1998            28271        7.07
pts_off_to_away                2123            28271        7.51

## Tabla player

In [113]:
player.isnull().sum(), player.shape

(id            0
 full_name     0
 first_name    6
 last_name     0
 is_active     0
 dtype: int64,
 (4831, 5))

In [115]:
player

           id            full_name first_name     last_name  is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0
...       ...                  ...        ...           ...        ...
4826  1627790           Ante Zizic       Ante         Zizic          0
4827    78647             Jim Zoet        Jim          Zoet          0
4828    78648            Bill Zopf       Bill          Zopf          0
4829  1627826          Ivica Zubac      Ivica         Zubac          1
4830    78650           Matt Zunic       Matt         Zunic          0

[4831 rows x 5 columns]

In [114]:
null_player = player.isnull().sum()
total_register = len(player)
null_result = null_player[null_player > 0]

df_null_player = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_player

            Valores nulos  Total registros  Porcentaje
first_name              6             4831        0.12

## Tabla team_details

In [122]:
team_details.isnull().sum(), team_details.shape

(team_id               0
 abbreviation          0
 nickname              0
 yearfounded           0
 city                  0
 arena                 0
 arenacapacity         9
 owner                 0
 generalmanager        0
 headcoach             1
 dleagueaffiliation    0
 facebook              0
 instagram             0
 twitter               0
 dtype: int64,
 (25, 14))

In [123]:
team_details

,team_id,abbreviation,nickname,yearfounded,city,arena,arenacapacity,owner,generalmanager,headcoach,dleagueaffiliation,facebook,instagram,twitter
0,1610612737,ATL,Hawks,1949.0,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Quin Snyder,College Park Skyhawks,https://www.facebook.com/hawks,https://instagram.com/atlhawks,https://twitter.com/ATLHawks
1,1610612741,CHI,Bulls,1966.0,Chicago,United Center,21711.0,Michael Reinsdorf,Arturas Karnisovas,Billy Donovan,Windy City Bulls,https://www.facebook.com/chicagobulls,https://instagram.com/chicagobulls,https://twitter.com/chicagobulls
2,1610612742,DAL,Mavericks,1980.0,Dallas,American Airlines Center,19200.0,Mark Cuban,Nico Harrison,Jason Kidd,Texas Legends,https://www.facebook.com/dallasmavs,https://instagram.com/dallasmavs,https://twitter.com/dallasmavs
3,1610612743,DEN,Nuggets,1976.0,Denver,Ball Arena,NaN,Stan Kroenke,Calvin Booth,Michael Malone,Grand Rapids Gold,https://www.facebook.com/DenverNuggets,https://instagram.com/nuggets,https://twitter.com/nuggets
4,1610612744,GSW,Warriors,1946.0,Golden State,Chase Center,NaN,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors,https://www.facebook.com/warriors,https://instagram.com/warriors,https://twitter.com/warriors
5,1610612745,HOU,Rockets,1967.0,Houston,Toyota Center,18104.0,Tilman Fertitta,Rafael Stone,Ime Udoka,Rio Grande Valley Vipers,https://www.facebook.com/houstonrockets,https://instagram.com/houstonrockets,https://twitter.com/HoustonRockets
6,1610612746,LAC,Clippers,1970.0,Los Angeles,Crypto.com Arena,19060.0,Steve Ballmer,Michael Winger,Tyronn Lue,Agua Caliente Clippers of Ontario,https://www.facebook.com/LAClippers,https://instagram.com/laclippers,https://twitter.com/LAClippers
7,1610612747,LAL,Lakers,1948.0,Los Angeles,Crypto.com Arena,19060.0,Jeanie Buss,Rob Pelinka,Darvin Ham,South Bay Lakers,https://www.facebook.com/losangeleslakers,https://instagram.com/lakers,https://twitter.com/Lakers
8,1610612748,MIA,Heat,1988.0,Miami,Kaseya Center,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce,https://www.facebook.com/MiamiHeat,https://instagram.com/miamiheat,https://twitter.com/MiamiHEAT
9,1610612749,MIL,Bucks,1968.0,Milwaukee,Fiserv Forum,17500.0,Wesley Edens & Marc Lasry,Jon Horst,Adrian Griffin,Wisconsin Herd,https://www.facebook.com/milwaukeebucks,https://instagram.com/bucks,https://twitter.com/Bucks
10,1610612750,MIN,Timberwolves,1989.0,Minnesota,Target Center,19356.0,Glen Taylor,Tim Connelly,Chris Finch,Iowa Wolves,https://www.facebook.com/MNTimberwolves,https://instagram.com/timberwolves,https://twitter.com/Timberwolves
11,1610612751,BKN,Nets,1976.0,Brooklyn,Barclays Center,NaN,Joe Tsai,Sean Marks,Jacque Vaughn,Long Island Nets,https://www.facebook.com/BrooklynNets,https://instagram.com/brooklynnets,https://twitter.com/BrooklynNets
12,1610612754,IND,Pacers,1976.0,Indiana,Gainbridge Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Rick Carlisle,Fort Wayne Mad Ants,https://www.facebook.com/pacers,https://instagram.com/pacers,https://twitter.com/Pacers
13,1610612755,PHI,76ers,1949.0,Philadelphia,Wells Fargo Center,NaN,Joshua Harris & David Blitzer,Elton Brand,Nick Nurse,Delaware Blue Coats,https://www.facebook.com/Sixers,https://instagram.com/sixers,https://twitter.com/Sixers
14,1610612756,PHX,Suns,1968.0,Phoenix,Footprint Center,NaN,Mat Ishbia,James Jones,Frank Vogel,No Affiliate,https://www.facebook.com/suns,https://instagram.com/suns,https://twitter.com/Suns
15,1610612757,POR,Trail Blazers,1970.0,Portland,Moda Center,19980.0,Jody Allen,Joe Cronin,Chauncey Billups,No Affiliate,https://www.facebook.com/trailblazers,https://instagram.com/trailblazers,https://twitter.com/trailblazers
16,1610612758,SAC,Kings,1948.0,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Monte McNair,Mike Brown,Stockton Kings,https://www.facebook.com/sacramentokings,https://instagram.com/sacramentokings,https://twitter.com/SacramentoKings
17,1610612759,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs,https://www.facebook.com/Spurs,https://instagram.com/spurs,https://twitter.com/spurs
18,1610612760,OKC,Thunder,1967.0,Oklahoma City,Paycom Center,NaN,Clay Bennett,Sam Presti,Mark Daigneault,Oklahoma City Blue,https://www.facebook.com/OKCThunder,https://instagram.com/okcthunder,https://twitter.com/okcthunder
19,1610612761,TOR,Raptors,1995.0,Toronto,Scotiabank Arena,NaN,Lawrence Tanenbaum,Masai Ujiri,NaN,Raptors 905,https://www.facebook.com/TorontoRaptors,https://instagram.com/raptors,https://twitter.com/Raptors
20,1610612762,UTA,Jazz,1974.0,Utah,Delta Center,NaN,Ryan Smith,Justin Zanik,Will Hardy,Salt Lake City Stars,https://www.facebook.com/utahjazz,https://instagram.com/utahjazz,https://twitter.com/utahjazz
21,1610612763,MEM,Grizzlies,1995.0,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle,https://www.facebook.com/MemphisGrizzlies,https://instagram.com/memgrizz,https://twitter.com/memgrizz
22,1610612764,WAS,Wizards,1961.0,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Wes Unseld,Capital City Go-Go,https://www.facebook.com/Wizards,https://instagram.com/washwizards,https://twitter.com/WashWizards
23,1610612765,DET,Pistons,1948.0,Detroit,Little Caesars Arena,NaN,Tom Gores,Ed Stefanski,Monty Williams,Motor City Cruise,https://www.facebook.com/detroitpistons,https://instagram.com/detroitpistons,https://twitter.com/DetroitPistons
24,1610612766,CHA,Hornets,1988.0,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,Steve Clifford,Greensboro Swarm,https://www.facebook.com/hornets,https://instagram.com/hornets,https://twitter.com/hornets

In [124]:
null_team_details = team_details.isnull().sum()
total_register = len(team_details)
null_result = null_team_details[null_team_details > 0]

df_null_team_details = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_team_details

               Valores nulos  Total registros  Porcentaje
arenacapacity              9               25        36.0
headcoach                  1               25         4.0

Eliminacion de columnas de redes sociales

In [125]:
delete_columns = ['facebook', 'instagram', 'twitter']
team_details.drop(columns=delete_columns, inplace=True)
team_details

,team_id,abbreviation,nickname,yearfounded,city,arena,arenacapacity,owner,generalmanager,headcoach,dleagueaffiliation
0,1610612737,ATL,Hawks,1949.0,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Quin Snyder,College Park Skyhawks
1,1610612741,CHI,Bulls,1966.0,Chicago,United Center,21711.0,Michael Reinsdorf,Arturas Karnisovas,Billy Donovan,Windy City Bulls
2,1610612742,DAL,Mavericks,1980.0,Dallas,American Airlines Center,19200.0,Mark Cuban,Nico Harrison,Jason Kidd,Texas Legends
3,1610612743,DEN,Nuggets,1976.0,Denver,Ball Arena,NaN,Stan Kroenke,Calvin Booth,Michael Malone,Grand Rapids Gold
4,1610612744,GSW,Warriors,1946.0,Golden State,Chase Center,NaN,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors
5,1610612745,HOU,Rockets,1967.0,Houston,Toyota Center,18104.0,Tilman Fertitta,Rafael Stone,Ime Udoka,Rio Grande Valley Vipers
6,1610612746,LAC,Clippers,1970.0,Los Angeles,Crypto.com Arena,19060.0,Steve Ballmer,Michael Winger,Tyronn Lue,Agua Caliente Clippers of Ontario
7,1610612747,LAL,Lakers,1948.0,Los Angeles,Crypto.com Arena,19060.0,Jeanie Buss,Rob Pelinka,Darvin Ham,South Bay Lakers
8,1610612748,MIA,Heat,1988.0,Miami,Kaseya Center,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
9,1610612749,MIL,Bucks,1968.0,Milwaukee,Fiserv Forum,17500.0,Wesley Edens & Marc Lasry,Jon Horst,Adrian Griffin,Wisconsin Herd
10,1610612750,MIN,Timberwolves,1989.0,Minnesota,Target Center,19356.0,Glen Taylor,Tim Connelly,Chris Finch,Iowa Wolves
11,1610612751,BKN,Nets,1976.0,Brooklyn,Barclays Center,NaN,Joe Tsai,Sean Marks,Jacque Vaughn,Long Island Nets
12,1610612754,IND,Pacers,1976.0,Indiana,Gainbridge Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Rick Carlisle,Fort Wayne Mad Ants
13,1610612755,PHI,76ers,1949.0,Philadelphia,Wells Fargo Center,NaN,Joshua Harris & David Blitzer,Elton Brand,Nick Nurse,Delaware Blue Coats
14,1610612756,PHX,Suns,1968.0,Phoenix,Footprint Center,NaN,Mat Ishbia,James Jones,Frank Vogel,No Affiliate
15,1610612757,POR,Trail Blazers,1970.0,Portland,Moda Center,19980.0,Jody Allen,Joe Cronin,Chauncey Billups,No Affiliate
16,1610612758,SAC,Kings,1948.0,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Monte McNair,Mike Brown,Stockton Kings
17,1610612759,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
18,1610612760,OKC,Thunder,1967.0,Oklahoma City,Paycom Center,NaN,Clay Bennett,Sam Presti,Mark Daigneault,Oklahoma City Blue
19,1610612761,TOR,Raptors,1995.0,Toronto,Scotiabank Arena,NaN,Lawrence Tanenbaum,Masai Ujiri,NaN,Raptors 905
20,1610612762,UTA,Jazz,1974.0,Utah,Delta Center,NaN,Ryan Smith,Justin Zanik,Will Hardy,Salt Lake City Stars
21,1610612763,MEM,Grizzlies,1995.0,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle
22,1610612764,WAS,Wizards,1961.0,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Wes Unseld,Capital City Go-Go
23,1610612765,DET,Pistons,1948.0,Detroit,Little Caesars Arena,NaN,Tom Gores,Ed Stefanski,Monty Williams,Motor City Cruise
24,1610612766,CHA,Hornets,1988.0,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,Steve Clifford,Greensboro Swarm

Relleno de nulos por la mediiana

In [126]:
column_null = ["arenacapacity"]
for column in column_null:
    team_details[column] = team_details[column].fillna(team_details[column].median())
team_details

,team_id,abbreviation,nickname,yearfounded,city,arena,arenacapacity,owner,generalmanager,headcoach,dleagueaffiliation
0,1610612737,ATL,Hawks,1949.0,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Quin Snyder,College Park Skyhawks
1,1610612741,CHI,Bulls,1966.0,Chicago,United Center,21711.0,Michael Reinsdorf,Arturas Karnisovas,Billy Donovan,Windy City Bulls
2,1610612742,DAL,Mavericks,1980.0,Dallas,American Airlines Center,19200.0,Mark Cuban,Nico Harrison,Jason Kidd,Texas Legends
3,1610612743,DEN,Nuggets,1976.0,Denver,Ball Arena,19043.0,Stan Kroenke,Calvin Booth,Michael Malone,Grand Rapids Gold
4,1610612744,GSW,Warriors,1946.0,Golden State,Chase Center,19043.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors
5,1610612745,HOU,Rockets,1967.0,Houston,Toyota Center,18104.0,Tilman Fertitta,Rafael Stone,Ime Udoka,Rio Grande Valley Vipers
6,1610612746,LAC,Clippers,1970.0,Los Angeles,Crypto.com Arena,19060.0,Steve Ballmer,Michael Winger,Tyronn Lue,Agua Caliente Clippers of Ontario
7,1610612747,LAL,Lakers,1948.0,Los Angeles,Crypto.com Arena,19060.0,Jeanie Buss,Rob Pelinka,Darvin Ham,South Bay Lakers
8,1610612748,MIA,Heat,1988.0,Miami,Kaseya Center,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
9,1610612749,MIL,Bucks,1968.0,Milwaukee,Fiserv Forum,17500.0,Wesley Edens & Marc Lasry,Jon Horst,Adrian Griffin,Wisconsin Herd
10,1610612750,MIN,Timberwolves,1989.0,Minnesota,Target Center,19356.0,Glen Taylor,Tim Connelly,Chris Finch,Iowa Wolves
11,1610612751,BKN,Nets,1976.0,Brooklyn,Barclays Center,19043.0,Joe Tsai,Sean Marks,Jacque Vaughn,Long Island Nets
12,1610612754,IND,Pacers,1976.0,Indiana,Gainbridge Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Rick Carlisle,Fort Wayne Mad Ants
13,1610612755,PHI,76ers,1949.0,Philadelphia,Wells Fargo Center,19043.0,Joshua Harris & David Blitzer,Elton Brand,Nick Nurse,Delaware Blue Coats
14,1610612756,PHX,Suns,1968.0,Phoenix,Footprint Center,19043.0,Mat Ishbia,James Jones,Frank Vogel,No Affiliate
15,1610612757,POR,Trail Blazers,1970.0,Portland,Moda Center,19980.0,Jody Allen,Joe Cronin,Chauncey Billups,No Affiliate
16,1610612758,SAC,Kings,1948.0,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Monte McNair,Mike Brown,Stockton Kings
17,1610612759,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
18,1610612760,OKC,Thunder,1967.0,Oklahoma City,Paycom Center,19043.0,Clay Bennett,Sam Presti,Mark Daigneault,Oklahoma City Blue
19,1610612761,TOR,Raptors,1995.0,Toronto,Scotiabank Arena,19043.0,Lawrence Tanenbaum,Masai Ujiri,NaN,Raptors 905
20,1610612762,UTA,Jazz,1974.0,Utah,Delta Center,19043.0,Ryan Smith,Justin Zanik,Will Hardy,Salt Lake City Stars
21,1610612763,MEM,Grizzlies,1995.0,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle
22,1610612764,WAS,Wizards,1961.0,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Wes Unseld,Capital City Go-Go
23,1610612765,DET,Pistons,1948.0,Detroit,Little Caesars Arena,19043.0,Tom Gores,Ed Stefanski,Monty Williams,Motor City Cruise
24,1610612766,CHA,Hornets,1988.0,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,Steve Clifford,Greensboro Swarm

## Tabla team_history

In [127]:
team_history.isnull().sum(), team_history.shape

(team_id             0
 city                0
 nickname            0
 year_founded        0
 year_active_till    0
 dtype: int64,
 (52, 5))

In [128]:
team_history

,team_id,city,nickname,year_founded,year_active_till
0,1610612737,Atlanta,Hawks,1968,2019
1,1610612737,St. Louis,Hawks,1955,1967
2,1610612737,Milwaukee,Hawks,1951,1954
3,1610612737,Tri-Cities,Blackhawks,1949,1950
4,1610612741,Chicago,Bulls,1966,2019
5,1610612742,Dallas,Mavericks,1980,2019
6,1610612743,Denver,Nuggets,1976,2019
7,1610612744,Golden State,Warriors,1971,2019
8,1610612744,San Francisco,Warriors,1962,1970
9,1610612744,Philadelphia,Warriors,1946,1961
10,1610612745,Houston,Rockets,1971,2019
11,1610612745,San Diego,Rockets,1967,1970
12,1610612746,Los Angeles,Clippers,1984,2019
13,1610612746,San Diego,Clippers,1978,1983
14,1610612746,Buffalo,Braves,1970,1977
15,1610612747,Los Angeles,Lakers,1960,2019
16,1610612747,Minneapolis,Lakers,1948,1959
17,1610612748,Miami,Heat,1988,2019
18,1610612749,Milwaukee,Bucks,1968,2019
19,1610612750,Minnesota,Timberwolves,1989,2019
20,1610612751,Brooklyn,Nets,2012,2019
21,1610612751,New Jersey,Nets,1977,2011
22,1610612751,New York,Nets,1976,1976
23,1610612754,Indiana,Pacers,1976,2019
24,1610612755,Philadelphia,76ers,1963,2019
25,1610612755,Syracuse,Nationals,1949,1962
26,1610612756,Phoenix,Suns,1968,2019
27,1610612757,Portland,Trail Blazers,1970,2019
28,1610612758,Sacramento,Kings,1985,2019
29,1610612758,Kansas City,Kings,1975,1984
30,1610612758,Kansas City-Omaha,Kings,1972,1974
31,1610612758,Cincinnati,Royals,1957,1971
32,1610612758,Rochester,Royals,1948,1956
33,1610612759,San Antonio,Spurs,1976,2019
34,1610612760,Oklahoma City,Thunder,2008,2019
35,1610612760,Seattle,SuperSonics,1967,2007
36,1610612761,Toronto,Raptors,1995,2019
37,1610612762,Utah,Jazz,1979,2019
38,1610612762,New Orleans,Jazz,1974,1978
39,1610612763,Memphis,Grizzlies,2001,2019
40,1610612763,Vancouver,Grizzlies,1995,2000
41,1610612764,Washington,Wizards,1997,2019
42,1610612764,Washington,Bullets,1974,1996
43,1610612764,Capital,Bullets,1973,1973
44,1610612764,Baltimore,Bullets,1963,1972
45,1610612764,Chicago,Zephyrs,1962,1962
46,1610612764,Chicago,Packers,1961,1961
47,1610612765,Detroit,Pistons,1957,2019
48,1610612765,Ft. Wayne Zollner,Pistons,1948,1956
49,1610612766,Charlotte,Hornets,2014,2019
50,1610612766,Charlotte,Bobcats,2004,2013
51,1610612766,Charlotte,Hornets,1988,2001

In [129]:
null_team_history = team_history.isnull().sum()
total_register = len(team_history)
null_result = null_team_history[null_team_history > 0]

df_null_team_history = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_team_history

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## Tabla team_info_common

In [133]:
team_info_common.isnull().sum(), team_info_common.shape

(team_id              0
 season_year          0
 team_city            0
 team_name            0
 team_abbreviation    0
 team_conference      0
 team_division        0
 team_code            0
 team_slug            0
 w                    0
 l                    0
 pct                  0
 conf_rank            0
 div_rank             0
 min_year             0
 max_year             0
 league_id            0
 season_id            0
 pts_rank             0
 pts_pg               0
 reb_rank             0
 reb_pg               0
 ast_rank             0
 ast_pg               0
 opp_pts_rank         0
 opp_pts_pg           0
 dtype: int64,
 (0, 26))

## Tabla team

In [130]:
team.isnull().sum(), team.shape

(id              0
 full_name       0
 abbreviation    0
 nickname        0
 city            0
 state           0
 year_founded    0
 dtype: int64,
 (30, 7))

In [131]:
team

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949.0
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946.0
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970.0
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002.0
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966.0
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980.0
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976.0
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946.0
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967.0
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970.0
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948.0
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988.0
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968.0
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989.0
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976.0
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946.0
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989.0
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976.0
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949.0
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968.0
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970.0
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948.0
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976.0
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967.0
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995.0
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974.0
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995.0
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961.0
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948.0
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988.0

In [132]:
null_team = team.isnull().sum()
total_register = len(team)
null_result = null_team[null_team > 0]

df_null_team = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_team

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## Tabla play_by_play

In [140]:
play_by_play.isnull().sum(), play_by_play.shape

(game_id                             0
 eventnum                            0
 eventmsgtype                        0
 eventmsgactiontype                  0
 period                              0
 wctimestring                      950
 pctimestring                        0
 homedescription               6530241
 neutraldescription           13273327
 visitordescription            6634527
 score                        10028436
 scoremargin                  10028436
 person1type                      3298
 player1_id                          0
 player1_name                  1208875
 player1_team_id               1215858
 player1_team_city             1215858
 player1_team_nickname         1215858
 player1_team_abbreviation     1215858
 person2type                         0
 player2_id                          0
 player2_name                  9683745
 player2_team_id               9660454
 player2_team_city             9660454
 player2_team_nickname         9660454
 player2_team_abbreviation     9660454
 person3type                         0
 player3_id                          0
 player3_name                 13251785
 player3_team_id              13246931
 player3_team_city            13246931
 player3_team_nickname        13246931
 player3_team_abbreviation    13246931
 video_available_flag                0
 dtype: int64,
 (13592899, 34))

In [139]:
play_by_play_date = play_by_play[play_by_play['game_id'].isin(game['game_id'])]

In [142]:
play_by_play_date.isnull().sum(), play_by_play_date.shape

(game_id                             0
 eventnum                            0
 eventmsgtype                        0
 eventmsgactiontype                  0
 period                              0
 wctimestring                      950
 pctimestring                        0
 homedescription               6530241
 neutraldescription           13273327
 visitordescription            6634527
 score                        10028436
 scoremargin                  10028436
 person1type                      3298
 player1_id                          0
 player1_name                  1208875
 player1_team_id               1215858
 player1_team_city             1215858
 player1_team_nickname         1215858
 player1_team_abbreviation     1215858
 person2type                         0
 player2_id                          0
 player2_name                  9683745
 player2_team_id               9660454
 player2_team_city             9660454
 player2_team_nickname         9660454
 player2_team_abbreviation     9660454
 person3type                         0
 player3_id                          0
 player3_name                 13251785
 player3_team_id              13246931
 player3_team_city            13246931
 player3_team_nickname        13246931
 player3_team_abbreviation    13246931
 video_available_flag                0
 dtype: int64,
 (13592899, 34))

In [136]:
null_play_by_play = play_by_play.isnull().sum()
total_register = len(play_by_play)
null_result = null_play_by_play[null_play_by_play > 0]

df_null_play_by_play = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_play_by_play

                           Valores nulos  Total registros  Porcentaje
wctimestring                         950         13592899        0.01
homedescription                  6530241         13592899       48.04
neutraldescription              13273327         13592899       97.65
visitordescription               6634527         13592899       48.81
score                           10028436         13592899       73.78
scoremargin                     10028436         13592899       73.78
person1type                         3298         13592899        0.02
player1_name                     1208875         13592899        8.89
player1_team_id                  1215858         13592899        8.94
player1_team_city                1215858         13592899        8.94
player1_team_nickname            1215858         13592899        8.94
player1_team_abbreviation        1215858         13592899        8.94
player2_name                     9683745         13592899       71.24
player2_team_id                  9660454         13592899       71.07
player2_team_city                9660454         13592899       71.07
player2_team_nickname            9660454         13592899       71.07
player2_team_abbreviation        9660454         13592899       71.07
player3_name                    13251785         13592899       97.49
player3_team_id                 13246931         13592899       97.45
player3_team_city               13246931         13592899       97.45
player3_team_nickname           13246931         13592899       97.45
player3_team_abbreviation       13246931         13592899       97.45