# 0. Instalacion de librerias necesarias

In [ ]:
%pip install pandas numpy dotenv sqlalchemy

# 1. Importacion y carga de datos

In [1]:
import pandas as pd
import numpy as np

In [2]:
player = pd.read_csv('player.csv')
team = pd.read_csv('team.csv')
game = pd.read_csv('game.csv')
common_player_info = pd.read_csv('common_player_info.csv')
draft_combine_stats = pd.read_csv('draft_combine_stats.csv')
draft_history = pd.read_csv('draft_history.csv')
team_details = pd.read_csv('team_details.csv')
team_history = pd.read_csv('team_history.csv')
game_info = pd.read_csv('game_info.csv')
game_summary = pd.read_csv('game_summary.csv')
other_stats = pd.read_csv('other_stats.csv')
officials = pd.read_csv('officials.csv')
inactive_players = pd.read_csv('inactive_players.csv')
play_by_play = pd.read_csv('play_by_play.csv')
line_score = pd.read_csv('line_score.csv')

# 2. Limpieza de datos

## 2.1. Tabla Player

### 2.1.1. Lectura de nulos

In [3]:
player.isnull().sum(), player.shape

(id            0
 full_name     0
 first_name    6
 last_name     0
 is_active     0
 dtype: int64,
 (4831, 5))

In [4]:
null_player = player.isnull().sum()
total_register = len(player)
null_result = null_player[null_player > 0]

df_null_player = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_player

            Valores nulos  Total registros  Porcentaje
first_name              6             4831        0.12

## 2.2. Tabla Team

### 2.2.1. Lectura de nulos

In [5]:
team.isnull().sum(), team.shape

(id              0
 full_name       0
 abbreviation    0
 nickname        0
 city            0
 state           0
 year_founded    0
 dtype: int64,
 (30, 7))

In [6]:
null_team = team.isnull().sum()
total_register = len(team)
null_result = null_team[null_team > 0]

df_null_team = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_team

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.3. Tabla Game

### 2.3.1. Lectura de nulos

In [7]:
game.isnull().sum(), game.shape

(season_id                     0
 team_id_home                  0
 team_abbreviation_home        0
 team_name_home                0
 game_id                       0
 game_date                     0
 matchup_home                  0
 wl_home                       2
 min                           0
 fgm_home                     13
 fga_home                  15447
 fg_pct_home               15490
 fg3m_home                 13218
 fg3a_home                 18683
 fg3_pct_home              19074
 ftm_home                     16
 fta_home                   3004
 ft_pct_home                3009
 oreb_home                 18936
 dreb_home                 18999
 reb_home                  15729
 ast_home                  15805
 stl_home                  18849
 blk_home                  18626
 tov_home                  18684
 pf_home                    2856
 pts_home                      0
 plus_minus_home               0
 video_available_home          0
 team_id_away                  0
 team_abbreviation_away        0
 team_name_away                0
 matchup_away                  0
 wl_away                       2
 fgm_away                     13
 fga_away                  15447
 fg_pct_away               15489
 fg3m_away                 13218
 fg3a_away                 18683
 fg3_pct_away              18962
 ftm_away                     13
 fta_away                   3004
 ft_pct_away                3006
 oreb_away                 18936
 dreb_away                 18998
 reb_away                  15725
 ast_away                  15801
 stl_away                  18849
 blk_away                  18625
 tov_away                  18685
 pf_away                    2851
 pts_away                      0
 plus_minus_away               0
 video_available_away          0
 season_type                   0
 dtype: int64,
 (65698, 55))

In [8]:
null_game = game.isnull().sum()
total_register = len(game)
null_result = null_game[null_game > 0]

df_null_game= pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game

              Valores nulos  Total registros  Porcentaje
wl_home                   2            65698        0.00
fgm_home                 13            65698        0.02
fga_home              15447            65698       23.51
fg_pct_home           15490            65698       23.58
fg3m_home             13218            65698       20.12
fg3a_home             18683            65698       28.44
fg3_pct_home          19074            65698       29.03
ftm_home                 16            65698        0.02
fta_home               3004            65698        4.57
ft_pct_home            3009            65698        4.58
oreb_home             18936            65698       28.82
dreb_home             18999            65698       28.92
reb_home              15729            65698       23.94
ast_home              15805            65698       24.06
stl_home              18849            65698       28.69
blk_home              18626            65698       28.35
tov_home              18684            65698       28.44
pf_home                2856            65698        4.35
wl_away                   2            65698        0.00
fgm_away                 13            65698        0.02
fga_away              15447            65698       23.51
fg_pct_away           15489            65698       23.58
fg3m_away             13218            65698       20.12
fg3a_away             18683            65698       28.44
fg3_pct_away          18962            65698       28.86
ftm_away                 13            65698        0.02
fta_away               3004            65698        4.57
ft_pct_away            3006            65698        4.58
oreb_away             18936            65698       28.82
dreb_away             18998            65698       28.92
reb_away              15725            65698       23.94
ast_away              15801            65698       24.05
stl_away              18849            65698       28.69
blk_away              18625            65698       28.35
tov_away              18685            65698       28.44
pf_away                2851            65698        4.34

### 2.3.2. Filtro por equipos

In [9]:
game_team_id = game[game['team_id_home'].isin(team["id"]) & game['team_id_away'].isin(team["id"])]

In [10]:
null_game_team_id = game_team_id.isnull().sum()
total_register = len(game_team_id)
null_result = null_game_team_id[null_game_team_id > 0]

df_null_game_team_id= pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_team_id

              Valores nulos  Total registros  Porcentaje
wl_home                   2            63703        0.00
fgm_home                  3            63703        0.00
fga_home              13742            63703       21.57
fg_pct_home           13783            63703       21.64
fg3m_home             11397            63703       17.89
fg3a_home             16862            63703       26.47
fg3_pct_home          17250            63703       27.08
ftm_home                  5            63703        0.01
fta_home               2294            63703        3.60
ft_pct_home            2296            63703        3.60
oreb_home             17123            63703       26.88
dreb_home             17186            63703       26.98
reb_home              13960            63703       21.91
ast_home              14040            63703       22.04
stl_home              17036            63703       26.74
blk_home              16813            63703       26.39
tov_home              16865            63703       26.47
pf_home                1776            63703        2.79
wl_away                   2            63703        0.00
fgm_away                  4            63703        0.01
fga_away              13743            63703       21.57
fg_pct_away           13783            63703       21.64
fg3m_away             11397            63703       17.89
fg3a_away             16862            63703       26.47
fg3_pct_away          17139            63703       26.90
ftm_away                  4            63703        0.01
fta_away               2295            63703        3.60
ft_pct_away            2296            63703        3.60
oreb_away             17123            63703       26.88
dreb_away             17185            63703       26.98
reb_away              13956            63703       21.91
ast_away              14036            63703       22.03
stl_away              17036            63703       26.74
blk_away              16812            63703       26.39
tov_away              16866            63703       26.48
pf_away                1772            63703        2.78

### 2.3.3. Filtro del año 2000 en adelante

In [11]:
game_2000 = game_team_id[game_team_id['game_date'] >= "2000-01-01"].copy()

In [12]:
null_game_2000 = game_2000.isnull().sum()
total_register = len(game_2000)
null_result = null_game_2000[null_game_2000 > 0]

df_null_game_2000 = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_2000

         Valores nulos  Total registros  Porcentaje
wl_home              2            30287        0.01
wl_away              2            30287        0.01

### 2.3.3. Llenado de nulos por 0

In [13]:
game_2000 = game_2000.fillna(0)

In [14]:
null_game_2000 = game_2000.isnull().sum()
total_register = len(game_2000)
null_result = null_game_2000[null_game_2000 > 0]

df_null_game_2000 = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_2000

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.4. Tabla Common_player_info

### 2.4.1. Lectura de nulos

In [15]:
common_player_info.isnull().sum(), common_player_info.shape

(person_id                             0
 first_name                            0
 last_name                             0
 display_first_last                    0
 display_last_comma_first              0
 display_fi_last                       0
 player_slug                           0
 birthdate                             0
 school                               15
 country                               1
 last_affiliation                      0
 height                               96
 weight                              100
 season_exp                            0
 jersey                              980
 position                             63
 rosterstatus                          0
 games_played_current_season_flag      0
 team_id                               0
 team_name                           702
 team_abbreviation                   702
 team_code                           702
 team_city                           702
 playercode                            1
 from_year                            15
 to_year                              15
 dleague_flag                          0
 nba_flag                              0
 games_played_flag                     0
 draft_year                            0
 draft_round                         164
 draft_number                        223
 greatest_75_flag                      0
 dtype: int64,
 (4171, 33))

In [16]:
null_common_player_info = common_player_info.isnull().sum()
total_register = len(common_player_info)
null_result = null_common_player_info[null_common_player_info > 0]

df_null_common_player_info = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_common_player_info

                   Valores nulos  Total registros  Porcentaje
school                        15             4171        0.36
country                        1             4171        0.02
height                        96             4171        2.30
weight                       100             4171        2.40
jersey                       980             4171       23.50
position                      63             4171        1.51
team_name                    702             4171       16.83
team_abbreviation            702             4171       16.83
team_code                    702             4171       16.83
team_city                    702             4171       16.83
playercode                     1             4171        0.02
from_year                     15             4171        0.36
to_year                       15             4171        0.36
draft_round                  164             4171        3.93
draft_number                 223             4171        5.35

### 2.4.2. Filtro por equipo y jugador

In [17]:
common_player_info = common_player_info[common_player_info['team_id'].isin(team["id"]) & common_player_info['person_id'].isin(player["id"])]

In [18]:
null_common_player_info = common_player_info.isnull().sum()
total_register = len(common_player_info)
null_result = null_common_player_info[null_common_player_info > 0]

df_null_common_player_info = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_common_player_info

              Valores nulos  Total registros  Porcentaje
school                    8             3242        0.25
country                   1             3242        0.03
height                    1             3242        0.03
weight                    1             3242        0.03
jersey                   85             3242        2.62
position                  2             3242        0.06
playercode                1             3242        0.03
draft_round             103             3242        3.18
draft_number            148             3242        4.57

### 2.4.3. Filtro del año 2000 en adelante

In [19]:
common_player_info = common_player_info[common_player_info["to_year"] >= 2000]

In [20]:
null_common_player_info = common_player_info.isnull().sum()
total_register = len(common_player_info)
null_result = null_common_player_info[null_common_player_info > 0]

df_null_common_player_info = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_common_player_info

              Valores nulos  Total registros  Porcentaje
school                    7             1429        0.49
jersey                    6             1429        0.42
draft_round              25             1429        1.75
draft_number             26             1429        1.82

### 2.4.4. Eliminación de columnas innecesarias

In [21]:
delete_columns = ["first_name", "last_name", "display_first_last", "display_last_comma_first", "player_slug","jersey", "team_name", "team_abbreviation", "team_code", "team_city", "games_played_current_season_flag"]

common_player_info.drop(delete_columns, axis=1, inplace=True)

In [22]:
null_common_player_info = common_player_info.isnull().sum()
total_register = len(common_player_info)
null_result = null_common_player_info[null_common_player_info > 0]

df_null_common_player_info = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_common_player_info

              Valores nulos  Total registros  Porcentaje
school                    7             1429        0.49
draft_round              25             1429        1.75
draft_number             26             1429        1.82

### 2.4.5. Eliminación de nulos en las diferentes columnas

In [23]:
common_player_info = common_player_info.dropna(subset=['height', 'weight', 'draft_number', 'draft_number', 'position'])

In [24]:
null_common_player_info = common_player_info.isnull().sum()
total_register = len(common_player_info)
null_result = null_common_player_info[null_common_player_info > 0]

df_null_common_player_info = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_common_player_info

        Valores nulos  Total registros  Porcentaje
school              7             1403         0.5

### 2.4.6. Llenado de columnas school y country con los valores descomprimidos de la columna last_affiliation

In [25]:
common_player_info[['school', 'country']] = common_player_info['last_affiliation'].str.split('/', n=1, expand=True)

In [26]:
null_common_player_info = common_player_info.isnull().sum()
total_register = len(common_player_info)
null_result = null_common_player_info[null_common_player_info > 0]

df_null_common_player_info = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_common_player_info

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.5. Tabla Draft_combine_stats

### 2.5.1. Lectura de nulos

In [27]:
draft_combine_stats.isnull().sum(), draft_combine_stats.shape

(season                             0
 player_id                          0
 first_name                         0
 last_name                          0
 player_name                        0
 position                           5
 height_wo_shoes                   49
 height_wo_shoes_ft_in             49
 height_w_shoes                   194
 height_w_shoes_ft_in             194
 weight                            50
 wingspan                          49
 wingspan_ft_in                    49
 standing_reach                    50
 standing_reach_ft_in              50
 body_fat_pct                     199
 hand_length                      483
 hand_width                       483
 standing_vertical_leap           185
 max_vertical_leap                185
 lane_agility_time                194
 modified_lane_agility_time       791
 three_quarter_sprint             190
 bench_press                      394
 spot_fifteen_corner_left        1128
 spot_fifteen_break_left         1126
 spot_fifteen_top_key            1126
 spot_fifteen_break_right        1126
 spot_fifteen_corner_right       1126
 spot_college_corner_left         957
 spot_college_break_left         1036
 spot_college_top_key            1036
 spot_college_break_right        1036
 spot_college_corner_right       1036
 spot_nba_corner_left             985
 spot_nba_break_left              985
 spot_nba_top_key                 985
 spot_nba_break_right             985
 spot_nba_corner_right            985
 off_drib_fifteen_break_left     1036
 off_drib_fifteen_top_key        1036
 off_drib_fifteen_break_right    1036
 off_drib_college_break_left     1092
 off_drib_college_top_key        1171
 off_drib_college_break_right    1171
 on_move_fifteen                 1054
 on_move_college                 1086
 dtype: int64,
 (1202, 47))

In [28]:
null_draft_combine_stats = draft_combine_stats.isnull().sum()
total_register = len(draft_combine_stats)
null_result = null_draft_combine_stats[null_draft_combine_stats > 0]

df_null_draft_combine_stats = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_draft_combine_stats

                              Valores nulos  Total registros  Porcentaje
position                                  5             1202        0.42
height_wo_shoes                          49             1202        4.08
height_wo_shoes_ft_in                    49             1202        4.08
height_w_shoes                          194             1202       16.14
height_w_shoes_ft_in                    194             1202       16.14
weight                                   50             1202        4.16
wingspan                                 49             1202        4.08
wingspan_ft_in                           49             1202        4.08
standing_reach                           50             1202        4.16
standing_reach_ft_in                     50             1202        4.16
body_fat_pct                            199             1202       16.56
hand_length                             483             1202       40.18
hand_width                              483             1202       40.18
standing_vertical_leap                  185             1202       15.39
max_vertical_leap                       185             1202       15.39
lane_agility_time                       194             1202       16.14
modified_lane_agility_time              791             1202       65.81
three_quarter_sprint                    190             1202       15.81
bench_press                             394             1202       32.78
spot_fifteen_corner_left               1128             1202       93.84
spot_fifteen_break_left                1126             1202       93.68
spot_fifteen_top_key                   1126             1202       93.68
spot_fifteen_break_right               1126             1202       93.68
spot_fifteen_corner_right              1126             1202       93.68
spot_college_corner_left                957             1202       79.62
spot_college_break_left                1036             1202       86.19
spot_college_top_key                   1036             1202       86.19
spot_college_break_right               1036             1202       86.19
spot_college_corner_right              1036             1202       86.19
spot_nba_corner_left                    985             1202       81.95
spot_nba_break_left                     985             1202       81.95
spot_nba_top_key                        985             1202       81.95
spot_nba_break_right                    985             1202       81.95
spot_nba_corner_right                   985             1202       81.95
off_drib_fifteen_break_left            1036             1202       86.19
off_drib_fifteen_top_key               1036             1202       86.19
off_drib_fifteen_break_right           1036             1202       86.19
off_drib_college_break_left            1092             1202       90.85
off_drib_college_top_key               1171             1202       97.42
off_drib_college_break_right           1171             1202       97.42
on_move_fifteen                        1054             1202       87.69
on_move_college                        1086             1202       90.35

### 2.5.2. Eliminación de columnas con un porcentaje mayor al 75% de nulos

In [29]:
null_75 = df_null_draft_combine_stats[df_null_draft_combine_stats["Porcentaje"] > 75]
null_75

                              Valores nulos  Total registros  Porcentaje
spot_fifteen_corner_left               1128             1202       93.84
spot_fifteen_break_left                1126             1202       93.68
spot_fifteen_top_key                   1126             1202       93.68
spot_fifteen_break_right               1126             1202       93.68
spot_fifteen_corner_right              1126             1202       93.68
spot_college_corner_left                957             1202       79.62
spot_college_break_left                1036             1202       86.19
spot_college_top_key                   1036             1202       86.19
spot_college_break_right               1036             1202       86.19
spot_college_corner_right              1036             1202       86.19
spot_nba_corner_left                    985             1202       81.95
spot_nba_break_left                     985             1202       81.95
spot_nba_top_key                        985             1202       81.95
spot_nba_break_right                    985             1202       81.95
spot_nba_corner_right                   985             1202       81.95
off_drib_fifteen_break_left            1036             1202       86.19
off_drib_fifteen_top_key               1036             1202       86.19
off_drib_fifteen_break_right           1036             1202       86.19
off_drib_college_break_left            1092             1202       90.85
off_drib_college_top_key               1171             1202       97.42
off_drib_college_break_right           1171             1202       97.42
on_move_fifteen                        1054             1202       87.69
on_move_college                        1086             1202       90.35

In [30]:
delete_columns = list(null_75.index)
draft_combine_stats.drop(columns=delete_columns, inplace=True)

In [31]:
null_draft_combine_stats = draft_combine_stats.isnull().sum()
total_register = len(draft_combine_stats)
null_result = null_draft_combine_stats[null_draft_combine_stats > 0]

df_null_draft_combine_stats = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_draft_combine_stats

                            Valores nulos  Total registros  Porcentaje
position                                5             1202        0.42
height_wo_shoes                        49             1202        4.08
height_wo_shoes_ft_in                  49             1202        4.08
height_w_shoes                        194             1202       16.14
height_w_shoes_ft_in                  194             1202       16.14
weight                                 50             1202        4.16
wingspan                               49             1202        4.08
wingspan_ft_in                         49             1202        4.08
standing_reach                         50             1202        4.16
standing_reach_ft_in                   50             1202        4.16
body_fat_pct                          199             1202       16.56
hand_length                           483             1202       40.18
hand_width                            483             1202       40.18
standing_vertical_leap                185             1202       15.39
max_vertical_leap                     185             1202       15.39
lane_agility_time                     194             1202       16.14
modified_lane_agility_time            791             1202       65.81
three_quarter_sprint                  190             1202       15.81
bench_press                           394             1202       32.78

### 2.5.3. Eliminación de columnas innecesarias

In [32]:
delete_columns = ["height_w_shoes", "height_w_shoes_ft_in", "height_wo_shoes_ft_in", "modified_lane_agility_time", "standing_reach_ft_in", "wingspan_ft_in", "hand_length", "hand_width"]

draft_combine_stats.drop(delete_columns, axis=1, inplace=True)

In [33]:
null_draft_combine_stats = draft_combine_stats.isnull().sum()
total_register = len(draft_combine_stats)
null_result = null_draft_combine_stats[null_draft_combine_stats > 0]

df_null_draft_combine_stats = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_draft_combine_stats

                        Valores nulos  Total registros  Porcentaje
position                            5             1202        0.42
height_wo_shoes                    49             1202        4.08
weight                             50             1202        4.16
wingspan                           49             1202        4.08
standing_reach                     50             1202        4.16
body_fat_pct                      199             1202       16.56
standing_vertical_leap            185             1202       15.39
max_vertical_leap                 185             1202       15.39
lane_agility_time                 194             1202       16.14
three_quarter_sprint              190             1202       15.81
bench_press                       394             1202       32.78

### 2.5.4. Eliminación de filas nulas en las diferentes columnas

In [34]:
draft_combine_stats = draft_combine_stats.dropna(subset=['height_wo_shoes', 'weight', 'wingspan', 'standing_reach', 'body_fat_pct', 'standing_vertical_leap', 'max_vertical_leap', 'lane_agility_time', 'three_quarter_sprint', 'bench_press'])

In [35]:
null_draft_combine_stats = draft_combine_stats.isnull().sum()
total_register = len(draft_combine_stats)
null_result = null_draft_combine_stats[null_draft_combine_stats > 0]

df_null_draft_combine_stats = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_draft_combine_stats

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

### 2.5.5. Filtro por jugadores

In [36]:
draft_combine_stats = draft_combine_stats[draft_combine_stats['player_id'].isin(player['id'])]

In [37]:
null_draft_combine_stats = draft_combine_stats.isnull().sum()
total_register = len(draft_combine_stats)
null_result = null_draft_combine_stats[null_draft_combine_stats > 0]

df_null_draft_combine_stats = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_draft_combine_stats

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

### 2.5.6. Eliminación de datos duplicados en la columna de player_id

In [154]:
draft_combine_stats.drop_duplicates(subset='player_id', inplace=True)

In [155]:
null_draft_combine_stats = draft_combine_stats.isnull().sum()
total_register = len(draft_combine_stats)
null_result = null_draft_combine_stats[null_draft_combine_stats > 0]

df_null_draft_combine_stats = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_draft_combine_stats

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.6. Tabla Draft_history

### 2.6.1. Lectura de nulos

In [38]:
draft_history.isnull().sum(), draft_history.shape

(person_id               0
 player_name             0
 season                  0
 round_number            0
 round_pick              0
 overall_pick            0
 draft_type              0
 team_id                 0
 team_city               0
 team_name               0
 team_abbreviation       0
 organization           19
 organization_type      19
 player_profile_flag     0
 dtype: int64,
 (7990, 14))

In [39]:
null_draft_history = draft_history.isnull().sum()
total_register = len(draft_history)
null_result = null_draft_history[null_draft_history > 0]

df_null_draft_history = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_draft_history

                   Valores nulos  Total registros  Porcentaje
organization                  19             7990        0.24
organization_type             19             7990        0.24

### 2.6.2. Filtro por fecha

In [40]:
draft_history = draft_history[draft_history["season"] >= 2000]

In [41]:
null_draft_history = draft_history.isnull().sum()
total_register = len(draft_history)
null_result = null_draft_history[null_draft_history > 0]

df_null_draft_history = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_draft_history

                   Valores nulos  Total registros  Porcentaje
organization                   2             1365        0.15
organization_type              2             1365        0.15

### 2.6.3. Eliminacion de filas nulas en las diferentes columnas

In [42]:
draft_history = draft_history.dropna(subset=['organization', 'organization_type'])

In [43]:
null_draft_history = draft_history.isnull().sum()
total_register = len(draft_history)
null_result = null_draft_history[null_draft_history > 0]

df_null_draft_history = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_draft_history

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

### 2.6.4. Filtro por equipo y jugadores

In [44]:
draft_history = draft_history[draft_history['team_id'].isin(team['id']) & draft_history['person_id'].isin(player['id'])]

In [45]:
null_draft_history = draft_history.isnull().sum()
total_register = len(draft_history)
null_result = null_draft_history[null_draft_history > 0]

df_null_draft_history = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_draft_history

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.7. Tabla Team_details

### 2.7.1. Lectura de nulos

In [46]:
team_details.isnull().sum(), team_details.shape

(team_id               0
 abbreviation          0
 nickname              0
 yearfounded           0
 city                  0
 arena                 0
 arenacapacity         9
 owner                 0
 generalmanager        0
 headcoach             1
 dleagueaffiliation    0
 facebook              0
 instagram             0
 twitter               0
 dtype: int64,
 (25, 14))

In [47]:
null_team_details = team_details.isnull().sum()
total_register = len(team_details)
null_result = null_team_details[null_team_details > 0]

df_null_team_details = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_team_details

               Valores nulos  Total registros  Porcentaje
arenacapacity              9               25        36.0
headcoach                  1               25         4.0

### 2.7.2. Eliminación de columnas de redes sociales

In [48]:
delete_columns = ['facebook', 'instagram', 'twitter']
team_details.drop(columns=delete_columns, inplace=True)

In [49]:
null_team_details = team_details.isnull().sum()
total_register = len(team_details)
null_result = null_team_details[null_team_details > 0]

df_null_team_details = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_team_details

               Valores nulos  Total registros  Porcentaje
arenacapacity              9               25        36.0
headcoach                  1               25         4.0

### 2.7.3. Lenado de nulos por la mediana

In [50]:
column_null = ["arenacapacity"]
for column in column_null:
    team_details[column] = team_details[column].fillna(team_details[column].median())

In [51]:
null_team_details = team_details.isnull().sum()
total_register = len(team_details)
null_result = null_team_details[null_team_details > 0]

df_null_team_details = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_team_details

           Valores nulos  Total registros  Porcentaje
headcoach              1               25         4.0

### 2.7.4. Eliminación de filas nulas en las diferentes columas

In [52]:
team_details = team_details.dropna(subset=['headcoach'])

In [53]:
null_team_details = team_details.isnull().sum()
total_register = len(team_details)
null_result = null_team_details[null_team_details > 0]

df_null_team_details = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_team_details

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

### 2.7.5. Filtro por equipo

In [54]:
team_details = team_details[team_details['team_id'].isin(team['id'])]

In [55]:
null_team_details = team_details.isnull().sum()
total_register = len(team_details)
null_result = null_team_details[null_team_details > 0]

df_null_team_details = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_team_details

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.8. Tabla Team_history

### 2.8.1. Lectura de nulos

In [56]:
team_history.isnull().sum(), team_history.shape

(team_id             0
 city                0
 nickname            0
 year_founded        0
 year_active_till    0
 dtype: int64,
 (52, 5))

In [57]:
null_team_history = team_history.isnull().sum()
total_register = len(team_history)
null_result = null_team_history[null_team_history > 0]

df_null_team_history = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_team_history

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

### 2.8.2. Filtro por equipo

In [58]:
team_history = team_history[team_history['team_id'].isin(team['id'])]

In [59]:
null_team_history = team_history.isnull().sum()
total_register = len(team_history)
null_result = null_team_history[null_team_history > 0]

df_null_team_history = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_team_history

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.9. Tabla Game_info

### 2.9.1. Lectura de nulos

In [60]:
game_info.isnull().sum(), game_info.shape

(game_id           0
 game_date         0
 attendance     5380
 game_time     28111
 dtype: int64,
 (58053, 4))

In [61]:
null_game_info = game_info.isnull().sum()
total_register = len(game_info)
null_result = null_game_info[null_game_info > 0]

df_null_game_info = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_info

            Valores nulos  Total registros  Porcentaje
attendance           5380            58053        9.27
game_time           28111            58053       48.42

### 2.9.2. Filtro por fecha

In [62]:
game_info_2000 = game_info[game_info["game_date"] >= "2000-01-01"].copy()

In [63]:
null_game_info_2000 = game_info_2000.isnull().sum()
total_register = len(game_info_2000)
null_result = null_game_info_2000[null_game_info_2000 > 0]

df_null_game_info_2000 = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_info_2000

            Valores nulos  Total registros  Porcentaje
attendance            876            27457        3.19
game_time             843            27457        3.07

### 2.9.3. Eliminación de columnas innecesarias

In [64]:
delete_column = ["attendance", "game_time"]

game_info_2000.drop(delete_column, axis=1, inplace=True)

In [65]:
null_game_info_2000 = game_info_2000.isnull().sum()
total_register = len(game_info_2000)
null_result = null_game_info_2000[null_game_info_2000 > 0]

df_null_game_info_2000 = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_info_2000

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

### 2.9.4. Filtro por juego

In [66]:
game_info_2000 = game_info_2000[game_info_2000['game_id'].isin(game_2000['game_id'])]

In [67]:
null_game_info_2000 = game_info_2000.isnull().sum()
total_register = len(game_info_2000)
null_result = null_game_info_2000[null_game_info_2000 > 0]

df_null_game_info_2000 = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_info_2000

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.10. Tabla Game_summary

### 2.10.1. Lectura de nulos

In [68]:
game_summary.isnull().sum(), game_summary.shape

(game_date_est                           0
 game_sequence                       25532
 game_id                                 0
 game_status_id                          0
 game_status_text                    25986
 gamecode                                0
 home_team_id                            0
 visitor_team_id                         0
 season                                  0
 live_period                             0
 live_pc_time                        56086
 natl_tv_broadcaster_abbreviation    51907
 live_period_time_bcast                  0
 wh_status                               0
 dtype: int64,
 (58110, 14))

In [69]:
null_game_summary = game_summary.isnull().sum()
total_register = len(game_summary)
null_result = null_game_summary[null_game_summary > 0]

df_null_game_summary = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_summary

                                  Valores nulos  Total registros  Porcentaje
game_sequence                             25532            58110       43.94
game_status_text                          25986            58110       44.72
live_pc_time                              56086            58110       96.52
natl_tv_broadcaster_abbreviation          51907            58110       89.33

### 2.10.2. Filtro por fecha

In [70]:
game_summary = game_summary[game_summary["game_date_est"] >= "2000-01-01"].copy()

In [71]:
null_game_summary = game_summary.isnull().sum()
total_register = len(game_summary)
null_result = null_game_summary[null_game_summary > 0]

df_null_game_summary = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_summary

                                  Valores nulos  Total registros  Porcentaje
live_pc_time                              25490            27514       92.64
natl_tv_broadcaster_abbreviation          21311            27514       77.46

### 2.10.3. Elimanación de nulos mayores al 75%

In [72]:
null_75 = df_null_game_summary[df_null_game_summary["Porcentaje"] > 75]
null_75

                                  Valores nulos  Total registros  Porcentaje
live_pc_time                              25490            27514       92.64
natl_tv_broadcaster_abbreviation          21311            27514       77.46

In [73]:
delete_columns = list(null_75.index)
game_summary.drop(columns=delete_columns, inplace=True)

In [74]:
null_game_summary = game_summary.isnull().sum()
total_register = len(game_summary)
null_result = null_game_summary[null_game_summary > 0]

df_null_game_summary = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_summary

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

### 2.10.4. Filtro por juego y equipos

In [75]:
game_summary = game_summary[game_summary['game_id'].isin(game_2000['game_id']) & game_summary['home_team_id'].isin(team['id']) & game_summary['visitor_team_id'].isin(team['id'])]

In [76]:
null_game_summary = game_summary.isnull().sum()
total_register = len(game_summary)
null_result = null_game_summary[null_game_summary > 0]

df_null_game_summary = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_summary

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

### 2.10.5. Eliminación de datos duplicados en la columna game_id

In [162]:
game_summary.drop_duplicates(subset=["game_id"], inplace=True)

In [163]:
null_game_summary = game_summary.isnull().sum()
total_register = len(game_summary)
null_result = null_game_summary[null_game_summary > 0]

df_null_game_summary = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_summary

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.11. Tabla Other_stats

### 2.11.1. Lectura de nulos

In [77]:
other_stats.isnull().sum(), other_stats.shape

(game_id                      0
 league_id                    0
 team_id_home                 0
 team_abbreviation_home       0
 team_city_home               0
 pts_paint_home               0
 pts_2nd_chance_home          0
 pts_fb_home                  0
 largest_lead_home            0
 lead_changes                 0
 times_tied                   0
 team_turnovers_home          2
 total_turnovers_home       316
 team_rebounds_home        1998
 pts_off_to_home           2123
 team_id_away                 0
 team_abbreviation_away       0
 team_city_away               0
 pts_paint_away               0
 pts_2nd_chance_away          0
 pts_fb_away                  0
 largest_lead_away            0
 team_turnovers_away          2
 total_turnovers_away       316
 team_rebounds_away        1998
 pts_off_to_away           2123
 dtype: int64,
 (28271, 26))

In [78]:
null_other_stats = other_stats.isnull().sum()
total_register = len(other_stats)
null_result = null_other_stats[null_other_stats > 0]

df_null_other_stats = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_other_stats

                      Valores nulos  Total registros  Porcentaje
team_turnovers_home               2            28271        0.01
total_turnovers_home            316            28271        1.12
team_rebounds_home             1998            28271        7.07
pts_off_to_home                2123            28271        7.51
team_turnovers_away               2            28271        0.01
total_turnovers_away            316            28271        1.12
team_rebounds_away             1998            28271        7.07
pts_off_to_away                2123            28271        7.51

### 2.11.2. Eliminación de columnas innecessarias

In [79]:
delete_columns = ['league_id']

other_stats.drop(delete_columns, axis=1, inplace=True)

In [80]:
null_other_stats = other_stats.isnull().sum()
total_register = len(other_stats)
null_result = null_other_stats[null_other_stats > 0]

df_null_other_stats = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_other_stats

                      Valores nulos  Total registros  Porcentaje
team_turnovers_home               2            28271        0.01
total_turnovers_home            316            28271        1.12
team_rebounds_home             1998            28271        7.07
pts_off_to_home                2123            28271        7.51
team_turnovers_away               2            28271        0.01
total_turnovers_away            316            28271        1.12
team_rebounds_away             1998            28271        7.07
pts_off_to_away                2123            28271        7.51

### 2.11.3. Eliminación de filas nulas en las diferentes tablas

In [81]:
other_stats = other_stats.dropna(subset=['team_turnovers_home', 'total_turnovers_home', 'team_rebounds_home', 'pts_off_to_home', 'team_turnovers_away', 'total_turnovers_away', 'team_rebounds_away', 'pts_off_to_away'])

In [82]:
null_other_stats = other_stats.isnull().sum()
total_register = len(other_stats)
null_result = null_other_stats[null_other_stats > 0]

df_null_other_stats = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_other_stats

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

### 2.11.4. Filtro por juego y equipos

In [83]:
other_stats = other_stats[other_stats['game_id'].isin(game_2000['game_id']) & other_stats['team_id_home'].isin(team['id']) & other_stats['team_id_away'].isin(team['id'])]

In [84]:
null_other_stats = other_stats.isnull().sum()
total_register = len(other_stats)
null_result = null_other_stats[null_other_stats > 0]

df_null_other_stats = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_other_stats

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.12. Tabla Officials

### 2.12.1. Lectura de nulos

In [85]:
officials.isnull().sum(), officials.shape

(game_id          0
 official_id      0
 first_name       0
 last_name        0
 jersey_num     190
 dtype: int64,
 (70971, 5))

In [86]:
null_officials = officials.isnull().sum()
total_register = len(officials)
null_result = null_officials[null_officials > 0]

df_null_officials = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_officials

            Valores nulos  Total registros  Porcentaje
jersey_num            190            70971        0.27

### 2.12.2. Eliminación de columnas innecesarias

In [87]:
officials = officials.drop(['jersey_num'], axis=1)

In [88]:
null_officials = officials.isnull().sum()
total_register = len(officials)
null_result = null_officials[null_officials > 0]

df_null_officials = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_officials

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

### 2.12.3. Filtro por juego

In [89]:
officials = officials[officials['game_id'].isin(game_2000['game_id'])]

In [90]:
null_officials = officials.isnull().sum()
total_register = len(officials)
null_result = null_officials[null_officials > 0]

df_null_officials = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_officials

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.13. Tabla Inactive_players

### 2.13.1. Lectura de nulos

In [91]:
inactive_players.isnull().sum(), inactive_players.shape

(game_id               0
 player_id             0
 first_name            1
 last_name             1
 jersey_num           43
 team_id               0
 team_city             0
 team_name             0
 team_abbreviation     0
 dtype: int64,
 (110191, 9))

In [92]:
null_inactive_players = inactive_players.isnull().sum()
total_register = len(inactive_players)
null_result = null_inactive_players[null_inactive_players > 0]

df_null_inactive_players = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_inactive_players

            Valores nulos  Total registros  Porcentaje
first_name              1           110191        0.00
last_name               1           110191        0.00
jersey_num             43           110191        0.04

### 2.13.2. Filtro por los juegos de la tabla game

In [93]:
inactive_players = inactive_players[inactive_players['game_id'].isin(game['game_id'])]

In [94]:
null_inactive_players = inactive_players.isnull().sum()
total_register = len(inactive_players)
null_result = null_inactive_players[null_inactive_players > 0]

df_null_inactive_players = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_inactive_players

            Valores nulos  Total registros  Porcentaje
first_name              1           110191        0.00
last_name               1           110191        0.00
jersey_num             43           110191        0.04

### 2.13.3. Eliminación de filas nulas en las diferentes columnas

In [95]:
inactive_players.dropna(subset=['first_name', 'last_name'], inplace=True)

In [96]:
null_inactive_players = inactive_players.isnull().sum()
total_register = len(inactive_players)
null_result = null_inactive_players[null_inactive_players > 0]

df_null_inactive_players = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_inactive_players

            Valores nulos  Total registros  Porcentaje
jersey_num             43           110190        0.04

### 2.13.4. Eliminación de columnas innecesarias

In [97]:
delete_columns = ['jersey_num']

inactive_players.drop(delete_columns, axis=1, inplace=True)

In [98]:
null_inactive_players = inactive_players.isnull().sum()
total_register = len(inactive_players)
null_result = null_inactive_players[null_inactive_players > 0]

df_null_inactive_players = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_inactive_players

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

### 2.13.5. Filtro por juego, equipo y jugador

In [99]:
inactive_players = inactive_players[inactive_players['game_id'].isin(game_2000['game_id']) & inactive_players['team_id'].isin(team['id']) & inactive_players['player_id'].isin(player['id'])]

In [100]:
null_inactive_players = inactive_players.isnull().sum()
total_register = len(inactive_players)
null_result = null_inactive_players[null_inactive_players > 0]

df_null_inactive_players = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_inactive_players

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.14. Tabla Play_by_play

### 2.14.1. Lectura de nulos

In [101]:
play_by_play.isnull().sum(), play_by_play.shape

(game_id                             0
 eventnum                            0
 eventmsgtype                        0
 eventmsgactiontype                  0
 period                              0
 wctimestring                      950
 pctimestring                        0
 homedescription               6530241
 neutraldescription           13273327
 visitordescription            6634527
 score                        10028436
 scoremargin                  10028436
 person1type                      3298
 player1_id                          0
 player1_name                  1208875
 player1_team_id               1215858
 player1_team_city             1215858
 player1_team_nickname         1215858
 player1_team_abbreviation     1215858
 person2type                         0
 player2_id                          0
 player2_name                  9683745
 player2_team_id               9660454
 player2_team_city             9660454
 player2_team_nickname         9660454
 player2_team_abbreviation     9660454
 person3type                         0
 player3_id                          0
 player3_name                 13251785
 player3_team_id              13246931
 player3_team_city            13246931
 player3_team_nickname        13246931
 player3_team_abbreviation    13246931
 video_available_flag                0
 dtype: int64,
 (13592899, 34))

In [102]:
null_play_by_play = play_by_play.isnull().sum()
total_register = len(play_by_play)
null_result = null_play_by_play[null_play_by_play > 0]

df_null_play_by_play = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_play_by_play

                           Valores nulos  Total registros  Porcentaje
wctimestring                         950         13592899        0.01
homedescription                  6530241         13592899       48.04
neutraldescription              13273327         13592899       97.65
visitordescription               6634527         13592899       48.81
score                           10028436         13592899       73.78
scoremargin                     10028436         13592899       73.78
person1type                         3298         13592899        0.02
player1_name                     1208875         13592899        8.89
player1_team_id                  1215858         13592899        8.94
player1_team_city                1215858         13592899        8.94
player1_team_nickname            1215858         13592899        8.94
player1_team_abbreviation        1215858         13592899        8.94
player2_name                     9683745         13592899       71.24
player2_team_id                  9660454         13592899       71.07
player2_team_city                9660454         13592899       71.07
player2_team_nickname            9660454         13592899       71.07
player2_team_abbreviation        9660454         13592899       71.07
player3_name                    13251785         13592899       97.49
player3_team_id                 13246931         13592899       97.45
player3_team_city               13246931         13592899       97.45
player3_team_nickname           13246931         13592899       97.45
player3_team_abbreviation       13246931         13592899       97.45

### 2.14.2. Eliminación de columnas innecesarias

In [103]:
play_by_play = play_by_play.drop(["video_available_flag"], axis=1)

In [104]:
null_play_by_play = play_by_play.isnull().sum()
total_register = len(play_by_play)
null_result = null_play_by_play[null_play_by_play > 0]

df_null_play_by_play = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_play_by_play

                           Valores nulos  Total registros  Porcentaje
wctimestring                         950         13592899        0.01
homedescription                  6530241         13592899       48.04
neutraldescription              13273327         13592899       97.65
visitordescription               6634527         13592899       48.81
score                           10028436         13592899       73.78
scoremargin                     10028436         13592899       73.78
person1type                         3298         13592899        0.02
player1_name                     1208875         13592899        8.89
player1_team_id                  1215858         13592899        8.94
player1_team_city                1215858         13592899        8.94
player1_team_nickname            1215858         13592899        8.94
player1_team_abbreviation        1215858         13592899        8.94
player2_name                     9683745         13592899       71.24
player2_team_id                  9660454         13592899       71.07
player2_team_city                9660454         13592899       71.07
player2_team_nickname            9660454         13592899       71.07
player2_team_abbreviation        9660454         13592899       71.07
player3_name                    13251785         13592899       97.49
player3_team_id                 13246931         13592899       97.45
player3_team_city               13246931         13592899       97.45
player3_team_nickname           13246931         13592899       97.45
player3_team_abbreviation       13246931         13592899       97.45

### 2.14.3. Filtro por el cuarto cuarto

In [188]:
play_by_play_qt4 = play_by_play[play_by_play["period"].isin([4])]

In [189]:
null_play_by_play_qt4 = play_by_play_qt4.isnull().sum()
total_register = len(play_by_play_qt4)
null_result = null_play_by_play_qt4[null_play_by_play_qt4 > 0]

df_null_play_by_play_qt4 = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_play_by_play_qt4

                           Valores nulos  Total registros  Porcentaje
wctimestring                         245          3521455        0.01
homedescription                  1708552          3521455       48.52
neutraldescription               3431595          3521455       97.45
visitordescription               1722252          3521455       48.91
score                            2612630          3521455       74.19
scoremargin                      2612630          3521455       74.19
person1type                          975          3521455        0.03
player1_name                      359206          3521455       10.20
player1_team_id                   360060          3521455       10.22
player1_team_city                 360060          3521455       10.22
player1_team_nickname             360060          3521455       10.22
player1_team_abbreviation         360060          3521455       10.22
player2_name                     2522123          3521455       71.62
player2_team_id                  2515104          3521455       71.42
player2_team_city                2515104          3521455       71.42
player2_team_nickname            2515104          3521455       71.42
player2_team_abbreviation        2515104          3521455       71.42
player3_name                     3444559          3521455       97.82
player3_team_id                  3443344          3521455       97.78
player3_team_city                3443344          3521455       97.78
player3_team_nickname            3443344          3521455       97.78
player3_team_abbreviation        3443344          3521455       97.78

### 2.14.4. Filtro por los ultimos 5 minutos

In [190]:
# Convertir "pctimestring" a segundos para facilitar la comparación
play_by_play_qt4 = play_by_play_qt4.copy()
play_by_play_qt4["pctimestring"] = play_by_play_qt4["pctimestring"].astype(str).apply(
    lambda x: int(x.split(":")[0]) * 60 + int(x.split(":")[1]) if ":" in x else None
)

# Filtrar las jugadas en los últimos 5 minutos (300 segundos)
play_by_play_clutch = play_by_play_qt4[play_by_play_qt4["pctimestring"] <= 300].copy()

# Convertir de vuelta "pctimestring" a formato m:ss
play_by_play_clutch["pctimestring"] = play_by_play_clutch["pctimestring"].apply(
    lambda x: f"{x // 60}:{x % 60:02d}" if pd.notnull(x) else None
)

In [191]:
null_play_by_play_clutch = play_by_play_clutch.isnull().sum()
total_register = len(play_by_play_clutch)
null_result = null_play_by_play_clutch[null_play_by_play_clutch > 0]

df_null_play_by_play_clutch = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_play_by_play_clutch

                           Valores nulos  Total registros  Porcentaje
wctimestring                         108          1642623        0.01
homedescription                   802604          1642623       48.86
neutraldescription               1602800          1642623       97.58
visitordescription                802377          1642623       48.85
score                            1201720          1642623       73.16
scoremargin                      1201720          1642623       73.16
person1type                          626          1642623        0.04
player1_name                      194345          1642623       11.83
player1_team_id                   194986          1642623       11.87
player1_team_city                 194986          1642623       11.87
player1_team_nickname             194986          1642623       11.87
player1_team_abbreviation         194986          1642623       11.87
player2_name                     1205283          1642623       73.38
player2_team_id                  1201988          1642623       73.17
player2_team_city                1201988          1642623       73.17
player2_team_nickname            1201988          1642623       73.17
player2_team_abbreviation        1201988          1642623       73.17
player3_name                     1609140          1642623       97.96
player3_team_id                  1608600          1642623       97.93
player3_team_city                1608600          1642623       97.93
player3_team_nickname            1608600          1642623       97.93
player3_team_abbreviation        1608600          1642623       97.93

### 2.14.5. Eliminación de columnas de datos de player y team

In [192]:
delete_columns = ["person1type", "player1_name", "player1_team_city", "player1_team_nickname", "player1_team_abbreviation", "person2type", "player2_name", "player2_team_city", "player2_team_nickname", "player2_team_abbreviation", "person3type", "player3_name", "player3_team_city", "player3_team_nickname", "player3_team_abbreviation"]

play_by_play_clutch.drop(delete_columns, axis=1, inplace=True)

In [193]:
null_play_by_play_clutch = play_by_play_clutch.isnull().sum()
total_register = len(play_by_play_clutch)
null_result = null_play_by_play_clutch[null_play_by_play_clutch > 0]

df_null_play_by_play_clutch = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_play_by_play_clutch

                    Valores nulos  Total registros  Porcentaje
wctimestring                  108          1642623        0.01
homedescription            802604          1642623       48.86
neutraldescription        1602800          1642623       97.58
visitordescription         802377          1642623       48.85
score                     1201720          1642623       73.16
scoremargin               1201720          1642623       73.16
player1_team_id            194986          1642623       11.87
player2_team_id           1201988          1642623       73.17
player3_team_id           1608600          1642623       97.93

### 2.14.6. Eliminación de columnas de evento del partido, periodo y hora

In [194]:
delete_columns = ["eventnum", "period", "wctimestring"]

play_by_play_clutch.drop(delete_columns, axis=1, inplace=True)

In [198]:
null_play_by_play_clutch = play_by_play_clutch.isnull().sum()
total_register = len(play_by_play_clutch)
null_result = null_play_by_play_clutch[null_play_by_play_clutch > 0]

df_null_play_by_play_clutch = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_play_by_play_clutch

                    Valores nulos  Total registros  Porcentaje
homedescription            802604          1642623       48.86
neutraldescription        1602800          1642623       97.58
visitordescription         802377          1642623       48.85
score                     1201720          1642623       73.16
scoremargin               1201720          1642623       73.16
player1_team_id            194986          1642623       11.87
player2_team_id           1201988          1642623       73.17
player3_team_id           1608600          1642623       97.93

### 2.14.7. Cambio de 0 por nulos en columna de player

In [209]:
play_by_play_clutch[['player1_id', 'player2_id', 'player3_id']] = play_by_play_clutch[['player1_id', 'player2_id', 'player3_id']].replace(0, np.nan)

In [210]:
null_play_by_play_clutch = play_by_play_clutch.isnull().sum()
total_register = len(play_by_play_clutch)
null_result = null_play_by_play_clutch[null_play_by_play_clutch > 0]

df_null_play_by_play_clutch = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_play_by_play_clutch

                    Valores nulos  Total registros  Porcentaje
homedescription            802604          1642623       48.86
neutraldescription        1602800          1642623       97.58
visitordescription         802377          1642623       48.85
score                     1201720          1642623       73.16
scoremargin               1201720          1642623       73.16
player1_id                  33365          1642623        2.03
player1_team_id            194986          1642623       11.87
player2_id                1205176          1642623       73.37
player2_team_id           1201988          1642623       73.17
player3_id                1608838          1642623       97.94
player3_team_id           1608600          1642623       97.93

### 2.14.8. Filtro por juego, jugadores y equipos

In [219]:
play_by_play_clutch_final = play_by_play_clutch[
    play_by_play_clutch['game_id'].isin(game_2000['game_id']) &

    (play_by_play_clutch['player1_id'].isna() | play_by_play_clutch['player1_id'].isin(player['id'])) &
    (play_by_play_clutch['player2_id'].isna() | play_by_play_clutch['player2_id'].isin(player['id'])) &
    (play_by_play_clutch['player3_id'].isna() | play_by_play_clutch['player3_id'].isin(player['id'])) &

    (play_by_play_clutch['player1_team_id'].isna() | play_by_play_clutch['player1_team_id'].isin(team['id'])) &
    (play_by_play_clutch['player2_team_id'].isna() | play_by_play_clutch['player2_team_id'].isin(team['id'])) &
    (play_by_play_clutch['player3_team_id'].isna() | play_by_play_clutch['player3_team_id'].isin(team['id']))
]

In [220]:
null_play_by_play_clutch_final = play_by_play_clutch_final.isnull().sum()
total_register = len(play_by_play_clutch_final)
null_result = null_play_by_play_clutch_final[null_play_by_play_clutch_final > 0]

df_null_play_by_play_clutch_final = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_play_by_play_clutch_final

                    Valores nulos  Total registros  Porcentaje
homedescription            630234          1302935       48.37
neutraldescription        1271688          1302935       97.60
visitordescription         636409          1302935       48.84
score                      917196          1302935       70.39
scoremargin                917196          1302935       70.39
player1_id                  29906          1302935        2.30
player1_team_id             30777          1302935        2.36
player2_id                 906281          1302935       69.56
player2_team_id            906281          1302935       69.56
player3_id                1273551          1302935       97.74
player3_team_id           1273551          1302935       97.74

## 2.15. Tabla Line_score

### 2.15.1. Lectura de nulos

In [115]:
line_score.isnull().sum(), line_score.shape

(game_date_est                 0
 game_sequence             25532
 game_id                       0
 team_id_home                  0
 team_abbreviation_home        0
 team_city_name_home           0
 team_nickname_home            0
 team_wins_losses_home         0
 pts_qtr1_home              1004
 pts_qtr2_home              1013
 pts_qtr3_home              1045
 pts_qtr4_home              1044
 pts_ot1_home              25759
 pts_ot2_home              27051
 pts_ot3_home              27243
 pts_ot4_home              27270
 pts_ot5_home              45577
 pts_ot6_home              45578
 pts_ot7_home              45578
 pts_ot8_home              45578
 pts_ot9_home              45578
 pts_ot10_home             45578
 pts_home                      0
 team_id_away                  0
 team_abbreviation_away        0
 team_city_name_away           0
 team_nickname_away            0
 team_wins_losses_away         0
 pts_qtr1_away              1010
 pts_qtr2_away              1013
 pts_qtr3_away              1046
 pts_qtr4_away              1046
 pts_ot1_away              25759
 pts_ot2_away              27051
 pts_ot3_away              27243
 pts_ot4_away              27270
 pts_ot5_away              45577
 pts_ot6_away              45578
 pts_ot7_away              45578
 pts_ot8_away              45578
 pts_ot9_away              45578
 pts_ot10_away             45578
 pts_away                      0
 dtype: int64,
 (58053, 43))

In [116]:
null_line_score = line_score.isnull().sum()
total_register = len(line_score)
null_result = null_line_score[null_line_score > 0]

df_null_line_score = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_line_score

               Valores nulos  Total registros  Porcentaje
game_sequence          25532            58053       43.98
pts_qtr1_home           1004            58053        1.73
pts_qtr2_home           1013            58053        1.74
pts_qtr3_home           1045            58053        1.80
pts_qtr4_home           1044            58053        1.80
pts_ot1_home           25759            58053       44.37
pts_ot2_home           27051            58053       46.60
pts_ot3_home           27243            58053       46.93
pts_ot4_home           27270            58053       46.97
pts_ot5_home           45577            58053       78.51
pts_ot6_home           45578            58053       78.51
pts_ot7_home           45578            58053       78.51
pts_ot8_home           45578            58053       78.51
pts_ot9_home           45578            58053       78.51
pts_ot10_home          45578            58053       78.51
pts_qtr1_away           1010            58053        1.74
pts_qtr2_away           1013            58053        1.74
pts_qtr3_away           1046            58053        1.80
pts_qtr4_away           1046            58053        1.80
pts_ot1_away           25759            58053       44.37
pts_ot2_away           27051            58053       46.60
pts_ot3_away           27243            58053       46.93
pts_ot4_away           27270            58053       46.97
pts_ot5_away           45577            58053       78.51
pts_ot6_away           45578            58053       78.51
pts_ot7_away           45578            58053       78.51
pts_ot8_away           45578            58053       78.51
pts_ot9_away           45578            58053       78.51
pts_ot10_away          45578            58053       78.51

### 2.15.2. Filtro por fecha

In [117]:
line_score = line_score[line_score['game_date_est'] >= "2000-01-01"].copy()

In [118]:
null_line_score = line_score.isnull().sum()
total_register = len(line_score)
null_result = null_line_score[null_line_score > 0]

df_null_line_score = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_line_score

               Valores nulos  Total registros  Porcentaje
pts_ot1_home               1            27457        0.00
pts_ot2_home               2            27457        0.01
pts_ot3_home               2            27457        0.01
pts_ot4_home               2            27457        0.01
pts_ot5_home           14984            27457       54.57
pts_ot6_home           14984            27457       54.57
pts_ot7_home           14984            27457       54.57
pts_ot8_home           14984            27457       54.57
pts_ot9_home           14984            27457       54.57
pts_ot10_home          14984            27457       54.57
pts_ot1_away               1            27457        0.00
pts_ot2_away               2            27457        0.01
pts_ot3_away               2            27457        0.01
pts_ot4_away               2            27457        0.01
pts_ot5_away           14984            27457       54.57
pts_ot6_away           14984            27457       54.57
pts_ot7_away           14984            27457       54.57
pts_ot8_away           14984            27457       54.57
pts_ot9_away           14984            27457       54.57
pts_ot10_away          14984            27457       54.57

### 2.15.3. Filtro por nulos mayores al 50%

In [119]:
null_50 = df_null_line_score[df_null_line_score["Porcentaje"] > 50]
null_50

               Valores nulos  Total registros  Porcentaje
pts_ot5_home           14984            27457       54.57
pts_ot6_home           14984            27457       54.57
pts_ot7_home           14984            27457       54.57
pts_ot8_home           14984            27457       54.57
pts_ot9_home           14984            27457       54.57
pts_ot10_home          14984            27457       54.57
pts_ot5_away           14984            27457       54.57
pts_ot6_away           14984            27457       54.57
pts_ot7_away           14984            27457       54.57
pts_ot8_away           14984            27457       54.57
pts_ot9_away           14984            27457       54.57
pts_ot10_away          14984            27457       54.57

In [120]:
delete_columns = list(null_50.index)
line_score.drop(columns=delete_columns, inplace=True)

In [121]:
null_line_score = line_score.isnull().sum()
total_register = len(line_score)
null_result = null_line_score[null_line_score > 0]

df_null_line_score = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_line_score

              Valores nulos  Total registros  Porcentaje
pts_ot1_home              1            27457        0.00
pts_ot2_home              2            27457        0.01
pts_ot3_home              2            27457        0.01
pts_ot4_home              2            27457        0.01
pts_ot1_away              1            27457        0.00
pts_ot2_away              2            27457        0.01
pts_ot3_away              2            27457        0.01
pts_ot4_away              2            27457        0.01

### 2.15.4. Agregado de 0 a los nulos restantes

In [122]:
line_score = line_score.fillna(0)

In [123]:
null_line_score = line_score.isnull().sum()
total_register = len(line_score)
null_result = null_line_score[null_line_score > 0]

df_null_line_score = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_line_score

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

### 2.15.5. Filtro por juego y equipo

In [124]:
line_score = line_score[line_score['game_id'].isin(game_2000['game_id']) & line_score['team_id_home'].isin(team['id']) & line_score['team_id_away'].isin(team['id'])]

In [125]:
null_line_score = line_score.isnull().sum()
total_register = len(line_score)
null_result = null_line_score[null_line_score > 0]

df_null_line_score = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_line_score

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

# 3. Muestra del resultado de las tablas

In [126]:
player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4831 entries, 0 to 4830
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          4831 non-null   int64
 1   full_name   4831 non-null   object
 2   first_name  4825 non-null   object
 3   last_name   4831 non-null   object
 4   is_active   4831 non-null   int64
dtypes: int64(2), object(3)
memory usage: 188.8+ KB

In [127]:
team.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            30 non-null     int64
 1   full_name     30 non-null     object
 2   abbreviation  30 non-null     object
 3   nickname      30 non-null     object
 4   city          30 non-null     object
 5   state         30 non-null     object
 6   year_founded  30 non-null     float64
dtypes: float64(1), int64(1), object(5)
memory usage: 1.8+ KB

In [128]:
game_2000.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30287 entries, 35272 to 65695
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               30287 non-null  int64
 1   team_id_home            30287 non-null  int64
 2   team_abbreviation_home  30287 non-null  object
 3   team_name_home          30287 non-null  object
 4   game_id                 30287 non-null  int64
 5   game_date               30287 non-null  object
 6   matchup_home            30287 non-null  object
 7   wl_home                 30287 non-null  object
 8   min                     30287 non-null  int64
 9   fgm_home                30287 non-null  float64
 10  fga_home                30287 non-null  float64
 11  fg_pct_home             30287 non-null  float64
 12  fg3m_home               30287 non-null  float64
 13  fg3a_home               30287 non-null  float64
 14  fg3_pct_home            30287 non-null  float64
 15  ftm_home                30287 non-null  float64
 16  fta_home                30287 non-null  float64
 17  ft_pct_home             30287 non-null  float64
 18  oreb_home               30287 non-null  float64
 19  dreb_home               30287 non-null  float64
 20  reb_home                30287 non-null  float64
 21  ast_home                30287 non-null  float64
 22  stl_home                30287 non-null  float64
 23  blk_home                30287 non-null  float64
 24  tov_home                30287 non-null  float64
 25  pf_home                 30287 non-null  float64
 26  pts_home                30287 non-null  float64
 27  plus_minus_home         30287 non-null  int64
 28  video_available_home    30287 non-null  int64
 29  team_id_away            30287 non-null  int64
 30  team_abbreviation_away  30287 non-null  object
 31  team_name_away          30287 non-null  object
 32  matchup_away            30287 non-null  object
 33  wl_away                 30287 non-null  object
 34  fgm_away                30287 non-null  float64
 35  fga_away                30287 non-null  float64
 36  fg_pct_away             30287 non-null  float64
 37  fg3m_away               30287 non-null  float64
 38  fg3a_away               30287 non-null  float64
 39  fg3_pct_away            30287 non-null  float64
 40  ftm_away                30287 non-null  float64
 41  fta_away                30287 non-null  float64
 42  ft_pct_away             30287 non-null  float64
 43  oreb_away               30287 non-null  float64
 44  dreb_away               30287 non-null  float64
 45  reb_away                30287 non-null  float64
 46  ast_away                30287 non-null  float64
 47  stl_away                30287 non-null  float64
 48  blk_away                30287 non-null  float64
 49  tov_away                30287 non-null  float64
 50  pf_away                 30287 non-null  float64
 51  pts_away                30287 non-null  float64
 52  plus_minus_away         30287 non-null  int64
 53  video_available_away    30287 non-null  int64
 54  season_type             30287 non-null  object
dtypes: float64(36), int64(9), object(10)
memory usage: 12.9+ MB

In [129]:
common_player_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1403 entries, 2 to 4169
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   person_id          1403 non-null   int64
 1   display_fi_last    1403 non-null   object
 2   birthdate          1403 non-null   object
 3   school             1403 non-null   object
 4   country            1403 non-null   object
 5   last_affiliation   1403 non-null   object
 6   height             1403 non-null   object
 7   weight             1403 non-null   float64
 8   season_exp         1403 non-null   float64
 9   position           1403 non-null   object
 10  rosterstatus       1403 non-null   object
 11  team_id            1403 non-null   int64
 12  playercode         1403 non-null   object
 13  from_year          1403 non-null   float64
 14  to_year            1403 non-null   float64
 15  dleague_flag       1403 non-null   object
 16  nba_flag           1403 non-null   object
 17  games_played_flag  1403 non-null   object
 18  draft_year         1403 non-null   object
 19  draft_round        1403 non-null   object
 20  draft_number       1403 non-null   object
 21  greatest_75_flag   1403 non-null   object
dtypes: float64(4), int64(2), object(16)
memory usage: 252.1+ KB

In [130]:
draft_combine_stats.info()

<class 'pandas.core.frame.DataFrame'>
Index: 494 entries, 2 to 992
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season                  494 non-null    int64
 1   player_id               494 non-null    int64
 2   first_name              494 non-null    object
 3   last_name               494 non-null    object
 4   player_name             494 non-null    object
 5   position                494 non-null    object
 6   height_wo_shoes         494 non-null    float64
 7   weight                  494 non-null    float64
 8   wingspan                494 non-null    float64
 9   standing_reach          494 non-null    float64
 10  body_fat_pct            494 non-null    float64
 11  standing_vertical_leap  494 non-null    float64
 12  max_vertical_leap       494 non-null    float64
 13  lane_agility_time       494 non-null    float64
 14  three_quarter_sprint    494 non-null    float64
 15  bench_press             494 non-null    float64
dtypes: float64(10), int64(2), object(4)
memory usage: 65.6+ KB

In [131]:
draft_history.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1143 entries, 6625 to 7930
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   person_id            1143 non-null   int64
 1   player_name          1143 non-null   object
 2   season               1143 non-null   int64
 3   round_number         1143 non-null   int64
 4   round_pick           1143 non-null   int64
 5   overall_pick         1143 non-null   int64
 6   draft_type           1143 non-null   object
 7   team_id              1143 non-null   int64
 8   team_city            1143 non-null   object
 9   team_name            1143 non-null   object
 10  team_abbreviation    1143 non-null   object
 11  organization         1143 non-null   object
 12  organization_type    1143 non-null   object
 13  player_profile_flag  1143 non-null   int64
dtypes: int64(7), object(7)
memory usage: 133.9+ KB

In [132]:
team_details.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24 entries, 0 to 24
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   team_id             24 non-null     int64
 1   abbreviation        24 non-null     object
 2   nickname            24 non-null     object
 3   yearfounded         24 non-null     float64
 4   city                24 non-null     object
 5   arena               24 non-null     object
 6   arenacapacity       24 non-null     float64
 7   owner               24 non-null     object
 8   generalmanager      24 non-null     object
 9   headcoach           24 non-null     object
 10  dleagueaffiliation  24 non-null     object
dtypes: float64(2), int64(1), object(8)
memory usage: 2.2+ KB

In [133]:
team_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   team_id           52 non-null     int64
 1   city              52 non-null     object
 2   nickname          52 non-null     object
 3   year_founded      52 non-null     int64
 4   year_active_till  52 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.2+ KB

In [134]:
game_info_2000.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27329 entries, 30596 to 58050
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   game_id    27329 non-null  int64
 1   game_date  27329 non-null  object
dtypes: int64(1), object(1)
memory usage: 640.5+ KB

In [135]:
game_summary.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27385 entries, 30596 to 58107
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_date_est           27385 non-null  object
 1   game_sequence           27385 non-null  float64
 2   game_id                 27385 non-null  int64
 3   game_status_id          27385 non-null  int64
 4   game_status_text        27385 non-null  object
 5   gamecode                27385 non-null  object
 6   home_team_id            27385 non-null  int64
 7   visitor_team_id         27385 non-null  int64
 8   season                  27385 non-null  int64
 9   live_period             27385 non-null  int64
 10  live_period_time_bcast  27385 non-null  object
 11  wh_status               27385 non-null  int64
dtypes: float64(1), int64(7), object(4)
memory usage: 2.7+ MB

In [136]:
other_stats.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23150 entries, 3106 to 28268
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 23150 non-null  int64
 1   team_id_home            23150 non-null  int64
 2   team_abbreviation_home  23150 non-null  object
 3   team_city_home          23150 non-null  object
 4   pts_paint_home          23150 non-null  int64
 5   pts_2nd_chance_home     23150 non-null  int64
 6   pts_fb_home             23150 non-null  int64
 7   largest_lead_home       23150 non-null  int64
 8   lead_changes            23150 non-null  int64
 9   times_tied              23150 non-null  int64
 10  team_turnovers_home     23150 non-null  float64
 11  total_turnovers_home    23150 non-null  float64
 12  team_rebounds_home      23150 non-null  float64
 13  pts_off_to_home         23150 non-null  float64
 14  team_id_away            23150 non-null  int64
 15  team_abbreviation_away  23150 non-null  object
 16  team_city_away          23150 non-null  object
 17  pts_paint_away          23150 non-null  int64
 18  pts_2nd_chance_away     23150 non-null  int64
 19  pts_fb_away             23150 non-null  int64
 20  largest_lead_away       23150 non-null  int64
 21  team_turnovers_away     23150 non-null  float64
 22  total_turnovers_away    23150 non-null  float64
 23  team_rebounds_away      23150 non-null  float64
 24  pts_off_to_away         23150 non-null  float64
dtypes: float64(8), int64(13), object(4)
memory usage: 4.6+ MB

In [137]:
officials.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70395 entries, 241 to 70964
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   game_id      70395 non-null  int64
 1   official_id  70395 non-null  int64
 2   first_name   70395 non-null  object
 3   last_name    70395 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.7+ MB

In [138]:
inactive_players.info()

<class 'pandas.core.frame.DataFrame'>
Index: 109342 entries, 150 to 110184
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   game_id            109342 non-null  int64
 1   player_id          109342 non-null  int64
 2   first_name         109342 non-null  object
 3   last_name          109342 non-null  object
 4   team_id            109342 non-null  int64
 5   team_city          109342 non-null  object
 6   team_name          109342 non-null  object
 7   team_abbreviation  109342 non-null  object
dtypes: int64(3), object(5)
memory usage: 7.5+ MB

In [222]:
play_by_play_clutch.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1642623 entries, 416 to 13592898
Data columns (total 15 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   game_id             1642623 non-null  int64
 1   eventmsgtype        1642623 non-null  int64
 2   eventmsgactiontype  1642623 non-null  int64
 3   pctimestring        1642623 non-null  object
 4   homedescription     840019 non-null   object
 5   neutraldescription  39823 non-null    object
 6   visitordescription  840246 non-null   object
 7   score               440903 non-null   object
 8   scoremargin         440903 non-null   object
 9   player1_id          1609258 non-null  Int64
 10  player1_team_id     1447637 non-null  Int64
 11  player2_id          437447 non-null   Int64
 12  player2_team_id     440635 non-null   Int64
 13  player3_id          33785 non-null    Int64
 14  player3_team_id     34023 non-null    Int64
dtypes: Int64(6), int64(3), object(6)
memory usage: 209.9+ MB

In [140]:
line_score.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27329 entries, 30596 to 58050
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_date_est           27329 non-null  object
 1   game_sequence           27329 non-null  float64
 2   game_id                 27329 non-null  int64
 3   team_id_home            27329 non-null  int64
 4   team_abbreviation_home  27329 non-null  object
 5   team_city_name_home     27329 non-null  object
 6   team_nickname_home      27329 non-null  object
 7   team_wins_losses_home   27329 non-null  object
 8   pts_qtr1_home           27329 non-null  float64
 9   pts_qtr2_home           27329 non-null  float64
 10  pts_qtr3_home           27329 non-null  float64
 11  pts_qtr4_home           27329 non-null  float64
 12  pts_ot1_home            27329 non-null  float64
 13  pts_ot2_home            27329 non-null  float64
 14  pts_ot3_home            27329 non-null  float64
 15  pts_ot4_home            27329 non-null  float64
 16  pts_home                27329 non-null  float64
 17  team_id_away            27329 non-null  int64
 18  team_abbreviation_away  27329 non-null  object
 19  team_city_name_away     27329 non-null  object
 20  team_nickname_away      27329 non-null  object
 21  team_wins_losses_away   27329 non-null  object
 22  pts_qtr1_away           27329 non-null  float64
 23  pts_qtr2_away           27329 non-null  float64
 24  pts_qtr3_away           27329 non-null  float64
 25  pts_qtr4_away           27329 non-null  float64
 26  pts_ot1_away            27329 non-null  float64
 27  pts_ot2_away            27329 non-null  float64
 28  pts_ot3_away            27329 non-null  float64
 29  pts_ot4_away            27329 non-null  float64
 30  pts_away                27329 non-null  float64
dtypes: float64(19), int64(3), object(9)
memory usage: 6.7+ MB

# 4. Insercion a la base de datos

## 4.1. Carga de variables de entorno

In [141]:
from dotenv import load_dotenv
import os

# Carga variables desde el archivo .env
load_dotenv()

# Accede a las variables
SERVER = os.getenv("SERVER")
DATABASE = os.getenv("DATABASE")
USER = os.getenv("USER")
PASSWORD = os.getenv("PASSWORD")
DRIVER = os.getenv("DRIVER")

## 4.2. Conexion a la base de datos

In [142]:
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy import create_engine

# Crear la cadena de conexión
connection_string = f"mssql+pyodbc://{USER}:{PASSWORD}@{SERVER}/{DATABASE}?driver={DRIVER}"
engine = create_engine(connection_string)

# Verificar la conexión
try:
    with engine.connect() as connection:
        print("Conexión a la base de datos exitosa.")
        print(f"Servidor: {SERVER}")
except Exception as e:
    print(f"Error al conectar a la base de datos: {e}")

Conexión a la base de datos exitosa.
Servidor: db-pi-final.cbkqem6qo4ah.sa-east-1.rds.amazonaws.com

## 4.3. Inserción de los dataframe a la base de datos

### 4.3.1. Inserción tabla Player

In [143]:
try:
	player.to_sql("Player", con=engine, if_exists="append", index=False)
	print("Datos insertados en la tabla 'Player'")
except SQLAlchemyError as e:
	print(f"A ocurrido un error: {e}")

Datos insertados en la tabla 'Player'

### 4.3.2. Inserción tabla Team

In [144]:
try:
	team.to_sql("Team", con=engine, if_exists="append", index=False)
	print("Datos insertados en la tabla 'Team'")
except SQLAlchemyError as e:
	print(f"A ocurrido un error: {e}")

Datos insertados en la tabla 'Team'

### 4.3.3. Inserción tabla Game

In [145]:
try:
	game_2000.to_sql("Game", con=engine, if_exists="append", index=False)
	print("Datos insertados en la tabla 'Game'")
except SQLAlchemyError as e:
	print(f"A ocurrido un error: {e}")

Datos insertados en la tabla 'Game'

### 4.3.4. Inserción tabla Commom_player_info

In [147]:
try:
	common_player_info.to_sql("Common_player_info", con=engine, if_exists="append", index=False)
	print("Datos insertados en la tabla 'Common_player_info'")
except SQLAlchemyError as e:
	print(f"A ocurrido un error: {e}")

Datos insertados en la tabla 'Common_player_info'

### 4.3.5. Inserción tabla Draft_combine_stats

In [156]:
try:
	draft_combine_stats.to_sql("Draft_combine_stats", con=engine, if_exists="append", index=False)
	print("Datos insertados en la tabla 'Draft_combine_stats'")
except SQLAlchemyError as e:
	print(f"A ocurrido un error: {e}")

Datos insertados en la tabla 'Draft_combine_stats'

### 4.3.6. Inserción tabla Draft_history

In [157]:
try:
	draft_history.to_sql("Draft_history", con=engine, if_exists="append", index=False)
	print("Datos insertados en la tabla 'Draft_history'")
except SQLAlchemyError as e:
	print(f"A ocurrido un error: {e}")

Datos insertados en la tabla 'Draft_history'

### 4.3.7. Inserción tabla Team_details

In [158]:
try:
	team_details.to_sql("Team_details", con=engine, if_exists="append", index=False)
	print("Datos insertados en la tabla 'Team_details'")
except SQLAlchemyError as e:
	print(f"A ocurrido un error: {e}")

Datos insertados en la tabla 'Team_details'

### 4.3.8. Inserción tabla Team_history

In [159]:
try:
	team_history.to_sql("Team_history", con=engine, if_exists="append", index=False)
	print("Datos insertados en la tabla 'Team_history'")
except SQLAlchemyError as e:
	print(f"A ocurrido un error: {e}")

Datos insertados en la tabla 'Team_history'

### 4.3.9. Inserción tabla Game_info

In [160]:
try:
	game_info_2000.to_sql("Game_info", con=engine, if_exists="append", index=False)
	print("Datos insertados en la tabla 'Game_info'")
except SQLAlchemyError as e:
	print(f"A ocurrido un error: {e}")

Datos insertados en la tabla 'Game_info'

### 4.3.10. Inserción tabla Game_summary

In [164]:
try:
	game_summary.to_sql("Game_summary", con=engine, if_exists="append", index=False)
	print("Datos insertados en la tabla 'Game_summary'")
except SQLAlchemyError as e:
	print(f"A ocurrido un error: {e}")

Datos insertados en la tabla 'Game_summary'

### 4.3.11. Inserción tabla Other_stats

In [165]:
try:
	other_stats.to_sql("Other_stats", con=engine, if_exists="append", index=False)
	print("Datos insertados en la tabla 'Other_stats'")
except SQLAlchemyError as e:
	print(f"A ocurrido un error: {e}")

Datos insertados en la tabla 'Other_stats'

### 4.3.12. Inserción tabla Officials

In [167]:
try:
	officials.to_sql("Officials", con=engine, if_exists="append", index=False)
	print("Datos insertados en la tabla 'Officials'")
except SQLAlchemyError as e:
	print(f"A ocurrido un error: {e}")

Datos insertados en la tabla 'Officials'

### 4.3.13. Inserción tabla Inactive_players

In [168]:
try:
	inactive_players.to_sql("Inactive_players", con=engine, if_exists="append", index=False)
	print("Datos insertados en la tabla 'Inactive_players'")
except SQLAlchemyError as e:
	print(f"A ocurrido un error: {e}")

Datos insertados en la tabla 'Inactive_players'

### 4.3.14. Inserción tabla Play_by_play

In [221]:
try:
	play_by_play_clutch_final.to_sql("Play_by_play", con=engine, if_exists="append", index=False)
	print("Datos insertados en la tabla 'Play_by_play'")
except SQLAlchemyError as e:
	print(f"A ocurrido un error: {e}")

Datos insertados en la tabla 'Play_by_play'

### 4.3.15. Inserción tabla Line_score

In [207]:
try:
	line_score.to_sql("Line_score", con=engine, if_exists="append", index=False)
	print("Datos insertados en la tabla 'Line_score'")
except SQLAlchemyError as e:
	print(f"A ocurrido un error: {e}")

Datos insertados en la tabla 'Line_score'