# 1. Importacion y carga de datos

In [2]:
import pandas as pd
import numpy as np

In [3]:
common_player_info = pd.read_csv('common_player_info.csv')
draft_combine_stats = pd.read_csv('draft_combine_stats.csv')
draft_history = pd.read_csv('draft_history.csv')
game_info = pd.read_csv('game_info.csv')
game_summary = pd.read_csv('game_summary.csv')
game = pd.read_csv('game.csv')
inactive_players = pd.read_csv('inactive_players.csv')
line_score = pd.read_csv('line_score.csv')
officials = pd.read_csv('officials.csv')
other_stats = pd.read_csv('other_stats.csv')
play_by_play = pd.read_csv('play_by_play.csv')
player = pd.read_csv('player.csv')
team_details = pd.read_csv('team_details.csv')
team_history = pd.read_csv('team_history.csv')
team_info_common = pd.read_csv('team_info_common.csv')
team = pd.read_csv('team.csv')

# 2. Limpieza de datos

## 2.1. Tabla common_player_info

### 2.1.1. Lectura de nulos

In [4]:
common_player_info.isnull().sum(), common_player_info.shape

(person_id                             0
 first_name                            0
 last_name                             0
 display_first_last                    0
 display_last_comma_first              0
 display_fi_last                       0
 player_slug                           0
 birthdate                             0
 school                               15
 country                               1
 last_affiliation                      0
 height                               96
 weight                              100
 season_exp                            0
 jersey                              980
 position                             63
 rosterstatus                          0
 games_played_current_season_flag      0
 team_id                               0
 team_name                           702
 team_abbreviation                   702
 team_code                           702
 team_city                           702
 playercode                            1
 from_year                            15
 to_year                              15
 dleague_flag                          0
 nba_flag                              0
 games_played_flag                     0
 draft_year                            0
 draft_round                         164
 draft_number                        223
 greatest_75_flag                      0
 dtype: int64,
 (4171, 33))

In [5]:
null_common_player_info = common_player_info.isnull().sum()
total_register = len(common_player_info)
null_result = null_common_player_info[null_common_player_info > 0]

df_null_common_player_info = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_common_player_info

                   Valores nulos  Total registros  Porcentaje
school                        15             4171        0.36
country                        1             4171        0.02
height                        96             4171        2.30
weight                       100             4171        2.40
jersey                       980             4171       23.50
position                      63             4171        1.51
team_name                    702             4171       16.83
team_abbreviation            702             4171       16.83
team_code                    702             4171       16.83
team_city                    702             4171       16.83
playercode                     1             4171        0.02
from_year                     15             4171        0.36
to_year                       15             4171        0.36
draft_round                  164             4171        3.93
draft_number                 223             4171        5.35

### 2.1.2. Filtro por el final de la carrera mayor a 2000

In [6]:
common_player_info = common_player_info[common_player_info["to_year"] >= 2000]

### 2.1.3. Eliminacion de columnas innecesarias

In [7]:
delete_columns = ["first_name", "last_name", "display_first_last", "display_last_comma_first", "player_slug","jersey", "team_name", "team_abbreviation", "team_code", "team_city", "games_played_current_season_flag"]

common_player_info.drop(delete_columns, axis=1, inplace=True)

### 2.1.4. Eliminacion de nulos en las diferentes columnas por no encontrar la posibilidad de llenarlos

In [8]:
common_player_info = common_player_info.dropna(subset=['height', 'weight', 'draft_number', 'draft_number', 'position'])

In [9]:
common_player_info.isnull().sum(), common_player_info.shape

(person_id             0
 display_fi_last       0
 birthdate             0
 school               13
 country               0
 last_affiliation      0
 height                0
 weight                0
 season_exp            0
 position              0
 rosterstatus          0
 team_id               0
 playercode            0
 from_year             0
 to_year               0
 dleague_flag          0
 nba_flag              0
 games_played_flag     0
 draft_year            0
 draft_round           0
 draft_number          0
 greatest_75_flag      0
 dtype: int64,
 (1877, 22))

### 2.1.5. Rellenado de las columnas school y country con los valores descomprimidos de last_affiliation

In [10]:
common_player_info[['school', 'country']] = common_player_info['last_affiliation'].str.split('/', n=1, expand=True)

In [11]:
common_player_info.isnull().sum(), common_player_info.shape

(person_id            0
 display_fi_last      0
 birthdate            0
 school               0
 country              0
 last_affiliation     0
 height               0
 weight               0
 season_exp           0
 position             0
 rosterstatus         0
 team_id              0
 playercode           0
 from_year            0
 to_year              0
 dleague_flag         0
 nba_flag             0
 games_played_flag    0
 draft_year           0
 draft_round          0
 draft_number         0
 greatest_75_flag     0
 dtype: int64,
 (1877, 22))

## 2.2. Tabla draft_combine_stats

### 2.2.1. Lectura de nulos

In [12]:
draft_combine_stats.isnull().sum(), draft_combine_stats.shape

(season                             0
 player_id                          0
 first_name                         0
 last_name                          0
 player_name                        0
 position                           5
 height_wo_shoes                   49
 height_wo_shoes_ft_in             49
 height_w_shoes                   194
 height_w_shoes_ft_in             194
 weight                            50
 wingspan                          49
 wingspan_ft_in                    49
 standing_reach                    50
 standing_reach_ft_in              50
 body_fat_pct                     199
 hand_length                      483
 hand_width                       483
 standing_vertical_leap           185
 max_vertical_leap                185
 lane_agility_time                194
 modified_lane_agility_time       791
 three_quarter_sprint             190
 bench_press                      394
 spot_fifteen_corner_left        1128
 spot_fifteen_break_left         1126
 spot_fifteen_top_key            1126
 spot_fifteen_break_right        1126
 spot_fifteen_corner_right       1126
 spot_college_corner_left         957
 spot_college_break_left         1036
 spot_college_top_key            1036
 spot_college_break_right        1036
 spot_college_corner_right       1036
 spot_nba_corner_left             985
 spot_nba_break_left              985
 spot_nba_top_key                 985
 spot_nba_break_right             985
 spot_nba_corner_right            985
 off_drib_fifteen_break_left     1036
 off_drib_fifteen_top_key        1036
 off_drib_fifteen_break_right    1036
 off_drib_college_break_left     1092
 off_drib_college_top_key        1171
 off_drib_college_break_right    1171
 on_move_fifteen                 1054
 on_move_college                 1086
 dtype: int64,
 (1202, 47))

In [13]:
null_draft_combine_stats = draft_combine_stats.isnull().sum()
total_register = len(draft_combine_stats)
null_result = null_draft_combine_stats[null_draft_combine_stats > 0]

df_null_draft_combine_stats = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_draft_combine_stats

                              Valores nulos  Total registros  Porcentaje
position                                  5             1202        0.42
height_wo_shoes                          49             1202        4.08
height_wo_shoes_ft_in                    49             1202        4.08
height_w_shoes                          194             1202       16.14
height_w_shoes_ft_in                    194             1202       16.14
weight                                   50             1202        4.16
wingspan                                 49             1202        4.08
wingspan_ft_in                           49             1202        4.08
standing_reach                           50             1202        4.16
standing_reach_ft_in                     50             1202        4.16
body_fat_pct                            199             1202       16.56
hand_length                             483             1202       40.18
hand_width                              483             1202       40.18
standing_vertical_leap                  185             1202       15.39
max_vertical_leap                       185             1202       15.39
lane_agility_time                       194             1202       16.14
modified_lane_agility_time              791             1202       65.81
three_quarter_sprint                    190             1202       15.81
bench_press                             394             1202       32.78
spot_fifteen_corner_left               1128             1202       93.84
spot_fifteen_break_left                1126             1202       93.68
spot_fifteen_top_key                   1126             1202       93.68
spot_fifteen_break_right               1126             1202       93.68
spot_fifteen_corner_right              1126             1202       93.68
spot_college_corner_left                957             1202       79.62
spot_college_break_left                1036             1202       86.19
spot_college_top_key                   1036             1202       86.19
spot_college_break_right               1036             1202       86.19
spot_college_corner_right              1036             1202       86.19
spot_nba_corner_left                    985             1202       81.95
spot_nba_break_left                     985             1202       81.95
spot_nba_top_key                        985             1202       81.95
spot_nba_break_right                    985             1202       81.95
spot_nba_corner_right                   985             1202       81.95
off_drib_fifteen_break_left            1036             1202       86.19
off_drib_fifteen_top_key               1036             1202       86.19
off_drib_fifteen_break_right           1036             1202       86.19
off_drib_college_break_left            1092             1202       90.85
off_drib_college_top_key               1171             1202       97.42
off_drib_college_break_right           1171             1202       97.42
on_move_fifteen                        1054             1202       87.69
on_move_college                        1086             1202       90.35

### 2.2.2. Eliminacion de columnas con un porcentaje mayor al 75% de nulos

In [14]:
null_75 = df_null_draft_combine_stats[df_null_draft_combine_stats["Porcentaje"] > 75]
null_75

                              Valores nulos  Total registros  Porcentaje
spot_fifteen_corner_left               1128             1202       93.84
spot_fifteen_break_left                1126             1202       93.68
spot_fifteen_top_key                   1126             1202       93.68
spot_fifteen_break_right               1126             1202       93.68
spot_fifteen_corner_right              1126             1202       93.68
spot_college_corner_left                957             1202       79.62
spot_college_break_left                1036             1202       86.19
spot_college_top_key                   1036             1202       86.19
spot_college_break_right               1036             1202       86.19
spot_college_corner_right              1036             1202       86.19
spot_nba_corner_left                    985             1202       81.95
spot_nba_break_left                     985             1202       81.95
spot_nba_top_key                        985             1202       81.95
spot_nba_break_right                    985             1202       81.95
spot_nba_corner_right                   985             1202       81.95
off_drib_fifteen_break_left            1036             1202       86.19
off_drib_fifteen_top_key               1036             1202       86.19
off_drib_fifteen_break_right           1036             1202       86.19
off_drib_college_break_left            1092             1202       90.85
off_drib_college_top_key               1171             1202       97.42
off_drib_college_break_right           1171             1202       97.42
on_move_fifteen                        1054             1202       87.69
on_move_college                        1086             1202       90.35

In [15]:
delete_columns = list(null_75.index)
draft_combine_stats.drop(columns=delete_columns, inplace=True)

In [16]:
draft_combine_stats.isnull().sum(), draft_combine_stats.shape

(season                          0
 player_id                       0
 first_name                      0
 last_name                       0
 player_name                     0
 position                        5
 height_wo_shoes                49
 height_wo_shoes_ft_in          49
 height_w_shoes                194
 height_w_shoes_ft_in          194
 weight                         50
 wingspan                       49
 wingspan_ft_in                 49
 standing_reach                 50
 standing_reach_ft_in           50
 body_fat_pct                  199
 hand_length                   483
 hand_width                    483
 standing_vertical_leap        185
 max_vertical_leap             185
 lane_agility_time             194
 modified_lane_agility_time    791
 three_quarter_sprint          190
 bench_press                   394
 dtype: int64,
 (1202, 24))

### 2.2.3. Eliminacion de columnas que no se usaran

In [17]:
delete_columns = ["height_w_shoes", "height_w_shoes_ft_in", "height_wo_shoes_ft_in", "modified_lane_agility_time", "standing_reach_ft_in", "wingspan_ft_in", "hand_length", "hand_width"]

draft_combine_stats.drop(delete_columns, axis=1, inplace=True)

In [18]:
null_draft_combine_stats = draft_combine_stats.isnull().sum()
total_register = len(draft_combine_stats)
null_result = null_draft_combine_stats[null_draft_combine_stats > 0]

df_null_draft_combine_stats = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_draft_combine_stats

                        Valores nulos  Total registros  Porcentaje
position                            5             1202        0.42
height_wo_shoes                    49             1202        4.08
weight                             50             1202        4.16
wingspan                           49             1202        4.08
standing_reach                     50             1202        4.16
body_fat_pct                      199             1202       16.56
standing_vertical_leap            185             1202       15.39
max_vertical_leap                 185             1202       15.39
lane_agility_time                 194             1202       16.14
three_quarter_sprint              190             1202       15.81
bench_press                       394             1202       32.78

### 2.2.4. Eliminacion de filas nulas en las diferentes columnas

In [19]:
draft_combine_stats = draft_combine_stats.dropna(subset=['height_wo_shoes', 'weight', 'wingspan', 'standing_reach', 'body_fat_pct', 'standing_vertical_leap', 'max_vertical_leap', 'lane_agility_time', 'three_quarter_sprint', 'bench_press'])

In [20]:
null_draft_combine_stats = draft_combine_stats.isnull().sum()
total_register = len(draft_combine_stats)
null_result = null_draft_combine_stats[null_draft_combine_stats > 0]

df_null_draft_combine_stats = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_draft_combine_stats

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.3. Tabla draft_history

### 2.3.1. Lectura de nulos

In [21]:
draft_history.isnull().sum(), draft_history.shape

(person_id               0
 player_name             0
 season                  0
 round_number            0
 round_pick              0
 overall_pick            0
 draft_type              0
 team_id                 0
 team_city               0
 team_name               0
 team_abbreviation       0
 organization           19
 organization_type      19
 player_profile_flag     0
 dtype: int64,
 (7990, 14))

In [22]:
null_draft_history = draft_history.isnull().sum()
total_register = len(draft_history)
null_result = null_draft_history[null_draft_history > 0]

df_null_draft_history = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_draft_history

                   Valores nulos  Total registros  Porcentaje
organization                  19             7990        0.24
organization_type             19             7990        0.24

### 2.3.2. Filtro por fecha

In [23]:
draft_history = draft_history[draft_history["season"] >= 2000]

### 2.3.3. Eliminacion de filas nulas en las diferentes columnas

In [24]:
draft_history = draft_history.dropna(subset=['organization', 'organization_type'])

In [25]:
null_draft_history = draft_history.isnull().sum()
total_register = len(draft_history)
null_result = null_draft_history[null_draft_history > 0]

df_null_draft_history = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_draft_history

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.4. Tabla game_info

### 2.4.1. Lectura de nulos

In [26]:
game_info.isnull().sum(), game_info.shape

(game_id           0
 game_date         0
 attendance     5380
 game_time     28111
 dtype: int64,
 (58053, 4))

In [27]:
null_game_info = game_info.isnull().sum()
total_register = len(game_info)
null_result = null_game_info[null_game_info > 0]

df_null_game_info = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_info

            Valores nulos  Total registros  Porcentaje
attendance           5380            58053        9.27
game_time           28111            58053       48.42

### 2.4.2. Filtro por fechas del año del 2000 en adelante

In [28]:
game_info_2000_plus = game_info[game_info["game_date"] >= "2000-01-01"]

In [29]:
null_game_info_2000_plus = game_info_2000_plus.isnull().sum()
total_register = len(game_info_2000_plus)
null_result = null_game_info_2000_plus[null_game_info_2000_plus > 0]

df_null_game_info_2000_plus = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_info_2000_plus

            Valores nulos  Total registros  Porcentaje
attendance            876            27457        3.19
game_time             843            27457        3.07

### 2.4.3. Eliminacion de columnas innecesarias

In [114]:
delete_columns = ['attendance', 'game_time']

game_info_2000_plus = game_info_2000_plus.drop(delete_columns, axis=1, inplace=True)

KeyError: "['attendance', 'game_time'] not found in axis"

In [31]:
null_game_info_2000_plus = game_info_2000_plus.isnull().sum()
total_register = len(game_info_2000_plus)
null_result = null_game_info_2000_plus[null_game_info_2000_plus > 0]

df_null_game_info_2000_plus = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_info_2000_plus

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.5. Tabla game_summary

### 2.5.1. Lectura de nulos

In [32]:
game_summary.isnull().sum(), game_summary.shape

(game_date_est                           0
 game_sequence                       25532
 game_id                                 0
 game_status_id                          0
 game_status_text                    25986
 gamecode                                0
 home_team_id                            0
 visitor_team_id                         0
 season                                  0
 live_period                             0
 live_pc_time                        56086
 natl_tv_broadcaster_abbreviation    51907
 live_period_time_bcast                  0
 wh_status                               0
 dtype: int64,
 (58110, 14))

In [33]:
null_game_summary = game_summary.isnull().sum()
total_register = len(game_summary)
null_result = null_game_summary[null_game_summary > 0]

df_null_game_summary = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_summary

                                  Valores nulos  Total registros  Porcentaje
game_sequence                             25532            58110       43.94
game_status_text                          25986            58110       44.72
live_pc_time                              56086            58110       96.52
natl_tv_broadcaster_abbreviation          51907            58110       89.33

### 2.5.2. Filtro por el año 2000 en adelante

In [34]:
game_summary = game_summary[game_summary["game_date_est"] >= "2000-01-01"]

In [35]:
null_game_summary = game_summary.isnull().sum()
total_register = len(game_summary)
null_result = null_game_summary[null_game_summary > 0]

df_null_game_summary = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_summary

                                  Valores nulos  Total registros  Porcentaje
live_pc_time                              25490            27514       92.64
natl_tv_broadcaster_abbreviation          21311            27514       77.46

### 2.5.3. Eliminacion de nullos mayores al 75%

In [36]:
null_75 = df_null_game_summary[df_null_game_summary["Porcentaje"] > 75]
null_75

                                  Valores nulos  Total registros  Porcentaje
live_pc_time                              25490            27514       92.64
natl_tv_broadcaster_abbreviation          21311            27514       77.46

In [37]:
delete_columns = list(null_75.index)
game_summary.drop(columns=delete_columns, inplace=True)

In [38]:
null_game_summary = game_summary.isnull().sum()
total_register = len(game_summary)
null_result = null_game_summary[null_game_summary > 0]

df_null_game_summary = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game_summary

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.6. Tabla game

### 2.6.1. Lectura de nulos

In [39]:
game.isnull().sum(), game.shape

(season_id                     0
 team_id_home                  0
 team_abbreviation_home        0
 team_name_home                0
 game_id                       0
 game_date                     0
 matchup_home                  0
 wl_home                       2
 min                           0
 fgm_home                     13
 fga_home                  15447
 fg_pct_home               15490
 fg3m_home                 13218
 fg3a_home                 18683
 fg3_pct_home              19074
 ftm_home                     16
 fta_home                   3004
 ft_pct_home                3009
 oreb_home                 18936
 dreb_home                 18999
 reb_home                  15729
 ast_home                  15805
 stl_home                  18849
 blk_home                  18626
 tov_home                  18684
 pf_home                    2856
 pts_home                      0
 plus_minus_home               0
 video_available_home          0
 team_id_away                  0
 team_abbreviation_away        0
 team_name_away                0
 matchup_away                  0
 wl_away                       2
 fgm_away                     13
 fga_away                  15447
 fg_pct_away               15489
 fg3m_away                 13218
 fg3a_away                 18683
 fg3_pct_away              18962
 ftm_away                     13
 fta_away                   3004
 ft_pct_away                3006
 oreb_away                 18936
 dreb_away                 18998
 reb_away                  15725
 ast_away                  15801
 stl_away                  18849
 blk_away                  18625
 tov_away                  18685
 pf_away                    2851
 pts_away                      0
 plus_minus_away               0
 video_available_away          0
 season_type                   0
 dtype: int64,
 (65698, 55))

In [40]:
null_game = game.isnull().sum()
total_register = len(game)
null_result = null_game[null_game > 0]

df_null_game= pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game

              Valores nulos  Total registros  Porcentaje
wl_home                   2            65698        0.00
fgm_home                 13            65698        0.02
fga_home              15447            65698       23.51
fg_pct_home           15490            65698       23.58
fg3m_home             13218            65698       20.12
fg3a_home             18683            65698       28.44
fg3_pct_home          19074            65698       29.03
ftm_home                 16            65698        0.02
fta_home               3004            65698        4.57
ft_pct_home            3009            65698        4.58
oreb_home             18936            65698       28.82
dreb_home             18999            65698       28.92
reb_home              15729            65698       23.94
ast_home              15805            65698       24.06
stl_home              18849            65698       28.69
blk_home              18626            65698       28.35
tov_home              18684            65698       28.44
pf_home                2856            65698        4.35
wl_away                   2            65698        0.00
fgm_away                 13            65698        0.02
fga_away              15447            65698       23.51
fg_pct_away           15489            65698       23.58
fg3m_away             13218            65698       20.12
fg3a_away             18683            65698       28.44
fg3_pct_away          18962            65698       28.86
ftm_away                 13            65698        0.02
fta_away               3004            65698        4.57
ft_pct_away            3006            65698        4.58
oreb_away             18936            65698       28.82
dreb_away             18998            65698       28.92
reb_away              15725            65698       23.94
ast_away              15801            65698       24.05
stl_away              18849            65698       28.69
blk_away              18625            65698       28.35
tov_away              18685            65698       28.44
pf_away                2851            65698        4.34

### 2.6.2. Filtro del año 2000 en adelante

In [41]:
game = game[game['game_date'] >= "2000-01-01"]

In [42]:
null_game = game.isnull().sum()
total_register = len(game)
null_result = null_game[null_game > 0]

df_null_game= pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game

             Valores nulos  Total registros  Porcentaje
wl_home                  2            30426        0.01
ft_pct_home              2            30426        0.01
wl_away                  2            30426        0.01
ft_pct_away              1            30426        0.00

### 2.6.3. Llenado de nulos por 0

In [43]:
game = game.fillna(0)

In [44]:
null_game = game.isnull().sum()
total_register = len(game)
null_result = null_game[null_game > 0]

df_null_game= pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_game

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.7. Tabla inactive_players

### 2.7.1. Lectura de nulos

In [45]:
inactive_players.isnull().sum(), inactive_players.shape

(game_id               0
 player_id             0
 first_name            1
 last_name             1
 jersey_num           43
 team_id               0
 team_city             0
 team_name             0
 team_abbreviation     0
 dtype: int64,
 (110191, 9))

In [46]:
null_inactive_players = inactive_players.isnull().sum()
total_register = len(inactive_players)
null_result = null_inactive_players[null_inactive_players > 0]

df_null_inactive_players = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_inactive_players

            Valores nulos  Total registros  Porcentaje
first_name              1           110191        0.00
last_name               1           110191        0.00
jersey_num             43           110191        0.04

### 2.7.2. Filtro por los juegos filtrados de la tabla game

In [47]:
inactive_players = inactive_players[inactive_players['game_id'].isin(game['game_id'])]

In [48]:
null_inactive_players = inactive_players.isnull().sum()
total_register = len(inactive_players)
null_result = null_inactive_players[null_inactive_players > 0]

df_null_inactive_players = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_inactive_players

            Valores nulos  Total registros  Porcentaje
first_name              1           110041        0.00
last_name               1           110041        0.00
jersey_num             43           110041        0.04

### 2.7.3. Eliminacion de filas nulas en las diversas columnas

In [49]:
inactive_players.dropna(subset=['first_name', 'last_name'], inplace=True)

In [50]:
null_inactive_players = inactive_players.isnull().sum()
total_register = len(inactive_players)
null_result = null_inactive_players[null_inactive_players > 0]

df_null_inactive_players = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_inactive_players

            Valores nulos  Total registros  Porcentaje
jersey_num             43           110040        0.04

### 2.7.4. Eliminacion de columnas innecesarias

In [51]:
delete_columns = ['jersey_num']

inactive_players.drop(delete_columns, axis=1, inplace=True)

In [52]:
null_inactive_players = inactive_players.isnull().sum()
total_register = len(inactive_players)
null_result = null_inactive_players[null_inactive_players > 0]

df_null_inactive_players = pd.DataFrame({
    "Valores nulos": null_result,
    "Total registros": total_register,
    "Porcentaje": (null_result / total_register * 100).round(2)
})

df_null_inactive_players

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.8. Tabla line_score

### 2.8.1. Lectura de nulos

In [53]:
line_score.isnull().sum(), line_score.shape

(game_date_est                 0
 game_sequence             25532
 game_id                       0
 team_id_home                  0
 team_abbreviation_home        0
 team_city_name_home           0
 team_nickname_home            0
 team_wins_losses_home         0
 pts_qtr1_home              1004
 pts_qtr2_home              1013
 pts_qtr3_home              1045
 pts_qtr4_home              1044
 pts_ot1_home              25759
 pts_ot2_home              27051
 pts_ot3_home              27243
 pts_ot4_home              27270
 pts_ot5_home              45577
 pts_ot6_home              45578
 pts_ot7_home              45578
 pts_ot8_home              45578
 pts_ot9_home              45578
 pts_ot10_home             45578
 pts_home                      0
 team_id_away                  0
 team_abbreviation_away        0
 team_city_name_away           0
 team_nickname_away            0
 team_wins_losses_away         0
 pts_qtr1_away              1010
 pts_qtr2_away              1013
 pts_qtr3_away              1046
 pts_qtr4_away              1046
 pts_ot1_away              25759
 pts_ot2_away              27051
 pts_ot3_away              27243
 pts_ot4_away              27270
 pts_ot5_away              45577
 pts_ot6_away              45578
 pts_ot7_away              45578
 pts_ot8_away              45578
 pts_ot9_away              45578
 pts_ot10_away             45578
 pts_away                      0
 dtype: int64,
 (58053, 43))

In [54]:
null_line_score = line_score.isnull().sum()
total_register = len(line_score)
null_result = null_line_score[null_line_score > 0]

df_null_line_score = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_line_score

               Valores nulos  Total registros  Porcentaje
game_sequence          25532            58053       43.98
pts_qtr1_home           1004            58053        1.73
pts_qtr2_home           1013            58053        1.74
pts_qtr3_home           1045            58053        1.80
pts_qtr4_home           1044            58053        1.80
pts_ot1_home           25759            58053       44.37
pts_ot2_home           27051            58053       46.60
pts_ot3_home           27243            58053       46.93
pts_ot4_home           27270            58053       46.97
pts_ot5_home           45577            58053       78.51
pts_ot6_home           45578            58053       78.51
pts_ot7_home           45578            58053       78.51
pts_ot8_home           45578            58053       78.51
pts_ot9_home           45578            58053       78.51
pts_ot10_home          45578            58053       78.51
pts_qtr1_away           1010            58053        1.74
pts_qtr2_away           1013            58053        1.74
pts_qtr3_away           1046            58053        1.80
pts_qtr4_away           1046            58053        1.80
pts_ot1_away           25759            58053       44.37
pts_ot2_away           27051            58053       46.60
pts_ot3_away           27243            58053       46.93
pts_ot4_away           27270            58053       46.97
pts_ot5_away           45577            58053       78.51
pts_ot6_away           45578            58053       78.51
pts_ot7_away           45578            58053       78.51
pts_ot8_away           45578            58053       78.51
pts_ot9_away           45578            58053       78.51
pts_ot10_away          45578            58053       78.51

### 2.8.2. Filtro por el año 2000 en adelante

In [55]:
line_score = line_score[line_score['game_date_est'] >= "2000-01-01"]

In [56]:
null_line_score = line_score.isnull().sum()
total_register = len(line_score)
null_result = null_line_score[null_line_score > 0]

df_null_line_score = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_line_score

               Valores nulos  Total registros  Porcentaje
pts_ot1_home               1            27457        0.00
pts_ot2_home               2            27457        0.01
pts_ot3_home               2            27457        0.01
pts_ot4_home               2            27457        0.01
pts_ot5_home           14984            27457       54.57
pts_ot6_home           14984            27457       54.57
pts_ot7_home           14984            27457       54.57
pts_ot8_home           14984            27457       54.57
pts_ot9_home           14984            27457       54.57
pts_ot10_home          14984            27457       54.57
pts_ot1_away               1            27457        0.00
pts_ot2_away               2            27457        0.01
pts_ot3_away               2            27457        0.01
pts_ot4_away               2            27457        0.01
pts_ot5_away           14984            27457       54.57
pts_ot6_away           14984            27457       54.57
pts_ot7_away           14984            27457       54.57
pts_ot8_away           14984            27457       54.57
pts_ot9_away           14984            27457       54.57
pts_ot10_away          14984            27457       54.57

### 2.8.3. Filtro por nulos mayores al 50%

In [57]:
null_50 = df_null_line_score[df_null_line_score["Porcentaje"] > 50]
null_50

               Valores nulos  Total registros  Porcentaje
pts_ot5_home           14984            27457       54.57
pts_ot6_home           14984            27457       54.57
pts_ot7_home           14984            27457       54.57
pts_ot8_home           14984            27457       54.57
pts_ot9_home           14984            27457       54.57
pts_ot10_home          14984            27457       54.57
pts_ot5_away           14984            27457       54.57
pts_ot6_away           14984            27457       54.57
pts_ot7_away           14984            27457       54.57
pts_ot8_away           14984            27457       54.57
pts_ot9_away           14984            27457       54.57
pts_ot10_away          14984            27457       54.57

In [58]:
delete_columns = list(null_50.index)
line_score.drop(columns=delete_columns, inplace=True)

In [59]:
null_line_score = line_score.isnull().sum()
total_register = len(line_score)
null_result = null_line_score[null_line_score > 0]

df_null_line_score = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_line_score

              Valores nulos  Total registros  Porcentaje
pts_ot1_home              1            27457        0.00
pts_ot2_home              2            27457        0.01
pts_ot3_home              2            27457        0.01
pts_ot4_home              2            27457        0.01
pts_ot1_away              1            27457        0.00
pts_ot2_away              2            27457        0.01
pts_ot3_away              2            27457        0.01
pts_ot4_away              2            27457        0.01

### 2.8.4. Agregado de 0 a los nulos restantes

In [60]:
line_score = line_score.fillna(0)

In [61]:
null_line_score = line_score.isnull().sum()
total_register = len(line_score)
null_result = null_line_score[null_line_score > 0]

df_null_line_score = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_line_score

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.9. Tabla officials

### 2.9.1. Lectura de nulos

In [62]:
officials.isnull().sum(), officials.shape

(game_id          0
 official_id      0
 first_name       0
 last_name        0
 jersey_num     190
 dtype: int64,
 (70971, 5))

In [63]:
null_officials = officials.isnull().sum()
total_register = len(officials)
null_result = null_officials[null_officials > 0]

df_null_officials = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_officials

            Valores nulos  Total registros  Porcentaje
jersey_num            190            70971        0.27

### 2.9.2. Eliminacion de columnnas innecesarias

In [64]:
officials = officials.drop(['jersey_num'], axis=1)

In [65]:
null_officials = officials.isnull().sum()
total_register = len(officials)
null_result = null_officials[null_officials > 0]

df_null_officials = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_officials

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.10. Tabla other_stats

### 2.10.1. Lectura de nulos

In [66]:
other_stats.isnull().sum(), other_stats.shape

(game_id                      0
 league_id                    0
 team_id_home                 0
 team_abbreviation_home       0
 team_city_home               0
 pts_paint_home               0
 pts_2nd_chance_home          0
 pts_fb_home                  0
 largest_lead_home            0
 lead_changes                 0
 times_tied                   0
 team_turnovers_home          2
 total_turnovers_home       316
 team_rebounds_home        1998
 pts_off_to_home           2123
 team_id_away                 0
 team_abbreviation_away       0
 team_city_away               0
 pts_paint_away               0
 pts_2nd_chance_away          0
 pts_fb_away                  0
 largest_lead_away            0
 team_turnovers_away          2
 total_turnovers_away       316
 team_rebounds_away        1998
 pts_off_to_away           2123
 dtype: int64,
 (28271, 26))

In [67]:
null_other_stats = other_stats.isnull().sum()
total_register = len(other_stats)
null_result = null_other_stats[null_other_stats > 0]

df_null_other_stats = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_other_stats

                      Valores nulos  Total registros  Porcentaje
team_turnovers_home               2            28271        0.01
total_turnovers_home            316            28271        1.12
team_rebounds_home             1998            28271        7.07
pts_off_to_home                2123            28271        7.51
team_turnovers_away               2            28271        0.01
total_turnovers_away            316            28271        1.12
team_rebounds_away             1998            28271        7.07
pts_off_to_away                2123            28271        7.51

### 2.10.2. Eliminacion de columnas innecesarias

In [68]:
delete_columns = ['league_id']

other_stats.drop(delete_columns, axis=1, inplace=True)

In [69]:
null_other_stats = other_stats.isnull().sum()
total_register = len(other_stats)
null_result = null_other_stats[null_other_stats > 0]

df_null_other_stats = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_other_stats

                      Valores nulos  Total registros  Porcentaje
team_turnovers_home               2            28271        0.01
total_turnovers_home            316            28271        1.12
team_rebounds_home             1998            28271        7.07
pts_off_to_home                2123            28271        7.51
team_turnovers_away               2            28271        0.01
total_turnovers_away            316            28271        1.12
team_rebounds_away             1998            28271        7.07
pts_off_to_away                2123            28271        7.51

### 2.10.3. Eliminacion de filas nulas en diferentes columnas

In [70]:
other_stats = other_stats.dropna(subset=['team_turnovers_home', 'total_turnovers_home', 'team_rebounds_home', 'pts_off_to_home', 'team_turnovers_away', 'total_turnovers_away', 'team_rebounds_away', 'pts_off_to_away'])

In [71]:
null_other_stats = other_stats.isnull().sum()
total_register = len(other_stats)
null_result = null_other_stats[null_other_stats > 0]

df_null_other_stats = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_other_stats

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.11. Tabla player

### 2.11.1. Lectura de nulos

In [72]:
player.isnull().sum(), player.shape

(id            0
 full_name     0
 first_name    6
 last_name     0
 is_active     0
 dtype: int64,
 (4831, 5))

In [73]:
null_player = player.isnull().sum()
total_register = len(player)
null_result = null_player[null_player > 0]

df_null_player = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_player

            Valores nulos  Total registros  Porcentaje
first_name              6             4831        0.12

## 2.12. Tabla team_details

### 2.12.1. Lectura de nulos

In [74]:
team_details.isnull().sum(), team_details.shape

(team_id               0
 abbreviation          0
 nickname              0
 yearfounded           0
 city                  0
 arena                 0
 arenacapacity         9
 owner                 0
 generalmanager        0
 headcoach             1
 dleagueaffiliation    0
 facebook              0
 instagram             0
 twitter               0
 dtype: int64,
 (25, 14))

In [76]:
null_team_details = team_details.isnull().sum()
total_register = len(team_details)
null_result = null_team_details[null_team_details > 0]

df_null_team_details = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_team_details

               Valores nulos  Total registros  Porcentaje
arenacapacity              9               25        36.0
headcoach                  1               25         4.0

### 2.12.2. Eliminacion de columnas de redes sociales

In [ ]:
delete_columns = ['facebook', 'instagram', 'twitter']
team_details.drop(columns=delete_columns, inplace=True)

,team_id,abbreviation,nickname,yearfounded,city,arena,arenacapacity,owner,generalmanager,headcoach,dleagueaffiliation
0,1610612737,ATL,Hawks,1949.0,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Quin Snyder,College Park Skyhawks
1,1610612741,CHI,Bulls,1966.0,Chicago,United Center,21711.0,Michael Reinsdorf,Arturas Karnisovas,Billy Donovan,Windy City Bulls
2,1610612742,DAL,Mavericks,1980.0,Dallas,American Airlines Center,19200.0,Mark Cuban,Nico Harrison,Jason Kidd,Texas Legends
3,1610612743,DEN,Nuggets,1976.0,Denver,Ball Arena,NaN,Stan Kroenke,Calvin Booth,Michael Malone,Grand Rapids Gold
4,1610612744,GSW,Warriors,1946.0,Golden State,Chase Center,NaN,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors
5,1610612745,HOU,Rockets,1967.0,Houston,Toyota Center,18104.0,Tilman Fertitta,Rafael Stone,Ime Udoka,Rio Grande Valley Vipers
6,1610612746,LAC,Clippers,1970.0,Los Angeles,Crypto.com Arena,19060.0,Steve Ballmer,Michael Winger,Tyronn Lue,Agua Caliente Clippers of Ontario
7,1610612747,LAL,Lakers,1948.0,Los Angeles,Crypto.com Arena,19060.0,Jeanie Buss,Rob Pelinka,Darvin Ham,South Bay Lakers
8,1610612748,MIA,Heat,1988.0,Miami,Kaseya Center,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
9,1610612749,MIL,Bucks,1968.0,Milwaukee,Fiserv Forum,17500.0,Wesley Edens & Marc Lasry,Jon Horst,Adrian Griffin,Wisconsin Herd
10,1610612750,MIN,Timberwolves,1989.0,Minnesota,Target Center,19356.0,Glen Taylor,Tim Connelly,Chris Finch,Iowa Wolves
11,1610612751,BKN,Nets,1976.0,Brooklyn,Barclays Center,NaN,Joe Tsai,Sean Marks,Jacque Vaughn,Long Island Nets
12,1610612754,IND,Pacers,1976.0,Indiana,Gainbridge Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Rick Carlisle,Fort Wayne Mad Ants
13,1610612755,PHI,76ers,1949.0,Philadelphia,Wells Fargo Center,NaN,Joshua Harris & David Blitzer,Elton Brand,Nick Nurse,Delaware Blue Coats
14,1610612756,PHX,Suns,1968.0,Phoenix,Footprint Center,NaN,Mat Ishbia,James Jones,Frank Vogel,No Affiliate
15,1610612757,POR,Trail Blazers,1970.0,Portland,Moda Center,19980.0,Jody Allen,Joe Cronin,Chauncey Billups,No Affiliate
16,1610612758,SAC,Kings,1948.0,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Monte McNair,Mike Brown,Stockton Kings
17,1610612759,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
18,1610612760,OKC,Thunder,1967.0,Oklahoma City,Paycom Center,NaN,Clay Bennett,Sam Presti,Mark Daigneault,Oklahoma City Blue
19,1610612761,TOR,Raptors,1995.0,Toronto,Scotiabank Arena,NaN,Lawrence Tanenbaum,Masai Ujiri,NaN,Raptors 905
20,1610612762,UTA,Jazz,1974.0,Utah,Delta Center,NaN,Ryan Smith,Justin Zanik,Will Hardy,Salt Lake City Stars
21,1610612763,MEM,Grizzlies,1995.0,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle
22,1610612764,WAS,Wizards,1961.0,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Wes Unseld,Capital City Go-Go
23,1610612765,DET,Pistons,1948.0,Detroit,Little Caesars Arena,NaN,Tom Gores,Ed Stefanski,Monty Williams,Motor City Cruise
24,1610612766,CHA,Hornets,1988.0,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,Steve Clifford,Greensboro Swarm

### 2.12.3. Relleno de nulos por la mediiana

In [ ]:
column_null = ["arenacapacity"]
for column in column_null:
    team_details[column] = team_details[column].fillna(team_details[column].median())

,team_id,abbreviation,nickname,yearfounded,city,arena,arenacapacity,owner,generalmanager,headcoach,dleagueaffiliation
0,1610612737,ATL,Hawks,1949.0,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Quin Snyder,College Park Skyhawks
1,1610612741,CHI,Bulls,1966.0,Chicago,United Center,21711.0,Michael Reinsdorf,Arturas Karnisovas,Billy Donovan,Windy City Bulls
2,1610612742,DAL,Mavericks,1980.0,Dallas,American Airlines Center,19200.0,Mark Cuban,Nico Harrison,Jason Kidd,Texas Legends
3,1610612743,DEN,Nuggets,1976.0,Denver,Ball Arena,19043.0,Stan Kroenke,Calvin Booth,Michael Malone,Grand Rapids Gold
4,1610612744,GSW,Warriors,1946.0,Golden State,Chase Center,19043.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors
5,1610612745,HOU,Rockets,1967.0,Houston,Toyota Center,18104.0,Tilman Fertitta,Rafael Stone,Ime Udoka,Rio Grande Valley Vipers
6,1610612746,LAC,Clippers,1970.0,Los Angeles,Crypto.com Arena,19060.0,Steve Ballmer,Michael Winger,Tyronn Lue,Agua Caliente Clippers of Ontario
7,1610612747,LAL,Lakers,1948.0,Los Angeles,Crypto.com Arena,19060.0,Jeanie Buss,Rob Pelinka,Darvin Ham,South Bay Lakers
8,1610612748,MIA,Heat,1988.0,Miami,Kaseya Center,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
9,1610612749,MIL,Bucks,1968.0,Milwaukee,Fiserv Forum,17500.0,Wesley Edens & Marc Lasry,Jon Horst,Adrian Griffin,Wisconsin Herd
10,1610612750,MIN,Timberwolves,1989.0,Minnesota,Target Center,19356.0,Glen Taylor,Tim Connelly,Chris Finch,Iowa Wolves
11,1610612751,BKN,Nets,1976.0,Brooklyn,Barclays Center,19043.0,Joe Tsai,Sean Marks,Jacque Vaughn,Long Island Nets
12,1610612754,IND,Pacers,1976.0,Indiana,Gainbridge Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Rick Carlisle,Fort Wayne Mad Ants
13,1610612755,PHI,76ers,1949.0,Philadelphia,Wells Fargo Center,19043.0,Joshua Harris & David Blitzer,Elton Brand,Nick Nurse,Delaware Blue Coats
14,1610612756,PHX,Suns,1968.0,Phoenix,Footprint Center,19043.0,Mat Ishbia,James Jones,Frank Vogel,No Affiliate
15,1610612757,POR,Trail Blazers,1970.0,Portland,Moda Center,19980.0,Jody Allen,Joe Cronin,Chauncey Billups,No Affiliate
16,1610612758,SAC,Kings,1948.0,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Monte McNair,Mike Brown,Stockton Kings
17,1610612759,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
18,1610612760,OKC,Thunder,1967.0,Oklahoma City,Paycom Center,19043.0,Clay Bennett,Sam Presti,Mark Daigneault,Oklahoma City Blue
19,1610612761,TOR,Raptors,1995.0,Toronto,Scotiabank Arena,19043.0,Lawrence Tanenbaum,Masai Ujiri,NaN,Raptors 905
20,1610612762,UTA,Jazz,1974.0,Utah,Delta Center,19043.0,Ryan Smith,Justin Zanik,Will Hardy,Salt Lake City Stars
21,1610612763,MEM,Grizzlies,1995.0,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle
22,1610612764,WAS,Wizards,1961.0,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Wes Unseld,Capital City Go-Go
23,1610612765,DET,Pistons,1948.0,Detroit,Little Caesars Arena,19043.0,Tom Gores,Ed Stefanski,Monty Williams,Motor City Cruise
24,1610612766,CHA,Hornets,1988.0,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,Steve Clifford,Greensboro Swarm

In [79]:
null_team_details = team_details.isnull().sum()
total_register = len(team_details)
null_result = null_team_details[null_team_details > 0]

df_null_team_details = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_team_details

           Valores nulos  Total registros  Porcentaje
headcoach              1               25         4.0

### 2.12.4. Eliminacion de filas nulas en la columna

In [80]:
team_details = team_details.dropna(subset=['headcoach'])

In [81]:
null_team_details = team_details.isnull().sum()
total_register = len(team_details)
null_result = null_team_details[null_team_details > 0]

df_null_team_details = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_team_details

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.13. Tabla team_history

### 2.13.1. Lectura de nulos

In [82]:
team_history.isnull().sum(), team_history.shape

(team_id             0
 city                0
 nickname            0
 year_founded        0
 year_active_till    0
 dtype: int64,
 (52, 5))

In [83]:
null_team_history = team_history.isnull().sum()
total_register = len(team_history)
null_result = null_team_history[null_team_history > 0]

df_null_team_history = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_team_history

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.14. Tabla team_info_common

### 2.14.1. Lectura de nulos

In [84]:
team_info_common.isnull().sum(), team_info_common.shape

(team_id              0
 season_year          0
 team_city            0
 team_name            0
 team_abbreviation    0
 team_conference      0
 team_division        0
 team_code            0
 team_slug            0
 w                    0
 l                    0
 pct                  0
 conf_rank            0
 div_rank             0
 min_year             0
 max_year             0
 league_id            0
 season_id            0
 pts_rank             0
 pts_pg               0
 reb_rank             0
 reb_pg               0
 ast_rank             0
 ast_pg               0
 opp_pts_rank         0
 opp_pts_pg           0
 dtype: int64,
 (0, 26))

In [85]:
null_team_info_common = team_info_common.isnull().sum()
total_register = len(team_info_common)
null_result = null_team_info_common[null_team_info_common > 0]

df_null_team_info_common = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_team_info_common

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.15. Tabla team

### 2.15.1. Lectura de nulos

In [86]:
team.isnull().sum(), team.shape

(id              0
 full_name       0
 abbreviation    0
 nickname        0
 city            0
 state           0
 year_founded    0
 dtype: int64,
 (30, 7))

In [87]:
null_team = team.isnull().sum()
total_register = len(team)
null_result = null_team[null_team > 0]

df_null_team = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_team

Empty DataFrame
Columns: [Valores nulos, Total registros, Porcentaje]
Index: []

## 2.16. Tabla play_by_play

### 2.16.1. Lectura de nulos

In [88]:
play_by_play.isnull().sum(), play_by_play.shape

(game_id                             0
 eventnum                            0
 eventmsgtype                        0
 eventmsgactiontype                  0
 period                              0
 wctimestring                      950
 pctimestring                        0
 homedescription               6530241
 neutraldescription           13273327
 visitordescription            6634527
 score                        10028436
 scoremargin                  10028436
 person1type                      3298
 player1_id                          0
 player1_name                  1208875
 player1_team_id               1215858
 player1_team_city             1215858
 player1_team_nickname         1215858
 player1_team_abbreviation     1215858
 person2type                         0
 player2_id                          0
 player2_name                  9683745
 player2_team_id               9660454
 player2_team_city             9660454
 player2_team_nickname         9660454
 player2_team_abbreviation     9660454
 person3type                         0
 player3_id                          0
 player3_name                 13251785
 player3_team_id              13246931
 player3_team_city            13246931
 player3_team_nickname        13246931
 player3_team_abbreviation    13246931
 video_available_flag                0
 dtype: int64,
 (13592899, 34))

In [89]:
null_play_by_play = play_by_play.isnull().sum()
total_register = len(play_by_play)
null_result = null_play_by_play[null_play_by_play > 0]

df_null_play_by_play = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_play_by_play

                           Valores nulos  Total registros  Porcentaje
wctimestring                         950         13592899        0.01
homedescription                  6530241         13592899       48.04
neutraldescription              13273327         13592899       97.65
visitordescription               6634527         13592899       48.81
score                           10028436         13592899       73.78
scoremargin                     10028436         13592899       73.78
person1type                         3298         13592899        0.02
player1_name                     1208875         13592899        8.89
player1_team_id                  1215858         13592899        8.94
player1_team_city                1215858         13592899        8.94
player1_team_nickname            1215858         13592899        8.94
player1_team_abbreviation        1215858         13592899        8.94
player2_name                     9683745         13592899       71.24
player2_team_id                  9660454         13592899       71.07
player2_team_city                9660454         13592899       71.07
player2_team_nickname            9660454         13592899       71.07
player2_team_abbreviation        9660454         13592899       71.07
player3_name                    13251785         13592899       97.49
player3_team_id                 13246931         13592899       97.45
player3_team_city               13246931         13592899       97.45
player3_team_nickname           13246931         13592899       97.45
player3_team_abbreviation       13246931         13592899       97.45

### 2.16.2. Eliminacion de columna innecesaria

In [90]:
play_by_play = play_by_play.drop(["video_available_flag"], axis=1)

### 2.16.3. Filtro por el cuarto cuarto

In [91]:
play_by_play_qt4 = play_by_play[play_by_play["period"].isin([4])]

### 2.16.4. Filtro por los ultimos 5 minutos

In [92]:
# Convertir "pctimestring" a segundos para facilitar la comparación
play_by_play_qt4 = play_by_play_qt4.copy()  # Create a copy to avoid the warning
play_by_play_qt4["pctimestring"] = play_by_play_qt4["pctimestring"].astype(str).apply(
    lambda x: int(x.split(":")[0]) * 60 + int(x.split(":")[1]) if ":" in x else None
)

# Filtrar las jugadas en los últimos 5 minutos (300 segundos)
play_by_play_clutch = play_by_play_qt4[play_by_play_qt4["pctimestring"] <= 300].copy()

# Convertir de vuelta "pctimestring" a formato m:ss
play_by_play_clutch["pctimestring"] = play_by_play_clutch["pctimestring"].apply(
    lambda x: f"{x // 60}:{x % 60:02d}" if pd.notnull(x) else None
)

In [93]:
null_play_by_play = play_by_play.isnull().sum()
total_register = len(play_by_play)
null_result = null_play_by_play[null_play_by_play > 0]

df_null_play_by_play = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_play_by_play

                           Valores nulos  Total registros  Porcentaje
wctimestring                         950         13592899        0.01
homedescription                  6530241         13592899       48.04
neutraldescription              13273327         13592899       97.65
visitordescription               6634527         13592899       48.81
score                           10028436         13592899       73.78
scoremargin                     10028436         13592899       73.78
person1type                         3298         13592899        0.02
player1_name                     1208875         13592899        8.89
player1_team_id                  1215858         13592899        8.94
player1_team_city                1215858         13592899        8.94
player1_team_nickname            1215858         13592899        8.94
player1_team_abbreviation        1215858         13592899        8.94
player2_name                     9683745         13592899       71.24
player2_team_id                  9660454         13592899       71.07
player2_team_city                9660454         13592899       71.07
player2_team_nickname            9660454         13592899       71.07
player2_team_abbreviation        9660454         13592899       71.07
player3_name                    13251785         13592899       97.49
player3_team_id                 13246931         13592899       97.45
player3_team_city               13246931         13592899       97.45
player3_team_nickname           13246931         13592899       97.45
player3_team_abbreviation       13246931         13592899       97.45

### 2.16.5. Eliminacion de columnas de datos de player y team

In [94]:
delete_columns = ["person1type", "player1_name", "player1_team_city", "player1_team_nickname", "player1_team_abbreviation", "person2type", "player2_name", "player2_team_city", "player2_team_nickname", "player2_team_abbreviation", "person3type", "player3_name", "player3_team_city", "player3_team_nickname", "player3_team_abbreviation"]

play_by_play_clutch.drop(delete_columns, axis=1, inplace=True)

In [95]:
null_play_by_play = play_by_play.isnull().sum()
total_register = len(play_by_play)
null_result = null_play_by_play[null_play_by_play > 0]

df_null_play_by_play = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_play_by_play

                           Valores nulos  Total registros  Porcentaje
wctimestring                         950         13592899        0.01
homedescription                  6530241         13592899       48.04
neutraldescription              13273327         13592899       97.65
visitordescription               6634527         13592899       48.81
score                           10028436         13592899       73.78
scoremargin                     10028436         13592899       73.78
person1type                         3298         13592899        0.02
player1_name                     1208875         13592899        8.89
player1_team_id                  1215858         13592899        8.94
player1_team_city                1215858         13592899        8.94
player1_team_nickname            1215858         13592899        8.94
player1_team_abbreviation        1215858         13592899        8.94
player2_name                     9683745         13592899       71.24
player2_team_id                  9660454         13592899       71.07
player2_team_city                9660454         13592899       71.07
player2_team_nickname            9660454         13592899       71.07
player2_team_abbreviation        9660454         13592899       71.07
player3_name                    13251785         13592899       97.49
player3_team_id                 13246931         13592899       97.45
player3_team_city               13246931         13592899       97.45
player3_team_nickname           13246931         13592899       97.45
player3_team_abbreviation       13246931         13592899       97.45

### 2.16.6. Eliminacion de columnas de evento del partido, perido y hora

In [96]:
delete_columns = ["eventnum", "period", "wctimestring"]

play_by_play_clutch.drop(delete_columns, axis=1, inplace=True)

In [97]:
null_play_by_play = play_by_play.isnull().sum()
total_register = len(play_by_play)
null_result = null_play_by_play[null_play_by_play > 0]

df_null_play_by_play = pd.DataFrame(
    {
        "Valores nulos": null_result,
        "Total registros": total_register,
        "Porcentaje": (null_result / total_register * 100).round(2),
    }
)

df_null_play_by_play

                           Valores nulos  Total registros  Porcentaje
wctimestring                         950         13592899        0.01
homedescription                  6530241         13592899       48.04
neutraldescription              13273327         13592899       97.65
visitordescription               6634527         13592899       48.81
score                           10028436         13592899       73.78
scoremargin                     10028436         13592899       73.78
person1type                         3298         13592899        0.02
player1_name                     1208875         13592899        8.89
player1_team_id                  1215858         13592899        8.94
player1_team_city                1215858         13592899        8.94
player1_team_nickname            1215858         13592899        8.94
player1_team_abbreviation        1215858         13592899        8.94
player2_name                     9683745         13592899       71.24
player2_team_id                  9660454         13592899       71.07
player2_team_city                9660454         13592899       71.07
player2_team_nickname            9660454         13592899       71.07
player2_team_abbreviation        9660454         13592899       71.07
player3_name                    13251785         13592899       97.49
player3_team_id                 13246931         13592899       97.45
player3_team_city               13246931         13592899       97.45
player3_team_nickname           13246931         13592899       97.45
player3_team_abbreviation       13246931         13592899       97.45

# 3. Muestra del resultado de las tablas

In [98]:
common_player_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1877 entries, 2 to 4169
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   person_id          1877 non-null   int64
 1   display_fi_last    1877 non-null   object
 2   birthdate          1877 non-null   object
 3   school             1877 non-null   object
 4   country            1877 non-null   object
 5   last_affiliation   1877 non-null   object
 6   height             1877 non-null   object
 7   weight             1877 non-null   float64
 8   season_exp         1877 non-null   float64
 9   position           1877 non-null   object
 10  rosterstatus       1877 non-null   object
 11  team_id            1877 non-null   int64
 12  playercode         1877 non-null   object
 13  from_year          1877 non-null   float64
 14  to_year            1877 non-null   float64
 15  dleague_flag       1877 non-null   object
 16  nba_flag           1877 non-null   object
 17  games_played_flag  1877 non-null   object
 18  draft_year         1877 non-null   object
 19  draft_round        1877 non-null   object
 20  draft_number       1877 non-null   object
 21  greatest_75_flag   1877 non-null   object
dtypes: float64(4), int64(2), object(16)
memory usage: 337.3+ KB

In [99]:
draft_combine_stats.info()

<class 'pandas.core.frame.DataFrame'>
Index: 704 entries, 0 to 992
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season                  704 non-null    int64
 1   player_id               704 non-null    int64
 2   first_name              704 non-null    object
 3   last_name               704 non-null    object
 4   player_name             704 non-null    object
 5   position                704 non-null    object
 6   height_wo_shoes         704 non-null    float64
 7   weight                  704 non-null    float64
 8   wingspan                704 non-null    float64
 9   standing_reach          704 non-null    float64
 10  body_fat_pct            704 non-null    float64
 11  standing_vertical_leap  704 non-null    float64
 12  max_vertical_leap       704 non-null    float64
 13  lane_agility_time       704 non-null    float64
 14  three_quarter_sprint    704 non-null    float64
 15  bench_press             704 non-null    float64
dtypes: float64(10), int64(2), object(4)
memory usage: 93.5+ KB

In [100]:
draft_history.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1363 entries, 6625 to 7989
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   person_id            1363 non-null   int64
 1   player_name          1363 non-null   object
 2   season               1363 non-null   int64
 3   round_number         1363 non-null   int64
 4   round_pick           1363 non-null   int64
 5   overall_pick         1363 non-null   int64
 6   draft_type           1363 non-null   object
 7   team_id              1363 non-null   int64
 8   team_city            1363 non-null   object
 9   team_name            1363 non-null   object
 10  team_abbreviation    1363 non-null   object
 11  organization         1363 non-null   object
 12  organization_type    1363 non-null   object
 13  player_profile_flag  1363 non-null   int64
dtypes: int64(7), object(7)
memory usage: 159.7+ KB

In [115]:
game_info_2000_plus.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27457 entries, 30596 to 58052
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   game_id    27457 non-null  int64
 1   game_date  27457 non-null  object
dtypes: int64(1), object(1)
memory usage: 643.5+ KB

In [102]:
game_summary.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27514 entries, 30596 to 58109
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_date_est           27514 non-null  object
 1   game_sequence           27514 non-null  float64
 2   game_id                 27514 non-null  int64
 3   game_status_id          27514 non-null  int64
 4   game_status_text        27514 non-null  object
 5   gamecode                27514 non-null  object
 6   home_team_id            27514 non-null  int64
 7   visitor_team_id         27514 non-null  int64
 8   season                  27514 non-null  int64
 9   live_period             27514 non-null  int64
 10  live_period_time_bcast  27514 non-null  object
 11  wh_status               27514 non-null  int64
dtypes: float64(1), int64(7), object(4)
memory usage: 2.7+ MB

In [103]:
game.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30426 entries, 35272 to 65697
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               30426 non-null  int64
 1   team_id_home            30426 non-null  int64
 2   team_abbreviation_home  30426 non-null  object
 3   team_name_home          30426 non-null  object
 4   game_id                 30426 non-null  int64
 5   game_date               30426 non-null  object
 6   matchup_home            30426 non-null  object
 7   wl_home                 30426 non-null  object
 8   min                     30426 non-null  int64
 9   fgm_home                30426 non-null  float64
 10  fga_home                30426 non-null  float64
 11  fg_pct_home             30426 non-null  float64
 12  fg3m_home               30426 non-null  float64
 13  fg3a_home               30426 non-null  float64
 14  fg3_pct_home            30426 non-null  float64
 15  ftm_home                30426 non-null  float64
 16  fta_home                30426 non-null  float64
 17  ft_pct_home             30426 non-null  float64
 18  oreb_home               30426 non-null  float64
 19  dreb_home               30426 non-null  float64
 20  reb_home                30426 non-null  float64
 21  ast_home                30426 non-null  float64
 22  stl_home                30426 non-null  float64
 23  blk_home                30426 non-null  float64
 24  tov_home                30426 non-null  float64
 25  pf_home                 30426 non-null  float64
 26  pts_home                30426 non-null  float64
 27  plus_minus_home         30426 non-null  int64
 28  video_available_home    30426 non-null  int64
 29  team_id_away            30426 non-null  int64
 30  team_abbreviation_away  30426 non-null  object
 31  team_name_away          30426 non-null  object
 32  matchup_away            30426 non-null  object
 33  wl_away                 30426 non-null  object
 34  fgm_away                30426 non-null  float64
 35  fga_away                30426 non-null  float64
 36  fg_pct_away             30426 non-null  float64
 37  fg3m_away               30426 non-null  float64
 38  fg3a_away               30426 non-null  float64
 39  fg3_pct_away            30426 non-null  float64
 40  ftm_away                30426 non-null  float64
 41  fta_away                30426 non-null  float64
 42  ft_pct_away             30426 non-null  float64
 43  oreb_away               30426 non-null  float64
 44  dreb_away               30426 non-null  float64
 45  reb_away                30426 non-null  float64
 46  ast_away                30426 non-null  float64
 47  stl_away                30426 non-null  float64
 48  blk_away                30426 non-null  float64
 49  tov_away                30426 non-null  float64
 50  pf_away                 30426 non-null  float64
 51  pts_away                30426 non-null  float64
 52  plus_minus_away         30426 non-null  int64
 53  video_available_away    30426 non-null  int64
 54  season_type             30426 non-null  object
dtypes: float64(36), int64(9), object(10)
memory usage: 13.0+ MB

In [104]:
inactive_players.info()

<class 'pandas.core.frame.DataFrame'>
Index: 110040 entries, 150 to 110190
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   game_id            110040 non-null  int64
 1   player_id          110040 non-null  int64
 2   first_name         110040 non-null  object
 3   last_name          110040 non-null  object
 4   team_id            110040 non-null  int64
 5   team_city          110040 non-null  object
 6   team_name          110040 non-null  object
 7   team_abbreviation  110040 non-null  object
dtypes: int64(3), object(5)
memory usage: 7.6+ MB

In [105]:
line_score.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27457 entries, 30596 to 58052
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_date_est           27457 non-null  object
 1   game_sequence           27457 non-null  float64
 2   game_id                 27457 non-null  int64
 3   team_id_home            27457 non-null  int64
 4   team_abbreviation_home  27457 non-null  object
 5   team_city_name_home     27457 non-null  object
 6   team_nickname_home      27457 non-null  object
 7   team_wins_losses_home   27457 non-null  object
 8   pts_qtr1_home           27457 non-null  float64
 9   pts_qtr2_home           27457 non-null  float64
 10  pts_qtr3_home           27457 non-null  float64
 11  pts_qtr4_home           27457 non-null  float64
 12  pts_ot1_home            27457 non-null  float64
 13  pts_ot2_home            27457 non-null  float64
 14  pts_ot3_home            27457 non-null  float64
 15  pts_ot4_home            27457 non-null  float64
 16  pts_home                27457 non-null  float64
 17  team_id_away            27457 non-null  int64
 18  team_abbreviation_away  27457 non-null  object
 19  team_city_name_away     27457 non-null  object
 20  team_nickname_away      27457 non-null  object
 21  team_wins_losses_away   27457 non-null  object
 22  pts_qtr1_away           27457 non-null  float64
 23  pts_qtr2_away           27457 non-null  float64
 24  pts_qtr3_away           27457 non-null  float64
 25  pts_qtr4_away           27457 non-null  float64
 26  pts_ot1_away            27457 non-null  float64
 27  pts_ot2_away            27457 non-null  float64
 28  pts_ot3_away            27457 non-null  float64
 29  pts_ot4_away            27457 non-null  float64
 30  pts_away                27457 non-null  float64
dtypes: float64(19), int64(3), object(9)
memory usage: 6.7+ MB

In [106]:
officials.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70971 entries, 0 to 70970
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   game_id      70971 non-null  int64
 1   official_id  70971 non-null  int64
 2   first_name   70971 non-null  object
 3   last_name    70971 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.2+ MB

In [107]:
other_stats.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24251 entries, 18 to 28270
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 24251 non-null  int64
 1   team_id_home            24251 non-null  int64
 2   team_abbreviation_home  24251 non-null  object
 3   team_city_home          24251 non-null  object
 4   pts_paint_home          24251 non-null  int64
 5   pts_2nd_chance_home     24251 non-null  int64
 6   pts_fb_home             24251 non-null  int64
 7   largest_lead_home       24251 non-null  int64
 8   lead_changes            24251 non-null  int64
 9   times_tied              24251 non-null  int64
 10  team_turnovers_home     24251 non-null  float64
 11  total_turnovers_home    24251 non-null  float64
 12  team_rebounds_home      24251 non-null  float64
 13  pts_off_to_home         24251 non-null  float64
 14  team_id_away            24251 non-null  int64
 15  team_abbreviation_away  24251 non-null  object
 16  team_city_away          24251 non-null  object
 17  pts_paint_away          24251 non-null  int64
 18  pts_2nd_chance_away     24251 non-null  int64
 19  pts_fb_away             24251 non-null  int64
 20  largest_lead_away       24251 non-null  int64
 21  team_turnovers_away     24251 non-null  float64
 22  total_turnovers_away    24251 non-null  float64
 23  team_rebounds_away      24251 non-null  float64
 24  pts_off_to_away         24251 non-null  float64
dtypes: float64(8), int64(13), object(4)
memory usage: 4.8+ MB

In [113]:
play_by_play_clutch.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1642623 entries, 416 to 13592898
Data columns (total 15 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   game_id             1642623 non-null  int64
 1   eventmsgtype        1642623 non-null  int64
 2   eventmsgactiontype  1642623 non-null  int64
 3   pctimestring        1642623 non-null  object
 4   homedescription     840019 non-null   object
 5   neutraldescription  39823 non-null    object
 6   visitordescription  840246 non-null   object
 7   score               440903 non-null   object
 8   scoremargin         440903 non-null   object
 9   player1_id          1642623 non-null  int64
 10  player1_team_id     1447637 non-null  float64
 11  player2_id          1642623 non-null  int64
 12  player2_team_id     440635 non-null   float64
 13  player3_id          1642623 non-null  int64
 14  player3_team_id     34023 non-null    float64
dtypes: float64(3), int64(6), object(6)
memory usage: 200.5+ MB

In [109]:
player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4831 entries, 0 to 4830
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          4831 non-null   int64
 1   full_name   4831 non-null   object
 2   first_name  4825 non-null   object
 3   last_name   4831 non-null   object
 4   is_active   4831 non-null   int64
dtypes: int64(2), object(3)
memory usage: 188.8+ KB

In [110]:
team_details.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24 entries, 0 to 24
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   team_id             24 non-null     int64
 1   abbreviation        24 non-null     object
 2   nickname            24 non-null     object
 3   yearfounded         24 non-null     float64
 4   city                24 non-null     object
 5   arena               24 non-null     object
 6   arenacapacity       24 non-null     float64
 7   owner               24 non-null     object
 8   generalmanager      24 non-null     object
 9   headcoach           24 non-null     object
 10  dleagueaffiliation  24 non-null     object
dtypes: float64(2), int64(1), object(8)
memory usage: 2.2+ KB

In [111]:
team_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   team_id           52 non-null     int64
 1   city              52 non-null     object
 2   nickname          52 non-null     object
 3   year_founded      52 non-null     int64
 4   year_active_till  52 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.2+ KB

In [112]:
team.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            30 non-null     int64
 1   full_name     30 non-null     object
 2   abbreviation  30 non-null     object
 3   nickname      30 non-null     object
 4   city          30 non-null     object
 5   state         30 non-null     object
 6   year_founded  30 non-null     float64
dtypes: float64(1), int64(1), object(5)
memory usage: 1.8+ KB

# 4. Insercion a la base de datos

## 4.1. Carga de variables de entorno

In [ ]:
from dotenv import load_dotenv
import os

# Carga variables desde el archivo .env
load_dotenv()

# Accede a las variables
SERVER = os.getenv("SERVER")
DATABASE = os.getenv("DATABASE")
USER = os.getenv("USER")
PASSWORD = os.getenv("PASSWORD")
DRIVER = os.getenv("DRIVER")

## 4.2. Conexion a la base de datos

In [132]:
from sqlalchemy import create_engine

# Crear la cadena de conexión
connection_string = f"mssql+pyodbc://{USER}:{PASSWORD}@{SERVER}/{DATABASE}?driver={DRIVER}"
engine = create_engine(connection_string)

# Verificar la conexión
try:
    with engine.connect() as connection:
        print("Conexión a la base de datos exitosa.")
except Exception as e:
    print(f"Error al conectar a la base de datos: {e}")

Conexión a la base de datos exitosa.

## 4.3. Inserción de los dataframe a la base de datos