In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df_comm_player = pd.read_csv('../csv/common_player_info.csv')
df_comm_player

,person_id,first_name,last_name,display_first_last,display_last_comma_first,display_fi_last,player_slug,birthdate,school,country,...,playercode,from_year,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24 00:00:00,Duke,USA,...,HISTADD_alaa_abdelnaby,1990.0,1994.0,N,Y,Y,1990,1,25,N
1,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16 00:00:00,UCLA,USA,...,HISTADD_kareem_abdul-jabbar,1969.0,1988.0,N,Y,Y,1969,1,1,Y
2,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,1974-11-03 00:00:00,San Jose State,France,...,tariq_abdul-wahad,1997.0,2003.0,N,Y,Y,1997,1,11,N
3,949,Shareef,Abdur-Rahim,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",S. Abdur-Rahim,shareef-abdur-rahim,1976-12-11 00:00:00,California,USA,...,shareef_abdur-rahim,1996.0,2007.0,N,Y,Y,1996,1,3,N
4,76005,Tom,Abernethy,Tom Abernethy,"Abernethy, Tom",T. Abernethy,tom-abernethy,1954-05-06 00:00:00,Indiana,USA,...,HISTADD_tom_abernethy,1976.0,1980.0,N,Y,Y,1976,3,43,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4166,1627835,Paul,Zipser,Paul Zipser,"Zipser, Paul",P. Zipser,paul-zipser,1994-02-18 00:00:00,Bayern Munich,Germany,...,paul_zipser,2016.0,2017.0,Y,Y,Y,2016,2,48,N
4167,1627790,Ante,Zizic,Ante Zizic,"Zizic, Ante",A. Zizic,ante-zizic,1997-01-04 00:00:00,Darussafaka,Croatia,...,ante_zizic,2017.0,2019.0,Y,Y,Y,2016,1,23,N
4168,78647,Jim,Zoet,Jim Zoet,"Zoet, Jim",J. Zoet,jim-zoet,1953-12-30 00:00:00,Kent State,USA,...,HISTADD_jim_zoet,1982.0,1982.0,N,Y,Y,Undrafted,Undrafted,Undrafted,N
4169,1627826,Ivica,Zubac,Ivica Zubac,"Zubac, Ivica",I. Zubac,ivica-zubac,1997-03-18 00:00:00,Mega Basket,Croatia,...,ivica_zubac,2016.0,2023.0,Y,Y,Y,2016,2,32,N
4170,78650,Matt,Zunic,Matt Zunic,"Zunic, Matt",M. Zunic,matt-zunic,1919-12-19 00:00:00,George Washington,USA,...,HISTADD_matt_zunic,1948.0,1948.0,N,Y,Y,1947,NaN,NaN,N

In [8]:
df_comm_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4171 entries, 0 to 4170
Data columns (total 33 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   person_id                         4171 non-null   int64
 1   first_name                        4171 non-null   object
 2   last_name                         4171 non-null   object
 3   display_first_last                4171 non-null   object
 4   display_last_comma_first          4171 non-null   object
 5   display_fi_last                   4171 non-null   object
 6   player_slug                       4171 non-null   object
 7   birthdate                         4171 non-null   object
 8   school                            4156 non-null   object
 9   country                           4170 non-null   object
 10  last_affiliation                  4171 non-null   object
 11  height                            4075 non-null   object
 12  weight                            4071 non-null   float64
 13  season_exp                        4171 non-null   float64
 14  jersey                            3191 non-null   object
 15  position                          4108 non-null   object
 16  rosterstatus                      4171 non-null   object
 17  games_played_current_season_flag  4171 non-null   object
 18  team_id                           4171 non-null   int64
 19  team_name                         3469 non-null   object
 20  team_abbreviation                 3469 non-null   object
 21  team_code                         3469 non-null   object
 22  team_city                         3469 non-null   object
 23  playercode                        4170 non-null   object
 24  from_year                         4156 non-null   float64
 25  to_year                           4156 non-null   float64
 26  dleague_flag                      4171 non-null   object
 27  nba_flag                          4171 non-null   object
 28  games_played_flag                 4171 non-null   object
 29  draft_year                        4171 non-null   object
 30  draft_round                       4007 non-null   object
 31  draft_number                      3948 non-null   object
 32  greatest_75_flag                  4171 non-null   object
dtypes: float64(4), int64(2), object(27)
memory usage: 1.1+ MB

In [7]:
df_comm_player.isna().sum()

person_id                             0
first_name                            0
last_name                             0
display_first_last                    0
display_last_comma_first              0
display_fi_last                       0
player_slug                           0
birthdate                             0
school                               15
country                               1
last_affiliation                      0
height                               96
weight                              100
season_exp                            0
jersey                              980
position                             63
rosterstatus                          0
games_played_current_season_flag      0
team_id                               0
team_name                           702
team_abbreviation                   702
team_code                           702
team_city                           702
playercode                            1
from_year                            15
to_year                              15
dleague_flag                          0
nba_flag                              0
games_played_flag                     0
draft_year                            0
draft_round                         164
draft_number                        223
greatest_75_flag                      0
dtype: int64

In [9]:
df_draft_combine = pd.read_csv('../csv/draft_combine_stats.csv')
df_draft_combine

,season,player_id,first_name,last_name,player_name,position,height_wo_shoes,height_wo_shoes_ft_in,height_w_shoes,height_w_shoes_ft_in,...,spot_nba_break_right,spot_nba_corner_right,off_drib_fifteen_break_left,off_drib_fifteen_top_key,off_drib_fifteen_break_right,off_drib_college_break_left,off_drib_college_top_key,off_drib_college_break_right,on_move_fifteen,on_move_college
0,2001,12033,Adam,Allenspach,Adam Allenspach,C,83.50,6' 11.5'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,2240,Gilbert,Arenas,Gilbert Arenas,SG,74.25,6' 2.25'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001,2220,Brandon,Armstrong,Brandon Armstrong,SG,75.50,6' 3.5'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001,2203,Shane,Battier,Shane Battier,SF-PF,80.25,6' 8.25'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001,12034,Cookie,Belcher,Cookie Belcher,SG-PG,75.00,6' 3'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,2023,1641705,Victor,Wembanyama,Victor Wembanyama,C,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1198,2023,1641727,Dariq,Whitehead,Dariq Whitehead,SG,77.75,6' 5.75'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1199,2023,1641715,Cam,Whitmore,Cam Whitmore,SF,77.75,6' 5.75'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1200,2023,1630592,Jalen,Wilson,Jalen Wilson,SF,77.50,6' 5.50'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18-30,NaN,NaN,NaN,14-25
1201,2023,1631209,Isaiah,Wong,Isaiah Wong,SG,74.50,6' 2.50'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,23-30,NaN,NaN,NaN,17-25

In [11]:
df_draft_combine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1202 entries, 0 to 1201
Data columns (total 47 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   season                        1202 non-null   int64
 1   player_id                     1202 non-null   int64
 2   first_name                    1202 non-null   object
 3   last_name                     1202 non-null   object
 4   player_name                   1202 non-null   object
 5   position                      1197 non-null   object
 6   height_wo_shoes               1153 non-null   float64
 7   height_wo_shoes_ft_in         1153 non-null   object
 8   height_w_shoes                1008 non-null   float64
 9   height_w_shoes_ft_in          1008 non-null   object
 10  weight                        1152 non-null   float64
 11  wingspan                      1153 non-null   float64
 12  wingspan_ft_in                1153 non-null   object
 13  standing_reach                1152 non-null   float64
 14  standing_reach_ft_in          1152 non-null   object
 15  body_fat_pct                  1003 non-null   float64
 16  hand_length                   719 non-null    float64
 17  hand_width                    719 non-null    float64
 18  standing_vertical_leap        1017 non-null   float64
 19  max_vertical_leap             1017 non-null   float64
 20  lane_agility_time             1008 non-null   float64
 21  modified_lane_agility_time    411 non-null    float64
 22  three_quarter_sprint          1012 non-null   float64
 23  bench_press                   808 non-null    float64
 24  spot_fifteen_corner_left      74 non-null     object
 25  spot_fifteen_break_left       76 non-null     object
 26  spot_fifteen_top_key          76 non-null     object
 27  spot_fifteen_break_right      76 non-null     object
 28  spot_fifteen_corner_right     76 non-null     object
 29  spot_college_corner_left      245 non-null    object
 30  spot_college_break_left       166 non-null    object
 31  spot_college_top_key          166 non-null    object
 32  spot_college_break_right      166 non-null    object
 33  spot_college_corner_right     166 non-null    object
 34  spot_nba_corner_left          217 non-null    object
 35  spot_nba_break_left           217 non-null    object
 36  spot_nba_top_key              217 non-null    object
 37  spot_nba_break_right          217 non-null    object
 38  spot_nba_corner_right         217 non-null    object
 39  off_drib_fifteen_break_left   166 non-null    object
 40  off_drib_fifteen_top_key      166 non-null    object
 41  off_drib_fifteen_break_right  166 non-null    object
 42  off_drib_college_break_left   110 non-null    object
 43  off_drib_college_top_key      31 non-null     object
 44  off_drib_college_break_right  31 non-null     object
 45  on_move_fifteen               148 non-null    object
 46  on_move_college               116 non-null    object
dtypes: float64(14), int64(2), object(31)
memory usage: 441.5+ KB

In [12]:
df_draft_combine.isna().sum()

season                             0
player_id                          0
first_name                         0
last_name                          0
player_name                        0
position                           5
height_wo_shoes                   49
height_wo_shoes_ft_in             49
height_w_shoes                   194
height_w_shoes_ft_in             194
weight                            50
wingspan                          49
wingspan_ft_in                    49
standing_reach                    50
standing_reach_ft_in              50
body_fat_pct                     199
hand_length                      483
hand_width                       483
standing_vertical_leap           185
max_vertical_leap                185
lane_agility_time                194
modified_lane_agility_time       791
three_quarter_sprint             190
bench_press                      394
spot_fifteen_corner_left        1128
spot_fifteen_break_left         1126
spot_fifteen_top_key            1126
spot_fifteen_break_right        1126
spot_fifteen_corner_right       1126
spot_college_corner_left         957
spot_college_break_left         1036
spot_college_top_key            1036
spot_college_break_right        1036
spot_college_corner_right       1036
spot_nba_corner_left             985
spot_nba_break_left              985
spot_nba_top_key                 985
spot_nba_break_right             985
spot_nba_corner_right            985
off_drib_fifteen_break_left     1036
off_drib_fifteen_top_key        1036
off_drib_fifteen_break_right    1036
off_drib_college_break_left     1092
off_drib_college_top_key        1171
off_drib_college_break_right    1171
on_move_fifteen                 1054
on_move_college                 1086
dtype: int64

In [ ]:
df_draft_history = pd.read_csv('../csv/draft_history.csv')
df_draft_history

,person_id,player_name,season,round_number,round_pick,overall_pick,draft_type,team_id,team_city,team_name,team_abbreviation,organization,organization_type,player_profile_flag
0,79299,Clifton McNeeley,1947,1,1,1,Draft,1610610031,Pittsburgh,Ironmen,PIT,Texas-El Paso,College/University,0
1,78109,Glen Selbo,1947,1,2,2,Draft,1610610035,Toronto,Huskies,HUS,Wisconsin,College/University,1
2,76649,Eddie Ehlers,1947,1,3,3,Draft,1610612738,Boston,Celtics,BOS,Purdue,College/University,1
3,79302,Walt Dropo,1947,1,4,4,Draft,1610610032,Providence,Steamrollers,PRO,Connecticut,College/University,0
4,77048,Dick Holub,1947,1,5,5,Draft,1610612752,New York,Knicks,NYK,Long Island-Brooklyn,College/University,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7985,1641771,Jalen Slawson,2023,2,24,54,Draft,1610612758,Sacramento,Kings,SAC,Furman,College/University,1
7986,1631209,Isaiah Wong,2023,2,25,55,Draft,1610612754,Indiana,Pacers,IND,Miami (FL),College/University,1
7987,1641844,Tarik Biberovic,2023,2,26,56,Draft,1610612763,Memphis,Grizzlies,MEM,Fenerbahce S.K. (Turkey),Other Team/Club,1
7988,1631218,Trayce Jackson-Davis,2023,2,27,57,Draft,1610612764,Washington,Wizards,WAS,Indiana,College/University,1
7989,1641753,Chris Livingston,2023,2,28,58,Draft,1610612749,Milwaukee,Bucks,MIL,Kentucky,College/University,1

In [14]:
df_draft_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7990 entries, 0 to 7989
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   person_id            7990 non-null   int64
 1   player_name          7990 non-null   object
 2   season               7990 non-null   int64
 3   round_number         7990 non-null   int64
 4   round_pick           7990 non-null   int64
 5   overall_pick         7990 non-null   int64
 6   draft_type           7990 non-null   object
 7   team_id              7990 non-null   int64
 8   team_city            7990 non-null   object
 9   team_name            7990 non-null   object
 10  team_abbreviation    7990 non-null   object
 11  organization         7971 non-null   object
 12  organization_type    7971 non-null   object
 13  player_profile_flag  7990 non-null   int64
dtypes: int64(7), object(7)
memory usage: 874.0+ KB

In [ ]:
df_game_info = pd.read_csv('../csv/game_info.csv')
df_game_info

        game_id            game_date  attendance game_time
0      24600001  1946-11-01 00:00:00         NaN       NaN
1      24600003  1946-11-02 00:00:00         NaN       NaN
2      24600002  1946-11-02 00:00:00         NaN       NaN
3      24600004  1946-11-02 00:00:00         NaN       NaN
4      24600005  1946-11-02 00:00:00         NaN       NaN
...         ...                  ...         ...       ...
58048  42200403  2023-06-07 00:00:00     20019.0      2:24
58049  42200404  2023-06-09 00:00:00     20184.0      2:29
58050  42200405  2023-06-12 00:00:00     19537.0      2:22
58051  32200001  2023-02-19 00:00:00     17886.0      0:00
58052  32200001  2023-02-19 00:00:00     17886.0      0:00

[58053 rows x 4 columns]

In [16]:
df_game_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58053 entries, 0 to 58052
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   game_id     58053 non-null  int64
 1   game_date   58053 non-null  object
 2   attendance  52673 non-null  float64
 3   game_time   29942 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.8+ MB

In [ ]:
df_inactive_players = pd.read_csv('../csv/inactive_players.csv')
df_inactive_players

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
0,29600034,184,Bobby,Phills,14.0,1610612739,Cleveland,Cavaliers,CLE
1,29600034,781,Will,Perdue,41.0,1610612759,San Antonio,Spurs,SAS
2,29600132,120,Steven,Smith,8.0,1610612737,Atlanta,Hawks,ATL
3,29600203,698,Eddie,Johnson,8.0,1610612754,Indiana,Pacers,IND
4,29600213,32,Clifford,Rozier,44.0,1610612753,Orlando,Magic,ORL
...,...,...,...,...,...,...,...,...,...
110186,32200001,1629627,Zion,Williamson,1.0,1610616834,Team,LeBron,LBN
110187,32200001,201939,Stephen,Curry,30.0,1610616834,Team,LeBron,LBN
110188,32200001,201142,Kevin,Durant,35.0,1610616833,Team,Giannis,GNS
110189,32200001,1629627,Zion,Williamson,1.0,1610616834,Team,LeBron,LBN
110190,32200001,201939,Stephen,Curry,30.0,1610616834,Team,LeBron,LBN

In [5]:
df_inactive_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110191 entries, 0 to 110190
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   game_id            110191 non-null  int64
 1   player_id          110191 non-null  int64
 2   first_name         110190 non-null  object
 3   last_name          110190 non-null  object
 4   jersey_num         110148 non-null  float64
 5   team_id            110191 non-null  int64
 6   team_city          110191 non-null  object
 7   team_name          110191 non-null  object
 8   team_abbreviation  110191 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 7.6+ MB

In [ ]:
df_line_score = pd.read_csv('../csv/line_score.csv')
df_line_score

,game_date_est,game_sequence,game_id,team_id_home,team_abbreviation_home,team_city_name_home,team_nickname_home,team_wins_losses_home,pts_qtr1_home,pts_qtr2_home,...,pts_ot2_away,pts_ot3_away,pts_ot4_away,pts_ot5_away,pts_ot6_away,pts_ot7_away,pts_ot8_away,pts_ot9_away,pts_ot10_away,pts_away
0,1946-11-01 00:00:00,NaN,24600001,1610610035,HUS,Toronto,Huskies,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0
1,1946-11-02 00:00:00,NaN,24600003,1610610034,BOM,St. Louis,Bombers,-,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0
2,1946-11-02 00:00:00,NaN,24600002,1610612738,BOS,Boston,Celtics,-,10.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
3,1946-11-02 00:00:00,NaN,24600004,1610610025,CHS,Chicago,Stags,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0
4,1946-11-02 00:00:00,NaN,24600005,1610610036,WAS,Washington,Capitols,-,21.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58048,2023-06-07 00:00:00,1.0,42200403,1610612748,MIA,Miami,Heat,1-2,24.0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.0
58049,2023-06-09 00:00:00,1.0,42200404,1610612748,MIA,Miami,Heat,1-3,21.0,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108.0
58050,2023-06-12 00:00:00,1.0,42200405,1610612743,DEN,Denver,Nuggets,4-1,22.0,22.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89.0
58051,2023-02-19 00:00:00,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0
58052,2023-02-19 00:00:00,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0

In [8]:
df_line_score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58053 entries, 0 to 58052
Data columns (total 43 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_date_est           58053 non-null  object
 1   game_sequence           32521 non-null  float64
 2   game_id                 58053 non-null  int64
 3   team_id_home            58053 non-null  int64
 4   team_abbreviation_home  58053 non-null  object
 5   team_city_name_home     58053 non-null  object
 6   team_nickname_home      58053 non-null  object
 7   team_wins_losses_home   58053 non-null  object
 8   pts_qtr1_home           57049 non-null  float64
 9   pts_qtr2_home           57040 non-null  float64
 10  pts_qtr3_home           57008 non-null  float64
 11  pts_qtr4_home           57009 non-null  float64
 12  pts_ot1_home            32294 non-null  float64
 13  pts_ot2_home            31002 non-null  float64
 14  pts_ot3_home            30810 non-null  float64
 15  pts_ot4_home            30783 non-null  float64
 16  pts_ot5_home            12476 non-null  float64
 17  pts_ot6_home            12475 non-null  float64
 18  pts_ot7_home            12475 non-null  float64
 19  pts_ot8_home            12475 non-null  float64
 20  pts_ot9_home            12475 non-null  float64
 21  pts_ot10_home           12475 non-null  float64
 22  pts_home                58053 non-null  float64
 23  team_id_away            58053 non-null  int64
 24  team_abbreviation_away  58053 non-null  object
 25  team_city_name_away     58053 non-null  object
 26  team_nickname_away      58053 non-null  object
 27  team_wins_losses_away   58053 non-null  object
 28  pts_qtr1_away           57043 non-null  float64
 29  pts_qtr2_away           57040 non-null  float64
 30  pts_qtr3_away           57007 non-null  float64
 31  pts_qtr4_away           57007 non-null  float64
 32  pts_ot1_away            32294 non-null  float64
 33  pts_ot2_away            31002 non-null  float64
 34  pts_ot3_away            30810 non-null  float64
 35  pts_ot4_away            30783 non-null  float64
 36  pts_ot5_away            12476 non-null  float64
 37  pts_ot6_away            12475 non-null  float64
 38  pts_ot7_away            12475 non-null  float64
 39  pts_ot8_away            12475 non-null  float64
 40  pts_ot9_away            12475 non-null  float64
 41  pts_ot10_away           12475 non-null  float64
 42  pts_away                58053 non-null  float64
dtypes: float64(31), int64(3), object(9)
memory usage: 19.0+ MB

In [9]:
df_line_score.isna().sum()

game_date_est                 0
game_sequence             25532
game_id                       0
team_id_home                  0
team_abbreviation_home        0
team_city_name_home           0
team_nickname_home            0
team_wins_losses_home         0
pts_qtr1_home              1004
pts_qtr2_home              1013
pts_qtr3_home              1045
pts_qtr4_home              1044
pts_ot1_home              25759
pts_ot2_home              27051
pts_ot3_home              27243
pts_ot4_home              27270
pts_ot5_home              45577
pts_ot6_home              45578
pts_ot7_home              45578
pts_ot8_home              45578
pts_ot9_home              45578
pts_ot10_home             45578
pts_home                      0
team_id_away                  0
team_abbreviation_away        0
team_city_name_away           0
team_nickname_away            0
team_wins_losses_away         0
pts_qtr1_away              1010
pts_qtr2_away              1013
pts_qtr3_away              1046
pts_qtr4_away              1046
pts_ot1_away              25759
pts_ot2_away              27051
pts_ot3_away              27243
pts_ot4_away              27270
pts_ot5_away              45577
pts_ot6_away              45578
pts_ot7_away              45578
pts_ot8_away              45578
pts_ot9_away              45578
pts_ot10_away             45578
pts_away                      0
dtype: int64

In [ ]:
df_officials = pd.read_csv('../csv/officials.csv')
df_officials

        game_id  official_id first_name  last_name  jersey_num
0      29600059         1140      Bruce  Alexander         9.0
1      29600059         1165       Luis     Grillo         8.0
2      29600059         1153        Joe   Crawford        17.0
3      29600114         1147       Mike   Callahan        24.0
4      29600114         1142       Dick    Bavetta        27.0
...         ...          ...        ...        ...         ...
70966  32200001       200834       Mark    Lindsay        29.0
70967  32200001         1193    Michael      Smith        38.0
70968  32200001       101284       John      Goble        10.0
70969  32200001       200834       Mark    Lindsay        29.0
70970  32200001         1193    Michael      Smith        38.0

[70971 rows x 5 columns]

In [11]:
df_officials.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70971 entries, 0 to 70970
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   game_id      70971 non-null  int64
 1   official_id  70971 non-null  int64
 2   first_name   70971 non-null  object
 3   last_name    70971 non-null  object
 4   jersey_num   70781 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.7+ MB

In [ ]:
df_other_stats = pd.read_csv('../csv/other_stats.csv')
df_other_stats

,game_id,league_id,team_id_home,team_abbreviation_home,team_city_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,...,team_abbreviation_away,team_city_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
0,29600012,0,1610612756,PHX,Phoenix,44,18,2,1,4,...,LAL,Los Angeles,42,10,13,19,0.0,23.0,11.0,NaN
1,29600005,0,1610612737,ATL,Atlanta,32,9,6,0,0,...,MIA,Miami,32,15,14,16,1.0,19.0,6.0,NaN
2,29600002,0,1610612739,CLE,Cleveland,36,14,6,20,1,...,NJN,New Jersey,26,16,4,2,1.0,22.0,12.0,NaN
3,29600007,0,1610612754,IND,Indiana,34,11,4,10,7,...,DET,Detroit,30,14,7,9,2.0,19.0,10.0,NaN
4,29600013,0,1610612746,LAC,Los Angeles,40,19,2,12,5,...,GSW,Golden State,30,9,2,6,0.0,20.0,7.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28266,42200402,0,1610612743,DEN,Denver,50,15,18,15,4,...,MIA,Miami,34,11,5,12,0.0,11.0,4.0,23.0
28267,42200403,0,1610612748,MIA,Miami,34,7,11,5,7,...,DEN,Denver,60,14,11,21,1.0,14.0,7.0,17.0
28268,42200404,0,1610612743,DEN,Denver,48,6,12,17,3,...,MIA,Miami,46,9,14,3,1.0,15.0,9.0,17.0
28269,32200001,0,1610616834,LBN,Team,118,15,27,4,24,...,GNS,Team,88,14,33,19,0.0,12.0,3.0,20.0
28270,32200001,0,1610616834,LBN,Team,118,15,27,4,24,...,GNS,Team,88,14,33,19,0.0,12.0,3.0,20.0

In [14]:
df_other_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28271 entries, 0 to 28270
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 28271 non-null  int64
 1   league_id               28271 non-null  int64
 2   team_id_home            28271 non-null  int64
 3   team_abbreviation_home  28271 non-null  object
 4   team_city_home          28271 non-null  object
 5   pts_paint_home          28271 non-null  int64
 6   pts_2nd_chance_home     28271 non-null  int64
 7   pts_fb_home             28271 non-null  int64
 8   largest_lead_home       28271 non-null  int64
 9   lead_changes            28271 non-null  int64
 10  times_tied              28271 non-null  int64
 11  team_turnovers_home     28269 non-null  float64
 12  total_turnovers_home    27955 non-null  float64
 13  team_rebounds_home      26273 non-null  float64
 14  pts_off_to_home         26148 non-null  float64
 15  team_id_away            28271 non-null  int64
 16  team_abbreviation_away  28271 non-null  object
 17  team_city_away          28271 non-null  object
 18  pts_paint_away          28271 non-null  int64
 19  pts_2nd_chance_away     28271 non-null  int64
 20  pts_fb_away             28271 non-null  int64
 21  largest_lead_away       28271 non-null  int64
 22  team_turnovers_away     28269 non-null  float64
 23  total_turnovers_away    27955 non-null  float64
 24  team_rebounds_away      26273 non-null  float64
 25  pts_off_to_away         26148 non-null  float64
dtypes: float64(8), int64(14), object(4)
memory usage: 5.6+ MB

In [ ]:
df_play_by_play = pd.read_csv('../csv/play_by_play.csv') # Tabla de hechos
df_play_by_play

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,...,player2_team_nickname,player2_team_abbreviation,person3type,player3_id,player3_name,player3_team_id,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag
0,29600012,0,12,0,1,14:43 PM,12:00,NaN,Start of 1st Period (14:43 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
1,29600012,2,10,0,1,14:50 PM,12:00,Jump Ball O'Neal vs. Kleine: Tip to Cassell,NaN,NaN,...,Suns,PHX,5.0,208,Sam Cassell,1.610613e+09,Phoenix,Suns,PHX,0
2,29600012,3,2,1,1,14:51 PM,11:45,NaN,NaN,MISS Cassell 15' Jump Shot,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
3,29600012,4,4,0,1,14:51 PM,11:43,O'Neal REBOUND (Off:0 Def:1),NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
4,29600012,5,2,1,1,14:51 PM,11:29,MISS Ceballos 26' 3PT Jump Shot,NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13592894,32200001,638,1,79,4,10:54 PM,0:00,Brown 30' 3PT Pullup Jump Shot (35 PTS),NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1
13592895,32200001,639,2,1,4,10:54 PM,0:00,NaN,NaN,MISS Markkanen 24' 3PT Jump Shot,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1
13592896,32200001,640,4,0,4,10:54 PM,0:00,NaN,NaN,Lillard REBOUND (Off:1 Def:2),...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1
13592897,32200001,641,1,79,4,10:54 PM,0:00,NaN,NaN,Lillard 30' 3PT Pullup Jump Shot (26 PTS),...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1
13592898,32200001,642,13,0,4,10:55 PM,0:00,NaN,End of 4th Period (10:55 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1

In [17]:
df_play_by_play.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13592899 entries, 0 to 13592898
Data columns (total 34 columns):
 #   Column                     Non-Null Count     Dtype
---  ------                     --------------     -----
 0   game_id                    13592899 non-null  int64
 1   eventnum                   13592899 non-null  int64
 2   eventmsgtype               13592899 non-null  int64
 3   eventmsgactiontype         13592899 non-null  int64
 4   period                     13592899 non-null  int64
 5   wctimestring               13591949 non-null  object
 6   pctimestring               13592899 non-null  object
 7   homedescription            7062658 non-null   object
 8   neutraldescription         319572 non-null    object
 9   visitordescription         6958372 non-null   object
 10  score                      3564463 non-null   object
 11  scoremargin                3564463 non-null   object
 12  person1type                13589601 non-null  float64
 13  player1_id                 13592899 non-null  int64
 14  player1_name               12384024 non-null  object
 15  player1_team_id            12377041 non-null  float64
 16  player1_team_city          12377041 non-null  object
 17  player1_team_nickname      12377041 non-null  object
 18  player1_team_abbreviation  12377041 non-null  object
 19  person2type                13592899 non-null  float64
 20  player2_id                 13592899 non-null  int64
 21  player2_name               3909154 non-null   object
 22  player2_team_id            3932445 non-null   float64
 23  player2_team_city          3932445 non-null   object
 24  player2_team_nickname      3932445 non-null   object
 25  player2_team_abbreviation  3932445 non-null   object
 26  person3type                13592899 non-null  float64
 27  player3_id                 13592899 non-null  int64
 28  player3_name               341114 non-null    object
 29  player3_team_id            345968 non-null    float64
 30  player3_team_city          345968 non-null    object
 31  player3_team_nickname      345968 non-null    object
 32  player3_team_abbreviation  345968 non-null    object
 33  video_available_flag       13592899 non-null  int64
dtypes: float64(6), int64(9), object(19)
memory usage: 3.4+ GB

In [18]:
df_play_by_play.isna().sum()

game_id                             0
eventnum                            0
eventmsgtype                        0
eventmsgactiontype                  0
period                              0
wctimestring                      950
pctimestring                        0
homedescription               6530241
neutraldescription           13273327
visitordescription            6634527
score                        10028436
scoremargin                  10028436
person1type                      3298
player1_id                          0
player1_name                  1208875
player1_team_id               1215858
player1_team_city             1215858
player1_team_nickname         1215858
player1_team_abbreviation     1215858
person2type                         0
player2_id                          0
player2_name                  9683745
player2_team_id               9660454
player2_team_city             9660454
player2_team_nickname         9660454
player2_team_abbreviation     9660454
person3type                         0
player3_id                          0
player3_name                 13251785
player3_team_id              13246931
player3_team_city            13246931
player3_team_nickname        13246931
player3_team_abbreviation    13246931
video_available_flag                0
dtype: int64

In [ ]:
df_player = pd.read_csv('../csv/player.csv')
df_player

           id            full_name first_name     last_name  is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0
...       ...                  ...        ...           ...        ...
4826  1627790           Ante Zizic       Ante         Zizic          0
4827    78647             Jim Zoet        Jim          Zoet          0
4828    78648            Bill Zopf       Bill          Zopf          0
4829  1627826          Ivica Zubac      Ivica         Zubac          1
4830    78650           Matt Zunic       Matt         Zunic          0

[4831 rows x 5 columns]

In [21]:
df_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4831 entries, 0 to 4830
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          4831 non-null   int64
 1   full_name   4831 non-null   object
 2   first_name  4825 non-null   object
 3   last_name   4831 non-null   object
 4   is_active   4831 non-null   int64
dtypes: int64(2), object(3)
memory usage: 188.8+ KB

In [ ]:
df_team_details = pd.read_csv('../csv/team_details.csv') # Info no relevante
df_team_details

,team_id,abbreviation,nickname,yearfounded,city,arena,arenacapacity,owner,generalmanager,headcoach,dleagueaffiliation,facebook,instagram,twitter
0,1610612737,ATL,Hawks,1949.0,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Quin Snyder,College Park Skyhawks,https://www.facebook.com/hawks,https://instagram.com/atlhawks,https://twitter.com/ATLHawks
1,1610612741,CHI,Bulls,1966.0,Chicago,United Center,21711.0,Michael Reinsdorf,Arturas Karnisovas,Billy Donovan,Windy City Bulls,https://www.facebook.com/chicagobulls,https://instagram.com/chicagobulls,https://twitter.com/chicagobulls
2,1610612742,DAL,Mavericks,1980.0,Dallas,American Airlines Center,19200.0,Mark Cuban,Nico Harrison,Jason Kidd,Texas Legends,https://www.facebook.com/dallasmavs,https://instagram.com/dallasmavs,https://twitter.com/dallasmavs
3,1610612743,DEN,Nuggets,1976.0,Denver,Ball Arena,NaN,Stan Kroenke,Calvin Booth,Michael Malone,Grand Rapids Gold,https://www.facebook.com/DenverNuggets,https://instagram.com/nuggets,https://twitter.com/nuggets
4,1610612744,GSW,Warriors,1946.0,Golden State,Chase Center,NaN,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors,https://www.facebook.com/warriors,https://instagram.com/warriors,https://twitter.com/warriors
5,1610612745,HOU,Rockets,1967.0,Houston,Toyota Center,18104.0,Tilman Fertitta,Rafael Stone,Ime Udoka,Rio Grande Valley Vipers,https://www.facebook.com/houstonrockets,https://instagram.com/houstonrockets,https://twitter.com/HoustonRockets
6,1610612746,LAC,Clippers,1970.0,Los Angeles,Crypto.com Arena,19060.0,Steve Ballmer,Michael Winger,Tyronn Lue,Agua Caliente Clippers of Ontario,https://www.facebook.com/LAClippers,https://instagram.com/laclippers,https://twitter.com/LAClippers
7,1610612747,LAL,Lakers,1948.0,Los Angeles,Crypto.com Arena,19060.0,Jeanie Buss,Rob Pelinka,Darvin Ham,South Bay Lakers,https://www.facebook.com/losangeleslakers,https://instagram.com/lakers,https://twitter.com/Lakers
8,1610612748,MIA,Heat,1988.0,Miami,Kaseya Center,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce,https://www.facebook.com/MiamiHeat,https://instagram.com/miamiheat,https://twitter.com/MiamiHEAT
9,1610612749,MIL,Bucks,1968.0,Milwaukee,Fiserv Forum,17500.0,Wesley Edens & Marc Lasry,Jon Horst,Adrian Griffin,Wisconsin Herd,https://www.facebook.com/milwaukeebucks,https://instagram.com/bucks,https://twitter.com/Bucks
10,1610612750,MIN,Timberwolves,1989.0,Minnesota,Target Center,19356.0,Glen Taylor,Tim Connelly,Chris Finch,Iowa Wolves,https://www.facebook.com/MNTimberwolves,https://instagram.com/timberwolves,https://twitter.com/Timberwolves
11,1610612751,BKN,Nets,1976.0,Brooklyn,Barclays Center,NaN,Joe Tsai,Sean Marks,Jacque Vaughn,Long Island Nets,https://www.facebook.com/BrooklynNets,https://instagram.com/brooklynnets,https://twitter.com/BrooklynNets
12,1610612754,IND,Pacers,1976.0,Indiana,Gainbridge Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Rick Carlisle,Fort Wayne Mad Ants,https://www.facebook.com/pacers,https://instagram.com/pacers,https://twitter.com/Pacers
13,1610612755,PHI,76ers,1949.0,Philadelphia,Wells Fargo Center,NaN,Joshua Harris & David Blitzer,Elton Brand,Nick Nurse,Delaware Blue Coats,https://www.facebook.com/Sixers,https://instagram.com/sixers,https://twitter.com/Sixers
14,1610612756,PHX,Suns,1968.0,Phoenix,Footprint Center,NaN,Mat Ishbia,James Jones,Frank Vogel,No Affiliate,https://www.facebook.com/suns,https://instagram.com/suns,https://twitter.com/Suns
15,1610612757,POR,Trail Blazers,1970.0,Portland,Moda Center,19980.0,Jody Allen,Joe Cronin,Chauncey Billups,No Affiliate,https://www.facebook.com/trailblazers,https://instagram.com/trailblazers,https://twitter.com/trailblazers
16,1610612758,SAC,Kings,1948.0,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Monte McNair,Mike Brown,Stockton Kings,https://www.facebook.com/sacramentokings,https://instagram.com/sacramentokings,https://twitter.com/SacramentoKings
17,1610612759,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs,https://www.facebook.com/Spurs,https://instagram.com/spurs,https://twitter.com/spurs
18,1610612760,OKC,Thunder,1967.0,Oklahoma City,Paycom Center,NaN,Clay Bennett,Sam Presti,Mark Daigneault,Oklahoma City Blue,https://www.facebook.com/OKCThunder,https://instagram.com/okcthunder,https://twitter.com/okcthunder
19,1610612761,TOR,Raptors,1995.0,Toronto,Scotiabank Arena,NaN,Lawrence Tanenbaum,Masai Ujiri,NaN,Raptors 905,https://www.facebook.com/TorontoRaptors,https://instagram.com/raptors,https://twitter.com/Raptors
20,1610612762,UTA,Jazz,1974.0,Utah,Delta Center,NaN,Ryan Smith,Justin Zanik,Will Hardy,Salt Lake City Stars,https://www.facebook.com/utahjazz,https://instagram.com/utahjazz,https://twitter.com/utahjazz
21,1610612763,MEM,Grizzlies,1995.0,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle,https://www.facebook.com/MemphisGrizzlies,https://instagram.com/memgrizz,https://twitter.com/memgrizz
22,1610612764,WAS,Wizards,1961.0,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Wes Unseld,Capital City Go-Go,https://www.facebook.com/Wizards,https://instagram.com/washwizards,https://twitter.com/WashWizards
23,1610612765,DET,Pistons,1948.0,Detroit,Little Caesars Arena,NaN,Tom Gores,Ed Stefanski,Monty Williams,Motor City Cruise,https://www.facebook.com/detroitpistons,https://instagram.com/detroitpistons,https://twitter.com/DetroitPistons
24,1610612766,CHA,Hornets,1988.0,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,Steve Clifford,Greensboro Swarm,https://www.facebook.com/hornets,https://instagram.com/hornets,https://twitter.com/hornets

In [23]:
df_team_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   team_id             25 non-null     int64
 1   abbreviation        25 non-null     object
 2   nickname            25 non-null     object
 3   yearfounded         25 non-null     float64
 4   city                25 non-null     object
 5   arena               25 non-null     object
 6   arenacapacity       16 non-null     float64
 7   owner               25 non-null     object
 8   generalmanager      25 non-null     object
 9   headcoach           24 non-null     object
 10  dleagueaffiliation  25 non-null     object
 11  facebook            25 non-null     object
 12  instagram           25 non-null     object
 13  twitter             25 non-null     object
dtypes: float64(2), int64(1), object(11)
memory usage: 2.9+ KB

In [ ]:
df_team_history = pd.read_csv('../csv/team_history.csv')
df_team_history

,team_id,city,nickname,year_founded,year_active_till
0,1610612737,Atlanta,Hawks,1968,2019
1,1610612737,St. Louis,Hawks,1955,1967
2,1610612737,Milwaukee,Hawks,1951,1954
3,1610612737,Tri-Cities,Blackhawks,1949,1950
4,1610612741,Chicago,Bulls,1966,2019
5,1610612742,Dallas,Mavericks,1980,2019
6,1610612743,Denver,Nuggets,1976,2019
7,1610612744,Golden State,Warriors,1971,2019
8,1610612744,San Francisco,Warriors,1962,1970
9,1610612744,Philadelphia,Warriors,1946,1961
10,1610612745,Houston,Rockets,1971,2019
11,1610612745,San Diego,Rockets,1967,1970
12,1610612746,Los Angeles,Clippers,1984,2019
13,1610612746,San Diego,Clippers,1978,1983
14,1610612746,Buffalo,Braves,1970,1977
15,1610612747,Los Angeles,Lakers,1960,2019
16,1610612747,Minneapolis,Lakers,1948,1959
17,1610612748,Miami,Heat,1988,2019
18,1610612749,Milwaukee,Bucks,1968,2019
19,1610612750,Minnesota,Timberwolves,1989,2019
20,1610612751,Brooklyn,Nets,2012,2019
21,1610612751,New Jersey,Nets,1977,2011
22,1610612751,New York,Nets,1976,1976
23,1610612754,Indiana,Pacers,1976,2019
24,1610612755,Philadelphia,76ers,1963,2019
25,1610612755,Syracuse,Nationals,1949,1962
26,1610612756,Phoenix,Suns,1968,2019
27,1610612757,Portland,Trail Blazers,1970,2019
28,1610612758,Sacramento,Kings,1985,2019
29,1610612758,Kansas City,Kings,1975,1984
30,1610612758,Kansas City-Omaha,Kings,1972,1974
31,1610612758,Cincinnati,Royals,1957,1971
32,1610612758,Rochester,Royals,1948,1956
33,1610612759,San Antonio,Spurs,1976,2019
34,1610612760,Oklahoma City,Thunder,2008,2019
35,1610612760,Seattle,SuperSonics,1967,2007
36,1610612761,Toronto,Raptors,1995,2019
37,1610612762,Utah,Jazz,1979,2019
38,1610612762,New Orleans,Jazz,1974,1978
39,1610612763,Memphis,Grizzlies,2001,2019
40,1610612763,Vancouver,Grizzlies,1995,2000
41,1610612764,Washington,Wizards,1997,2019
42,1610612764,Washington,Bullets,1974,1996
43,1610612764,Capital,Bullets,1973,1973
44,1610612764,Baltimore,Bullets,1963,1972
45,1610612764,Chicago,Zephyrs,1962,1962
46,1610612764,Chicago,Packers,1961,1961
47,1610612765,Detroit,Pistons,1957,2019
48,1610612765,Ft. Wayne Zollner,Pistons,1948,1956
49,1610612766,Charlotte,Hornets,2014,2019
50,1610612766,Charlotte,Bobcats,2004,2013
51,1610612766,Charlotte,Hornets,1988,2001

In [26]:
df_team_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   team_id           52 non-null     int64
 1   city              52 non-null     object
 2   nickname          52 non-null     object
 3   year_founded      52 non-null     int64
 4   year_active_till  52 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.2+ KB

In [ ]:
df_team_info_common = pd.read_csv('../csv/team_info_common.csv') #eliminar
df_team_info_common

Empty DataFrame
Columns: [team_id, season_year, team_city, team_name, team_abbreviation, team_conference, team_division, team_code, team_slug, w, l, pct, conf_rank, div_rank, min_year, max_year, league_id, season_id, pts_rank, pts_pg, reb_rank, reb_pg, ast_rank, ast_pg, opp_pts_rank, opp_pts_pg]
Index: []

[0 rows x 26 columns]

In [ ]:
df_team = pd.read_csv('../csv/team.csv')
df_team

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949.0
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946.0
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970.0
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002.0
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966.0
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980.0
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976.0
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946.0
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967.0
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970.0
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948.0
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988.0
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968.0
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989.0
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976.0
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946.0
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989.0
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976.0
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949.0
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968.0
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970.0
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948.0
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976.0
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967.0
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995.0
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974.0
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995.0
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961.0
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948.0
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988.0